/*
Theme Name: pcagencytheme
Theme URI: https://wordpress.org/themes/pcagencytheme/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: pcagencytheme brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: pcagencytheme
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments of Blocks
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts

   --------------------------------------------------------------*/


/*--------------------------------------------------------------
3.0 Alignments of blocks
--------------------------------------------------------------*/

body, html {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

a,
p,
span, 
strong, 
div, 
section, 
aside, 
footer, 
main, 
header, 
article
h1, h2, h3, h4, h5, h6, button { 
	font-family: 'Roboto', sans-serif; 
	font-size: 16px;
}

.wrapper {
	max-width: 1600px;
	width: 93%;
	margin: 0 auto;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}


iframe {
	width: 100%;
	max-width: 800px;
}

svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}


/* Padding Spaces ============= */
.hz-space {
	padding-left: 4%;
	padding-right: 4%;
}

.vz-space {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Sections Titles */
.entry-title {
	color: #fddb7e;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-size: 2.5rem;
	font-weight: 600;
	padding: 0;
	line-height: normal;
	margin: 20px 0;
}

/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

label {
	color: #333;
	display: block;
	font-weight: 800;
	margin-bottom: 0.5em;
	font-family: 'Roboto';
}

fieldset {
	margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
.form-control:focus {
	color: #222;
	border-color: #333;
}

select {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
	font-family: 'Roboto';
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #d83d3d;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1.2em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}


/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #333;
	font-family: 'Roboto', sans-serif;
}

:-moz-placeholder {
	color: #333;
	font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {
	color: #333;
	font-family: 'Roboto', sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #333;
	font-family: 'Roboto', sans-serif;
}

#custom_form_post {
	display: none;
	padding-top: 20vh;
}

.steps-animate { min-height: 40vh; }


.form-info input,
.form-info textarea {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #999;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: transparent;
	font-size: 18px;
}

.form-info input:hover,
.form-info input:focus {
	border-bottom-color: #ccc;
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.bg-grey { background-color: #222; }
.bg-cream {	background-color: #f5f5f5; }
.bg-white { background-color: #fff; }


/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

a {
	color: #222;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:focus {
	color: #fddb7e;
	outline: 0;
}


.nav-previous,
.nav-next {
	margin: 0 5px;
}


/* HEADER STYLING ================================================= */
.site-header { 
	width: 100%;
	padding: 0; 
	position: fixed;
	top: 0;
	left: 0;
/*	background-color: rgba(0,0,0,0.3);*/
	z-index: 999;
}

.menu-item a { 
	font-weight: 600; 
}

.navbar-toggle .icon-bar { background-color: #000; }
.navbar-toggle { background-color: #fddb7e; }

footer .menu-item a { font-weight: 100; }

.custom-logo,
.main-navigation { 
	float: left;	
	text-align: right;
}

/*#main-menu .sub-menu .menu-item-has-children a { padding: 10px 0; }*/

#main-menu .menu-item { position: relative; }
#main-menu .menu-item-has-children svg {
	width: 15px;
	height: 15px;
	perspective: 100px;
}


#main-menu .menu-item-has-children .sub-menu { display: none; }


 	#main-menu .menu-item-has-children .sub-menu {
 		background-color: #555d66;
 		color: #fddb7e;
 		list-style-type: none;
 	}

 	.menu-item > a { 
 		color: #fddb7e;	
 		font-size: 1rem;
 	}

 		.custom-logo a { 
		    display: inline-block;
		    padding-right: 15px;
		    border-right: 1px solid #fddb7e;
		    margin-right: 20px;
		}
		.custom-logo span { 
    		display: inline-block;
    		vertical-align: text-top;
			color: #fddb7e;
		}

 	#main-menu .menu-item-has-children .sub-menu a { color: #fddb7e; }
 	.nav>li>a:focus, .nav>li>a:hover { background-color: transparent; }

 	#main-menu > .menu-item { border: 1px solid transparent; }
 	#main-menu > .menu-item:hover { 
 		background-color: #555d66; 
 		border-top-color: #fddb7e;
 		border-right-color: #fddb7e;
 		border-left-color: #fddb7e;
 	}
 	#main-menu > .menu-item:hover a { color: #fddb7e; }


 	/* Footer styling ========================== */
 	.site-footer ul { 
 		margin-bottom: 0;
 		padding-inline-start: 10px;
 	}

 	.site-footer { text-align: center; }

 	.site-footer aside {
 		padding: 10px 0;
 		background-color: #f1c858;
 	}

 	#copyright-section {
 		padding: 5px 0;
 		background-color: #f1c858;
 		text-align: center;
 	}

 	.site-footer a,
 	.site-footer p,
 	.site-footer div {
 		color: #555d66;
 	}
	
	.page-title-banner{ position: relative; }
 	.page-title-banner .page-title { color: #fddb7e; }


 	/* Footer Styling ============== */
 	footer .menu-item { 
 		padding: 8px 2% 0;
 		display: inline-block;
 		position: relative; 
 	}


 	.widget-title {
 		margin: 10px 0;
 		padding: 0 10px 0 0;
 	}

 	.widget-column {
 		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
		display: flex;
 		flex-wrap: wrap;
 	}

 	.widget-column section { width: 30%; }
 	.widget-column section li { 
 		display: inline-block; 
 		text-align: center;
 	}


 	/* Page Content */
 	.full-width {
 		width: 100%;
 	}


	#main-menu > .menu-item-has-children > .sub-menu >li > a { 
		color: #fddb7e; 
		text-decoration: underline;
	}

	.kt-blocks-info-box-media img {
		width: 100%;
	    max-height: initial;
	    height: auto;
	}


	/* Search Form ===================================== */
 	.search-form {
 		padding: 0 0 10px;
 	}

 	.sidebar ul {
		padding-inline-start: 0;
		list-style-type: none;
 	}

 	.sidebar li {
 		padding: 10px 0;
 		border-bottom: 1px solid #ccc;
 	}

 	.sidebar li:last-of-type {
 		border-bottom: none;
 	}

 	.sidebar .widget_recent_entries li span {
 		display: block;
 	}

 	.search-form input {
 		display: inline-block;
 		width: 80%;
 		border-top: 1px solid #ccc;
 		border-left: 1px solid #ccc;
 		vertical-align: top;
 	}


 	.search-form .search-submit {
 		width: 16%;
 		padding: 8px 6px;
 		display: inline-block;
 	}

 	.search-form .search-submit svg { 
 		max-width: 25px;
 		max-height: 25px;
 	}

 	.search-form .search-submit span { display: none; }

 	.widget-title {
 		margin: 10px 0;
 		padding: 0;
 	}


 	/* CONTACT US PAGE ======================================== */

 	

 	.bg-grey {
 		color: #fddb7e;
 	}

 	.contact_us .golden-white,
 	.contact_us .golden-black {
		font-size: 3em;
 	}

 	.contact-heading span {
 		font-size: inherit;
 		position: relative;
 	}

	.contact_us .golden-white span {
 		color: #fff;
	}

	.contact_us .golden-black span {
 		color: #fddb7e;
	}


 	.contact_us span:after {
		content: "";
	    width: 25%;
	    position: absolute;
	    height: 1px;
	    bottom: 0;
	    left: 0;
 	}

 	.golden-white span:after {
		border-bottom: 1px solid #fddb7e;
	}


	.golden-black span:after {
		border-bottom: 1px solid #222;
	}

 	.contact-details img {
 		max-width: 65%;
 		margin-bottom: 30px;
 		 filter:grayscale(100%);
 	}

	.wpcf7-form-control-wrap input,
	.wpcf7-form-control-wrap textarea {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
     	box-shadow: none; 
     	resize: none;
	}


/*--------------------------------------------------------------
	RESPONSIVE STYLING
	---------------------------------------------------------------*/
	@media screen and (min-width: 769px) {

		/* HEADER STYLING ============================================ */
		.navbar-collapse.collapse { display: inline-block !important; }

		.main-menu-container { 
			display: inline-block;
			margin: 0;  
			padding: 0;
			vertical-align: middle;
			position: relative;
			max-width: 62%;
			-webkit-transform: translateY(8%);
			-moz-transform: translateY(8%);
			-ms-transform: translateY(8%);
			-o-transform: translateY(8%);
			transform: translateY(8%);
		}

		.menu-toggle { display: none; }
		
		.custom-logo {  width: auto;}
		.custom-logo a { 
		    display: inline-block;
		    padding-right: 15px;
		    border-right: 1px solid #fddb7e;
		    margin-right: 20px;
		}
		.custom-logo span { 
    		display: inline-block;
    		vertical-align: text-top;
			color: #fddb7e;
		}
		.custom-logo img { width: auto;	}
		.main-navigation { width: 100%; }

		.navbar-transparent { background-color: transparent; }

		.main-navigation .navbar-header { max-width: 38%; }
		
		#main-menu .menu-item-has-children .sub-menu .menu-item { width: auto; }
		
		#main-menu > .menu-item-has-children > .sub-menu {
			width: 100vw;
			padding: 20px;
			position: absolute;
			box-sizing: border-box;
		/*	left: 10vw;
			right: 10vw;*/
			margin-left: 0;
			flex-wrap: wrap;
		}

		.menu-image { 
			width: 25px;
			height: 25px;
			display: inline-block !important;
			padding: 0;
			margin: 5px;
			vertical-align: middle;
		}

		#main-menu .menu-item-has-children .sub-menu {
			min-width: 200px;
			text-align: left;
			color: #fddb7e;
		}

		#main-menu .menu-item-has-children svg {
			position: absolute;
			top: 14px;
			right: -8px;
		}

		.sub-menu svg { display: none; }
		svg + .sub-menu{ border-top: 1px solid #ccc; }
		#main-menu .menu-item-has-children:hover .sub-menu { 
			display: block;	
			padding-inline-start: 15px;
			
		}

		#main-menu > .menu-item-has-children:hover >.sub-menu {
			display: -webkit-box; 
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex; 
			display: flex;
		}

		#main-menu > .menu-item-has-children:hover > .sub-menu >li{ 
			padding: 0 15px 0 25px; 
		}


		#main-menu > .menu-item-has-children:hover > .sub-menu .sub-menu li { 
			list-style-type: square;
			padding: 4px;
		}
		
		#main-menu > .menu-item-has-children:hover > .sub-menu .sub-menu a { color: #fddb7e; }
		
		#main-menu > .menu-item-has-children > .sub-menu .sub-menu li:hover {
			background-color: #999;
		}

		#main-menu > .menu-item-has-children:hover > .sub-menu {
			padding-inline-start: 0;
			top: 100%;	
			right: 0;
    		/*transform: translateX(4.5%);*/
			-webkit-animation: menu-dropdown 0.3s linear;
			-moz-animation: menu-dropdown 0.3s linear;
			-ms-animation: menu-dropdown 0.3s linear;
			animation: menu-dropdown 0.3s linear;
		}

		#main-menu.navbar-nav>li>a{
			padding-top: 28px;	
			padding-bottom: 28px;
		}

		/* CONTACT US */
		.dp-flex {
	 		display: -webkit-box; 
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex; 
			display: flex;
	 		flex-wrap: wrap;
	 	}

		/*footer ============*/
		/*.site-footer { display: none; }*/

		@keyframes menu-dropdown {
			0% {
				top: 0%;
				opacity: 0;
			}
			50% { 
				top: 80%;
				opacity: 0.2; 
			}
			80% { opacity: 0.5; }
			100% {
				top: 100%;
				opacity: 1;

			}
		}

	}


	@media screen and (max-width: 768px) {

		/* HEADER RESPONSIVE ====================== */
		#site-navigation { width: 100%; }
		.custom-logo a { max-width: 35%; }
		.custom-logo span { 
			max-width: 52%; 
			vertical-align: top;
		}
		.custom-logo, .main-navigation { text-align: left; }
		.main-navigation .navbar-toggle { float: none; }
		.main-menu-container { 
			width: 100vw;
		    -webkit-transform: translateX(3.8%);
		    -moz-transform: translateX(3.8%);
		    -ms-transform: translateX(3.8%);
		    -o-transform: translateX(3.8%);
		    transform: translateX(3.8%);
		    padding: 0;
		}
		.main-menu-container ul#main-menu { 
			width: 100vw;
		    margin: 0;
		    background-color: transparent;
		    max-height: 90vh;
		    padding-bottom: 60px;
		    overflow-x: hidden;
		}

		.main-menu-container ul#main-menu > li{ background-color: #313131; }

		#main-menu .menu-item svg {
			width: 20px;
			height: 20px;
			margin-left: 10px;
			vertical-align: middle;
		}

		.navigation-top { position: relative; }
		.menu-toggle { float: right; }

		#main-menu{	
			width: 100%;

		}


		#main-menu > .menu-item { 
			display: block; 
			list-style-type: none;
			border-bottom: 1px solid #ccc;
		}

		/*#main-menu .sub-menu > .menu-item {
			border-top: 1px solid #ccc;
			background-color: #666;
		}*/

		#main-menu .menu-item a {
			color: #fddb7e;
			text-align: left;
		}

		#main-menu .menu-item-has-children .sub-menu { 
			margin: 0; 
			padding: 15px 10px;
			text-align: left;
		}


		#main-menu .menu-item-has-children .sub-menu .menu-item-has-children {
			margin-top: 10px;
		}




		/* Contact form style ==================== */
		.wpcf7-form {
			width: 90%;
			margin: 0 auto;
		}

		.wpcf7-form p {
			text-align: center;
		}

		.wpcf7-form .wpcf7-form-control-wrap {
			width: 100%;
			display: block;
			margin: 10px 0;
		}


	}


