/*
Theme Name: pcagencytheme
Theme URI: https://wordpress.org/themes/pcagencytheme/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: pcagencytheme brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: pcagencytheme
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments of Blocks
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts

   --------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/

html {
	font-family: 'KoHo', sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}


abbr[title] {
	border-bottom: 1px #767676 dotted;
	text-decoration: none;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: 700;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #eee;
	color: #222;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img,
amp-img {
	border-style: none;
}

.responsive_img {
	width: 100%;
	height: auto;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

*,
:after,
:before {
	box-sizing: border-box;
}


/*--------------------------------------------------------------
3.0 Alignments of blocks
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-container {
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
}

.wrapper {
	max-width: 2000px;
	width: 93%;
	margin: 0 auto;
}

.section-row { display: block; }
.section-row:before,
.section-row:after {
	content: " ";
	display: table;
}

/* Columns Styling */
.column { float: left; }
.column-two { width: 50%; }
.column-three { width: 33%; }
.column-onethird { width: 67%; }


/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/

.clearfix {
	content: "";
	display: table;
	clear: both;
}


/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: 'KoHo', sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	line-height: normal;
}


h1 {
	font-size: 35px;
	font-size: 3.0rem;
	font-weight: 600;
}

h2 {
	color: #666;
	font-size: 30px;
	font-size: 2.5rem;
	font-weight: 600;
}

h3 {
	color: #333;
	font-size: 24px;
	font-size: 2.0rem;
}

h4 {
	color: #333;
	font-size: 22px;
	font-size: 1.5rem;
}

h5 {
	color: #767676;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 13px;
	font-size: 0.8375rem;
	font-weight: 800;
}

p {
	font-size: 16px;
	font-family: 'KoHoLight';
	margin: 15px 0;
	padding: 0;

	transform: translateZ(1px);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	color: #666;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.7;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: 600;
	margin-top: 0.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #eee;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote {
	quotes: "" "";
}

q {
	quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
	content: "";
}

:focus {
	outline: none;
}

svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}


/* Padding Spaces ============= */
.hz-space {
	padding-left: 3%;
	padding-right: 3%;
}

.vz-space {
	padding-top: 35px;
	padding-bottom: 35px;
}

/* Sections Titles */
.entry-title {
	color: #666;
	font-family: NunitoBold;
	font-size: 30px;
	font-size: 2.5rem;
	font-weight: 600;
	padding: 0;
	line-height: normal;
	margin: 20px 0;
}

.block-title,
.banner-title { font-family: NunitoBold; }

.i-amphtml-blurry-placeholder, .i-amphtml-fill-content {
	width: auto;
	height: auto;
}

.text-capital { text-transform: uppercase; }

/* Border colors ======================== */
.border-grey { border: 1px solid #ccc; }
.border-square { 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-ms-border-radius: 5px; 
	border-radius: 5px; 
}


.border-lightred {
	border-top: 1px solid #a0b9ff;
	border-bottom: 1px solid #a0b9ff;
}


.border-animate {
	border: 2px solid #ccc; 
	border-right: 2px solid #d83d3d;
	border-bottom: 2px solid #d83d3d;
	transition: 0.2s linear;
}

.border-animate:hover {
	border-left: 2px solid #d83d3d;
	border-top: 2px solid #d83d3d;
}

.border-animate:hover,
.border-animate:hover amp-img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;

}


/* Background's ========================= */
.bg-blue { 
	background-color: #3893e2; 
	color: #fff;
}

.bg-lightyellow { background-color: #f9f9f9; }

.bg-lightblue { background-color: #f0f8ff; }

.bg-blue h1, 
.bg-blue h2, 
.bg-blue h3,
.bg-blue h4,
.bg-blue h5,
.bg-blue h6 {
	color: #fff;
}

/* BUTTON STYLING ====================== */



.button-red { background-color: #d83d3d !important; }
.button-green { background-color: #267d16 !important; }
.button-blue {  background-color: #025a8e !important; }

.button-red,
.button-green,
.button-blue {
	color: #fff;
}

.button-border { border: 1px solid #999; }


.button,
.button:hover,
.button:focus {
	border-radius: 5px;
	padding: 10px 6% 12px;
	font-size:16px;
}

.button:hover,
.button:focus {
	background: rgb(216, 61, 61);
	color: #fff;
}


.button-red:hover,
.button-green:hover,
.button-blue:hover {
	background-color: #555 !important;
}


/* SVG ICONS ================= */
.nav-title-icon-wrapper .icon {
	width: 25px;
	height: 25px;
	color: #fff;
	vertical-align: middle;
}


/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

label {
	color: #333;
	display: block;
	font-weight: 800;
	margin-bottom: 0.5em;
}

fieldset {
	margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #222;
	border-color: #333;
}

select {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #d83d3d;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1.1em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}


button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: #ddd;
	color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #767676;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
	background: #bbb;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #333;
	font-family: 'KoHo', sans-serif;
}

:-moz-placeholder {
	color: #333;
	font-family: 'KoHo', sans-serif;
}

::-moz-placeholder {
	color: #333;
	font-family: 'KoHo', sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #333;
	font-family: 'KoHo', sans-serif;
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}


/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

a {
	color: #222;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:focus {
	color: #dc7368;
	outline: 0;
}


.nav-previous,
.nav-next {
	margin: 0 5px;
}


/* HEADER STYLING ================================================= */
.site-header { 
	width: 100%;
	padding: 10px 0 0; 
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 999;
}

.menu-item a { 
	font-weight: 600; 
}

.custom-logo,
.main-navigation { 
	float: left;	
	text-align: right;
}


#top-menu { 
	display: inline-block;
	margin: 0;  
	padding: 0;
	width: 100%;
}

#top-menu .menu-item a {
	display: block;
	padding: 10px 10px 20px;
}

#top-menu .menu-item {
	position: relative;
}

#top-menu .menu-item-has-children svg {
	width: 15px;
	height: 15px;
	perspective: 100px;
}


#top-menu .menu-item-has-children .sub-menu {
	display: none;
}


/* BANNER STYLING */
.banner-descrption {
	font-size: 21px;
}


.main-title {
	text-align: center;
}



/*-------------------------------------------------------------
   13.4 Posts
   --------------------------------------------------------------*/
   .blogs_post {
   	min-height: 500px;
   	margin: 0;
   	position: relative;
   	text-align: center;
   	overflow: hidden;
   }

   .blog_banners,
   .blog_details{
   	height: 300px;
   	width: 100%;
   	position: absolute;
   }

   .blog_banners{
   	padding: 0 3%;
   	top: 0;
   	left: 0;
   	z-index: 1;
   }

   .blog_banners amp-img {
   	border: 1px solid #ccc;
   }

   .blog_details{
   	padding: 50% 8% 0;
   	z-index: 2;
   	display: block;
   	left: 0;
   	top: 0;
   	-webkit-transition-duration:0.3s;
   	-moz-transition-duration:0.3s;
   	-ms-transition-duration:0.3s;
   	transition-duration:0.3s;
   }

   .blog_details > div {
   	height: 300px;
   	padding: 35px 10px;
   	background-color: #fff;
   }

   .post-thumbnail {
   	max-height: 350px;
   	overflow: hidden;
   }

 /*--------------------------------------------------------
 	FEATURES STYLING
 	----------------------------------------------------------*/
 	.features-block amp-img {
 		width: 15%;
 	}

 	.features-block { 
 		padding-left: 4%;
 		padding-right: 2%;
 		position: relative;
 		z-index: 4;
 	}


 	.features-block > div {
 		position: relative;
 		z-index: 1;
 	}

 	.features-block amp-img,
 	.features-block .entry-block {
 		float: left;
 		box-sizing: border-box;
 	} 	

 	.features-block .entry-block {
 		width: 85%;
 		padding-left: 10px;
 	}

 	.features-block .block-title {
 		margin-top: -2px;
 		margin-bottom: 10px;
 	}

 	/* Contact form style ==================== */


 	.ampstart-input .input-group {
 		width: 25%;
 		display: inline-block;
 		vertical-align: top;
 	}

 	.ampstart-input input,
 	.ampstart-input textarea {
 		margin: 10px 0;
 		width: 100%;
 	}

 	#contact-section form { text-align: center; }

 	.ampstart-input { text-align: center; }

 	#contact-section input[type="submit"] { margin-top: 25px; }


 	/* Footer styling ========================== */
 	.site-footer ul { 
 		margin-bottom: 0;
 		text-align: center; 
 	}

 	.site-footer { text-align: center; }

 	.site-footer aside {
 		padding: 10px 0;
 		background-color: #005c90;
 	}

 	#copyright-section {
 		padding: 5px 0;
 		background-color: #005c90;
 	}

 	.site-footer a,
 	.site-footer p,
 	.site-footer div {
 		color: #fff;
 	}

 	/* NORMAL PAGE BANNER ====================================== */
 	.page-block { text-align: center; }
 	.page-block .page-title {
 		margin: 10px 0;
 		color: #000;
 		font-size: 50px;
 		font-family: NunitoBold;
 		text-shadow: 6px 6px 23px #999;
 	}

 	.page-description {
 		width: 80%;
 		font-size: 27px;
 		color: #555;
 		margin: 0 auto;
 	}

 	.page-template-default .section-container p,
 	.page-template-default .section-container div {
 		font-size: 18px;
 	}

 	/* Search Form ===================================== */
 	.search-form,
 	.sidebar .widget_recent_entries {
 		box-shadow: 4px 4px 25px #ccc;
 		padding: 10px;
 	}

 	.sidebar .widget_recent_entries ul {
 		list-style-type: none;
 	}

 	.sidebar .widget_recent_entries li {
 		padding: 10px;
 		border-bottom: 1px solid #ccc;
 	}

 	.sidebar .widget_recent_entries li:last-of-type {
 		border-bottom: none;
 	}

 	.sidebar .widget_recent_entries li span {
 		display: block;
 	}

 	.search-form input {
 		display: inline-block;
 		width: 80%;
 		border-top: 1px solid #ccc;
 		border-left: 1px solid #ccc;
 		vertical-align: top;
 	}


 	.search-form .search-submit {
 		width: 15%;
 		padding: 10px;
 		display: inline-block;
 	}

 	.search-form .search-submit svg { 
 		width: 25px;
 		height: 25px;
 	}

 	.search-form .search-submit span { display: none; }

 	.widget-title {
 		margin: 10px 0;
 		padding: 0 10px;
 	}



/*--------------------------------------------------------------
	RESPONSIVE STYLING
	---------------------------------------------------------------*/
	@media screen and (min-width: 1100px) {

		/* HEADER STYLING ============================================ */
		.menu-toggle { display: none; }
		
		.custom-logo {  width: 10%;	}
		.custom-logo a { display: inline-block;	}
		.custom-logo img { width: auto;	}
		.main-navigation { width: 90%; }

		
		.menu-item { 
			max-width: 150px;
			width: 10%;
			display: inline-block;
			position: relative; 
		}

		
		#top-menu .menu-item-has-children .sub-menu .menu-item {
			width: 100%;
			max-width: 180px;
		}


		#top-menu .menu-item-has-children .sub-menu {
			position: absolute;
			background-color: #fff;
			box-shadow: 0px 2px 2px #999;
			min-width: 200px;
			top: 100%;
			left: -50%;
			text-align: left;
		}

		#top-menu .menu-item-has-children svg {
			position: absolute;
			top: 15px;
			right: -7px;
		}



		#top-menu .menu-item-has-children:hover > .sub-menu {
			display: block;
			animation: menu-dropdown 0.3s linear;
		}

		@keyframes menu-dropdown {
			from {
				top: 80%;
				opacity: 0;
			}
			to {
				top: 100%;
				opacity: 1;

			}
		}


		#top-menu .menu-item-has-children:hover > svg,
		#top-menu .menu-item-has-children:focus > svg { 
			-webkit-animation: rotate-arrow 0.1s linear forwards; 
			-moz-animation: rotate-arrow 0.1s linear forwards; 
			-ms-animation: rotate-arrow 0.1s linear forwards; 
			animation: rotate-arrow 0.1s linear forwards; 
		}

		@keyframes rotate-arrow {

			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(180deg);
			}
		}


		#top-menu .menu-item-has-children.sub-menu li {
			width: 100%;
			max-width: 100%;
		}

		#top-menu .menu-item-has-children .sub-menu .sub-menu {
			top: 10%;
			left: auto;
			right: 100%;
		}

		#top-menu .sub-menu .menu-item-has-children:hover > .sub-menu {
			top: 10%;
			animation: submenu-dropdown 0.3s linear;
		}	


		@keyframes submenu-dropdown {
			from {
				top: 0%;
				opacity: 0;
			}
			to {
				top: 10%;
				opacity: 1;

			}
		}

		/* FEATURES RESPONSIVE =============== */

		.features-block:after,
		.features-block:before {
			content: "";
			display: block;
			position: absolute;
			width:100%;
			height:100%;
			transition:0.3s linear;
		}

		.features-block:after {
			background-color: #fff;
			top: 0;
			left: 0;
		}

		.features-block:before {
			top: 10px;
			left: 10px;
			background-color: #d83d3d;
		}


		.features-block:hover:before {
			-webkit-transform: translate(33px, 30px) rotate(8deg);
			-moz-transform: translate(33px, 30px) rotate(8deg);
			-ms-transform: translate(33px, 30px) rotate(8deg);	
			transform: translate(33px, 30px) rotate(8deg);

		}
	}


	@media screen and (max-width: 1099px) {

		/* TYPOGRAPHY RESPONSIVE */
		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1.25rem;
		}

		h4 {
			font-size: 1rem;
		}

		h5 {
			font-size: 0.8rem;
		}

		h6 {

		}

		/* HEADER RESPONSIVE ====================== */

		.menu-main-menu-container ul { margin: 0; }
		#top-menu .menu-item a { 
			display: inline-block;
			padding: 10px 0;
		}

		#top-menu .menu-item svg {
			width: 20px;
			height: 20px;
			margin-left: 10px;
			vertical-align: middle;
		}

		.navigation-top { position: relative; }
		.main-navigation {
			display: none; 
			float: none;
			text-align: center;
			position: absolute;
			width: 100%;
			top: 100%;
			left: 100%;
			background-color: #fff;	
		}

		.menu-toggle { float: right; }

		#top-menu{
			width: 100%;
			border: 1px solid #ddd;
		}


		#top-menu > .menu-item { 
			display: block; 
			list-style-type: none;
			border-bottom: 1px solid #ccc;
			background-color: #666;
		}

		#top-menu .sub-menu > .menu-item {
			border-top: 1px solid #ccc;
			background-color: #666;
		}

		#top-menu .menu-item a,
		#top-menu .menu-item svg {
			color: #fff;
		}


		/* Columns Responsive =================== */
		div.column { 
			width: 100%; 
			float: none;
		}
		
		/* Typography responsive  =================*/
		.entry-title {
			text-align: center;
		}

		p,
		span,
		strong {
			text-align: justify;
		}

		/* Blogs Section Styling ================== */
		.blog_banners, .blog_details {
			position: static;
		}

		.blog_details {
			padding: 0;
		}

		/* Contact form style ==================== */
		.ampstart-input input {
			width: 80%;
			display: inline-block;
		}

	}