@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header 
    3.1. Logo Section /.logo
    3.2. Navigation
  4. Main
    4.1. Slider Div /.slider
    4.2. Section one 
    4.3. Section two
  5. Footer
    5.1. Footer Content /.footer-content
    5.2. Copyright Section /.copyright-section

    ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* ==========================================================================
   2. Body
   ========================================================================== */
   .site-container { 
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
  }

  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h5,
  body p,
  body a,
  body span,
  body ul li { font-family: serif, sans; }

  .logo h1,
  .services h2,
  section h3,
  .footer-content h4,
  .footer-content h5 {
    text-transform: capitalize;
  }

  body h1,
  body h2,
  body h3 { margin: 0; }

  a { 
    cursor: pointer;
    text-decoration: none;  
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    transition: 0.2s linear;
  }

  body ul { 
    list-style-type: none; 
    margin-bottom: 0;
  }


  /* ==========================================================================
   3. Header
   ========================================================================== */

   header {
     border-top: 5px solid #db9e43;
   }


   /* 3.1. Logo Section /.logo
   ========================================================================== */

   .logo { padding: 45px 0; }


   h1,
   .top-contact {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }

  h1 { 
    width: 25%; 
    min-width: 146px;
  }

  h1 a { 
    width: 146px;
    display: block; 
  }

  h1 a img { 
    width: 100%; 
    height: auto;
  }

  .top-contact { 
    width: 74.5%;
    text-align: right;
    text-transform: capitalize;
  }

  .top-contact li { 
    padding: 0 0 0 6.5%;
    display: inline-block;
  }

  .top-contact li a { 
    color: #000;
    text-transform: lowercase; 
  }


/* 3.2. Navigation
========================================================================== */

nav {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

nav li {
  padding: 0 1.2%;
  display: inline-block;
}

nav li.active { padding-left: 0; }

nav .active a { color: #cca948; }
nav li a { color: #000; }
nav li a:hover { color: #cca948; }

/* ==========================================================================
   4. Main
   ========================================================================== */

   main a,
   footer a {
    color: #dda65f;
    text-transform: capitalize;
  }

  main { border-bottom: 10px solid #ccc; }


   /* 4.1. Slider Div /.slider
   ========================================================================== */

   .slider {
    padding-top: 25px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .slider h2 {
    width: 50%;
    margin: 10px auto;
    font-size: 30px;
  }

  .slider p {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    font-style: italic;
  }

  .carousel-inner { background-color: #ff7f50;  }

  .carousel-inner div {
    padding: 60px 0;
  }


/* 4.2. Section one 
========================================================================== */
.services {
  padding: 90px 0 40px;
  text-align: right;
}

.services li {
  width: 31.5%;
  display: inline-block;
}

.services li:nth-of-type(2) {
  margin: 0 2%;
}

.services li img {
  width: 35px;
  height: auto;
  margin-right: 15px;
}

.services li h2 {
  font-size: 26px;
  text-align: left;
}

.services li p {
  margin: 16px 0 5px;
  color: #5b5b5b;
  font-size: 17px;
  text-align: left;
}

.read-more { font-size: 16px; }

.read-more span { 
  font-size: 10px; 
  display: inline-block;
  -webkit-transform: translateY(-1px) rotateY(50deg);
  -moz-transform: translateY(-1px) rotateY(50deg);
  -ms-transform: translateY(-1px) rotateY(50deg);
  transform: translateY(-1px) rotateY(50deg);
}

.read-more:hover { color: #000; }


.section-title {
  padding: 0 0 15px;
  border-bottom: 1px solid #ccc;
  font-size: 26px;
}

/* 4.3. Section two
========================================================================== */
.section-list { 
  padding: 20px 0 45px;
  display: flex;
  flex-wrap: wrap;
}
.section-list li {
  width: 23.5%;
  margin: 0 1%;
}

.section-list li:last-child { margin-right: 0; }

.section-list li:first-child { margin-left: 0; }

.section-list li a { display: block; }
.section-list li a img {
  width: 100%;
  height: auto;
}


.section-list li div {
  padding: 20px 0 10px;
}

.employee {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}

.employee span {
  color: #828282;
  font-weight: 100;
}

.section-list li p { 
  margin: 5px 0;
  color: #5b5b5b; 
  font-size: 16px;

}

.section2 .section-list li {
  width: 31.3%;
  margin: 0 1.5%;
}

.section2 .section-list li:last-child { margin-right: 0; }
.section2 .section-list li:first-child { margin-left: 0; }



/* ==========================================================================
   5. Footer
   ========================================================================== */

   footer a:hover { color: #fff; }

/*  5.1. Footer Content /.footer-content
========================================================================== */

.footer-content {
  padding: 30px 0;
  background-color: #000;
}

.footer-content p,
.footer-content span {
  color: #939393;
  font-size: 16px;
  text-transform: capitalize;
}

.footer-content p a {
  color: #828282;
  text-transform: lowercase;
}

.footer-content p a:hover { color: #fff; }

.content-column {
  width: 25%;
  float: left;
}

.content-column:first-child {
  width: 23%;
}

.content-column:nth-of-type(2) {
  width: 27%;
}

.content-column h4 { margin-bottom: 25px; }

.content-column h4 {
  color: #fff;
  font-size: 20px;
}

.content-column h5 {
  margin-bottom: 0;
  color: #828282;
  font-size: 18px;
  font-weight: 700;

}

address span,
.content-column div p,
.content-column div span {
  margin: 4px 0;
  display: block;
}

address { margin-bottom: 30px; }

.content-column div {  margin-bottom: 30px; }

.content-column a[title="Mail Id"] {
  color: #dda65f;
}

.social-icons { 
  box-sizing: border-box;
  padding-right: 30px;
}

.social-icons li a i {
  padding: 10px;
  margin-right: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #3c3c3c;
  color: #828282;
}

.social-icons li {
  padding: 15px 0;
  border-bottom: 1px solid #3a3636;
}


.social-icons li:first-child { padding: 0 0 15px; }

.blog-posts {
  text-align: right;
}


.blog-posts span {
  margin: 5px 0;
  display: block;
}

.blog-posts .read-more span {
  color: #dda65f;
  display: inline-block;
  -webkit-transform: translateY(-1px) rotateY(50deg);
  -moz-transform: translateY(-1px) rotateY(50deg);
  -ms-transform: translateY(-1px) rotateY(50deg);
  transform: translateY(-1px) rotateY(50deg);
}

.blog-posts h5,
.blog-posts span, 
.blog-posts p {
  text-align: left;
}

.blog-posts p { 
  margin-bottom: 15px; 
  line-height: 24px;
}

form {
  padding-left: 9%;
}


form input,
form textarea {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin: 6px 0;
  outline: none;
  background-color: #3c3c3c;
  color: #fff;
  font: 16px serif, sans;
}

form textarea {
  height: 150px;
  padding: 15px 15px;
  resize: none;
}

form input[type="submit"] {
  width: auto;
  padding: 10px 15px;
  margin-top: 4px;
  background-color: #e3b874;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

form input[type="submit"]:hover {
  background-color: #fff;
  color: #e3b874;
}


.copyright-section { padding: 30px 0; }

.copyright-section span:first-child {
  text-transform: capitalize;
  font-size: 15px;
}

.copyright-section span:last-child {
  float: right;
}


footer a.read-more:hover {
  color: #fff;
}
