
.container-fluid { @include boxmodel(1,"",5,0,7,0); }

.wrapper { @include boxmodel(1,"",3,95%,7,0 auto); }

header {
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: transparent;
	.col-md-2 { padding: 2% 0;	}
	.col-md-7 { padding: 2% 0; }
	.col-md-3 { padding: 2% 0; }

}

.row { margin: 0; }

h1 {
	a {
		display: block;
		img { width: 55%; }
	}
}

nav {
	.hamburger { display: none; }
	.menu {
		li {
			padding: 2%;
			display: inline-block;
			position: relative;
			vertical-align: top;
			a {
				display: block;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				@include fonta("700 12px");
				&:hover { color: $anchor; }
			}

			.dropdowns {
				display: none;
				position: absolute;
				top:100%;
				background-color: #3d3e3e;
				li {
					width: 200px;
					border-bottom:1px solid #ddd;
					margin: 0;
					display: block;
					a {
						@include boxmodel(1,"",2,border-box,5,6% 7%);
						display: block;
						@include fonta("700 12px");
						white-space: pre;
					}
				}
			}

			&:hover {
				.dropdowns { display: block; }
			}
		}
	}
}
.carousel-indicators {
	z-index: 1 !important;
}
@include tab() {
	nav {
		float: right;
		position: relative;
		.hamburger {
			display: block;
			color: #fff;
		}
		.menu {
			width: 100%;
			max-height: 82vh;
			overflow: auto;
			display: none;
			position: fixed;
			right: 0;
			z-index: 20;
			background-color: #000;
			li {
				padding: 0;
				border-bottom: 1px solid #ddd;
				display: block;
				&:last-child {
					border-bottom: none;
				}
				a { padding: 15px; }
				.dropdowns {
					width: 100%;
					margin: 10px 0 0;
					position: static;
					li {
						width: 100%;
						display: block;
						a {
							padding: 15px 25px;
						}
					}
				}

			}


		}

	}
}

.header-social {
	text-align:right;
	li {
		padding: 3% 2% 0;
		display:inline-block;
		a {
			color:#fff;
			text-decoration:none;
			&[title="Facebook"]:hover { color: $facebook; }
			&[title="Twitter"]:hover { color: $twitter; }
			&[title="Flickr"]:hover { color: $flickr;	}
			&[title="Instagram"]:hover { color: $instagram; }
		}

	}
}