
/* ==========================================================================
   Home Page CSS
   ========================================================================== */
   .banner-slider {
    code {
     color: #fff;
     background-color: transparent;
   }
   .carousel-inner {
     position: relative;
     .active {
      &:after {
        width: 100%;
        padding: 5px 0;
        display: block;
        background-color: #222;
        content: " ";
        opacity: 0.6;
        @include animation(border-animation 4.3s linear);
        @keyframes border-animation {
          0% { @include translateX(-100%); }
          100% { @include translateX(0%); }
        }
      }

      .slide-text {
        @include animation(banner-text 2s linear);
        @keyframes banner-text {
          0% {
            opacity: 0;
            left: 35%;
          }
          100% {
            opacity: 1;
            left: 50%;
          }
        }
      }
    }

    &:hover .active:after {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -ms-animation-play-state: paused;
      animation-play-state: paused;
    }

    .item {
      img {
       width: 100%;
       height: 99vh;
       @include tab() { height: 60vh; }
     }
     & .slide-text {
       left: 50%;
       top: 10%;
       @include translateX(-50%);
     }
     &:nth-child(4) {
       .slide-text {
        left: 11%;
        @include translateX(0);
      }
    }
  }
}

.slide-text {
 margin: 200px 0 0;
 position: absolute;
 top: 0%;
 color: #fff;

 h2 {
  margin: 10px 0;
  @include fonta(700 35px);
  @include tab() {
   @include fonta(700 20px);
 }
}
span { @include fonta(400 18px); }
}
.left.carousel-control,
.right.carousel-control
{ width: 6.5%; }

}

/*------------------------------------------------------------------------------
My Specialities Section
--------------------------------------------------------------------------------*/
.section-title {
 padding: 45px 0 25px;
 text-align: center;
 h3 {
  margin: 10px 0 20px;
  @include fonta(700 26px);
}
p { font: 14px arial; }
}

.specialities {
 padding: 35px 0 60px;
 a {
  border: 1px solid transparent;
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  @include fonta(700 14px);
  @include transition(all 0.3s linear);
  img { width: 100%; }
  h4 {
   @include boxmodel(1,"",5,4%,7,0 0 10%);
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: #000;
   opacity: 0.6;
   @include transition(all 0.3s linear);
   code {
    background-color: transparent;
    color: #fff;
  }
}
&:hover {
 opacity: 0.8;
 border: 1px solid black;
 h4 { opacity: 1; }
}
}

}

/*------------------------------------------------------------------------------
My Latest Work Section
--------------------------------------------------------------------------------*/

.latest-work {
 padding: 35px 0 60px;
 background-color: #f5f5f5;

 .tab-pane {
  -webkit-columns: 5 200px;
  -moz-columns: 5 200px;
  -ms-columns: 5 200px;
  columns: 4 200px;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  -ms-column-gap: 0px;
  column-gap: 0px;
  a { display: inline-block; }
  img { width: 100%; }
}


#dropdown-tabs {
  text-align: center;
  li {
    display: inline-block;
    a {
      margin: 0 20px 0 0;
      color: #000;
      display: inline-block;
      @include fonta(700 12px);
      text-transform: uppercase;
      text-decoration: none;
      white-space: pre;
      &:after {
        margin: 0 10px 0;
        content: " /";
        display: inline-block;
        color: #999;
      }

      &:hover {
        color: $anchor;
      }
    }
  }
}

.lightbox { display: none; }

.tab-content {
  padding: 20px 0 0;
  text-align: center;
  .col-lg-6,
  .col-md-6,
  .col-sm-6 {
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
    vertical-align: top;
    img {
     width: 100%;
     &[alt="image8"] { height: 221px; }
   }
 }
 .all-img {
  position: relative;
  text-align: center;

  &:after {
   display: block;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   content: "+";
   color: #fff;
   @include fonta(50px);
   @include translateY(-50%);
   visibility: hidden;
 }
 &:hover {
   background-color: #000;
   img { opacity: 0.3; }
   &:after {
    visibility: visible;
  }
}
}
}
}

.load-more {
 padding: 10px;
 border: 1px solid transparent;
 display: inline-block !important;
 background-color: $anchor;
 color: #fff;
 @include fonta(700 12px);
 text-decoration: none;
 text-transform: uppercase;
 &:hover {
  border: 1px solid $anchor;
  color: $anchor;
  background-color: #fff;
}
}

/*------------------------------------------------------------------------------------
About Me Section
------------------------------------------------------------------------------------*/
.about-me {
 display: flex;
 a {
  padding: 0 0% 46%;
  display: block;
  background: url(../images/about.jpg) no-repeat;
  background-size: cover;
  text-indent: -9999px;
}

.about-content { @include boxmodel(2,border-box,5,0 5% 0 6%,1,""); }

.section-title {
  padding: 45px 0 0;
  text-align: left;
}

.progress-list {
 li { display: block; }
 span {
  padding: 3% 0 1%;
  display: block;
  font: 16px arial;
  text-transform: capitalize;
  span {
   display: inline-block;
   color: $anchor;
 }
}

.progress-bar {
  width: 100%;
  text-align: left;
  background-color: #f2f2f2;
  overflow: hidden;
  span {
   @include boxmodel(3,90%,5,1px,7,0);
   display: block;
   background-color: $anchor;
   text-indent: -9999px;
 }
}

li:first-child { .progress-bar span { width: 90%; } }

li:nth-child(2) { .progress-bar span { width: 80%; } }

li:nth-child(3) { .progress-bar span { width: 85%; } }

li:nth-child(4) { .progress-bar span { width: 75%; } }
}
}

.animate-progress {
  @include translateX(-100%);
  @keyframes animation-p {
    0% { @include translateX(-100%); }
    100% { @include translateX(0%); }
  }
}
/*-----------------------------------------------------------------------------------
From the Journal
------------------------------------------------------------------------------------*/
.journal {
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;

  .owl-prev,
  .owl-next {
    padding: 15px 20px;
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    z-index: 5;
    background: url(../images/left.png) no-repeat;
    background-size: 80% 80%;
    text-indent: -9999px;
    @include translateY(-50%);
  }
  .owl-prev { left: 2%;  }
  .owl-next {
    right: 2%;
    -webkit-transform: scale(-1);
    -moz-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
  }

  .center-image {
    position: relative;
    a {
      padding: 10px;
      display: inline-block;
      position: absolute;
      top: 92%;
      left: 50%;
      @include translateX(-50%);
      color: #fff;
      @include fonta(700 14px);
      text-decoration: none;
      text-transform: uppercase;

      &[title="Urban"] {
        background-color: #C85E98;
      }

      &[title="Still Life"] {
        background-color: #F3C654;
      }

      &[title="Photography"] {
        background-color: #67985F;
      }

      &[title="Journal"] {
        background-color: #62C1D8;
      }

      &[title="Nature"] {
        background-color: #8E70BD;
      }
    }

  }

  .journal-content {
    padding: 25px 25px 5px;
    text-align: center;
    a {
      padding: 10px 0;
      display: block;
      color: #000;
      @include fonta(700 16px);
      text-decoration: none;
      text-transform: capitalize;
      &:hover {
        color: $anchor;
      }
    }
    span {
      color: #999;
      @include fonta(14px);
      text-align: center;
      code {
        color: #999;
        background-color: transparent;
      }
    }
    p {
      padding: 15px 0;
      font-family: 14px Arial;
    }
  }

}

/*---------------------------------------------------------------------------------
Instagram Feeds
----------------------------------------------------------------------------------*/
.instagram-feeds {
 padding: 85px 0;
 @include tab() { text-align: center; }
 h4 {
  margin: 20px 0 0;
  @include fonta(700 26px);
  text-transform: capitalize;
}
p {
  margin: 20px 0 30px;
  font: 14px arial;
}

a {
  display: inline-block;
  font: 700 13px arial;
  text-transform: uppercase;
  @include tab() { margin: 0 0 20px; }
}
}

.instagram-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  li {
    margin: 1%;
    width: 18%;
    position: relative;
    background-color: #000;
    color: #fff;
    a {
      display: block;
      img { width: 100%; }
      &:hover {
        opacity: 0.6;
      }
    }
    span {
      display: none;
      position: absolute;
      left: 35%;
      top: 50%;
      @include translateY(-50%);
    }
    &:hover { span { display: inline-block;} }
  }
}

/*---------------------------------------------------------------------------------
Footer Styling
----------------------------------------------------------------------------------*/
footer {
 border: 1px solid transparent;
 .wrapper { padding: 85px 0; }
 h5 {
  margin: 20px 0;
  color: #fff;
  @include fonta(700 16px);
  text-transform:uppercase;
}
p {
  color: #bbb;
  font: 700 16px/31px arial;
}
code {
  background-color: transparent;
  color: #999;
}
}

.footer-content {
 background-color: #322c42;
}

.popular-post {
 .col-md-3,
 .col-lg-3,
 .col-sm-3,
 .col-xs-3 {
  padding-left: 0;
  a {
   border: 1px solid transparent;
   display: block;
   img { width: 100%; }
   &:hover { border: 1px solid #ddd; }
 }
}

h6 {
  margin: 0 0 10px;

  @include fonta(700 16px);
  text-transform: capitalize;
  a {
   color: #fff;
   text-decoration: none;
   &:hover {
    color: $anchor;
  }
}
}

span {
  color: #999;
  @include fonta(14px);
  text-transform: uppercase;
}
}

.tags-list {
 li {
  margin: 4px 0;
  display: inline-block;
  background-color: #181323;
  a {
    padding: 15px;
    display: block;
    color: #fff;
    @include fonta(700 14px);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
     background-color: #fff;
     color: #181323;
   }
 }
}
}

.footer-socials {
 li {
  width: 30px;
  display: inline-block;
  a {
   padding: 4px 0;
   display: block;
   text-align: center;
   text-decoration: none;
   @include transition(all 0.3s linear);
   &[title="Rss"] {
    border: 1px solid transparent;
    background-color: $blogger;
    color: #fff;
    &:hover {
     border: 1px solid #999;
     background-color: #fff;
     color: $blogger;
   }
 }
 &[title="Twitter"] {
  border: 1px solid transparent;
  background-color: $twitter;
  color: #fff;
  &:hover {
   border: 1px solid #999;
   background-color: #fff;
   color: $twitter;
 }
}
&[title="Facebook"]{
  border: 1px solid transparent;
  background-color: $facebook;
  color: #fff;
  &:hover {
    border: 1px solid #999;
    background-color: #fff;
    color: $facebook;
  }
}
&[title="Pinterest"]{
 border: 1px solid transparent;
 background-color: $pinterest;
 color: #fff;
 &:hover {
   border: 1px solid #999;
   background-color: #fff;
   color: $pinterest;
 }
}
&[title="Linked In"]{
  border: 1px solid transparent;
  background-color: $linkedin;
  color: #fff;
  &:hover {
    border: 1px solid #999;
    background-color: #fff;
    color: $linkedin;
  }
}
}
}
}

.find {
 input {
  margin: -4px 0 -4px -4px;
  display: inline-block;
  padding: 12px;
  &[type="text"] {
    width: 70%;
    border: 1px solid transparent;
    margin: -4px;
    background-color: #181323;
    @include fonta(16px);
  }
  &[type="submit"] {
    width: 30%;
    border: 1px solid transparent;
    background-color: $twitter;
    color: #fff;
    font-family:Sans, "Sans-serif";
    font-weight: 700;
    font-size: calc(1vw + 7px);
    @include transition(all 0.3s linear);
    text-transform: uppercase;
    &:hover {
     background-color: #fff;
     color: $twitter;
   }
 }
}
}

.address {
 padding: 10px 0;
 span,
 a {
  margin: 10px;
  display: block;
  color: #bbb;
  @include fonta(700 16px);
  i { padding: 0 10px; }
}

span { text-transform: capitalize; }
a {
  text-decoration: none;
  @include transition(all 0.3s linear);
  &:hover {
   color: #fff;
 }
}
}

.copyright {
 padding: 35px;
 background-color: #181323;
 color: #bbb;
 @include fonta(14px);
 text-align: center;
 code { color: #bbb; }
}