/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/*------------------------------------------------------------------------------
Social Icons Colors
-------------------------------------------------------------------------------*/
/*Media Queries*/
.container-fluid {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: transparent;
}
header .col-md-2 {
  padding: 2% 0;
}
header .col-md-7 {
  padding: 2% 0;
}
header .col-md-3 {
  padding: 2% 0;
}

.row {
  margin: 0;
}

h1 a {
  display: block;
}
h1 a img {
  width: 55%;
}

nav .hamburger {
  display: none;
}
nav .menu li {
  padding: 2%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
nav .menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font: 700 12px Sans, "Sans-serif";
}
nav .menu li a:hover {
  color: #337ab7;
}
nav .menu li .dropdowns {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #3d3e3e;
}
nav .menu li .dropdowns li {
  width: 200px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  display: block;
}
nav .menu li .dropdowns li a {
  box-sizing: border-box;
  padding: 6% 7%;
  display: block;
  font: 700 12px Sans, "Sans-serif";
  white-space: pre;
}
nav .menu li:hover .dropdowns {
  display: block;
}

.carousel-indicators {
  z-index: 1 !important;
}

@media screen and (max-width: 767px) {
  nav {
    float: right;
    position: relative;
  }
  nav .hamburger {
    display: block;
    color: #fff;
  }
  nav .menu {
    width: 100%;
    max-height: 82vh;
    overflow: auto;
    display: none;
    position: fixed;
    right: 0;
    z-index: 20;
    background-color: #000;
  }
  nav .menu li {
    padding: 0;
    border-bottom: 1px solid #ddd;
    display: block;
  }
  nav .menu li:last-child {
    border-bottom: none;
  }
  nav .menu li a {
    padding: 15px;
  }
  nav .menu li .dropdowns {
    width: 100%;
    margin: 10px 0 0;
    position: static;
  }
  nav .menu li .dropdowns li {
    width: 100%;
    display: block;
  }
  nav .menu li .dropdowns li a {
    padding: 15px 25px;
  }
}
.header-social {
  text-align: right;
}
.header-social li {
  padding: 3% 2% 0;
  display: inline-block;
}
.header-social li a {
  color: #fff;
  text-decoration: none;
}
.header-social li a[title="Facebook"]:hover {
  color: #3b5998;
}
.header-social li a[title="Twitter"]:hover {
  color: #00aced;
}
.header-social li a[title="Flickr"]:hover {
  color: #ff0084;
}
.header-social li a[title="Instagram"]:hover {
  color: #bc2a8d;
}

/* ==========================================================================
   Home Page CSS
   ========================================================================== */
.banner-slider code {
  color: #fff;
  background-color: transparent;
}
.banner-slider .carousel-inner {
  position: relative;
}
.banner-slider .carousel-inner .active:after {
  width: 100%;
  padding: 5px 0;
  display: block;
  background-color: #222;
  content: " ";
  opacity: 0.6;
  -webkit-animation: border-animation 4.3s linear;
  -moz-animation: border-animation 4.3s linear;
  -ms-animation: border-animation 4.3s linear;
  animation: border-animation 4.3s linear;
}
@keyframes border-animation {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.banner-slider .carousel-inner .active .slide-text {
  -webkit-animation: banner-text 2s linear;
  -moz-animation: banner-text 2s linear;
  -ms-animation: banner-text 2s linear;
  animation: banner-text 2s linear;
}
@keyframes banner-text {
  0% {
    opacity: 0;
    left: 35%;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}
.banner-slider .carousel-inner:hover .active:after {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.banner-slider .carousel-inner .item img {
  width: 100%;
  height: 99vh;
}
@media screen and (max-width: 767px) {
  .banner-slider .carousel-inner .item img {
    height: 60vh;
  }
}
.banner-slider .carousel-inner .item .slide-text {
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.banner-slider .carousel-inner .item:nth-child(4) .slide-text {
  left: 11%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.banner-slider .slide-text {
  margin: 200px 0 0;
  position: absolute;
  top: 0%;
  color: #fff;
}
.banner-slider .slide-text h2 {
  margin: 10px 0;
  font: 700 35px Sans, "Sans-serif";
}
@media screen and (max-width: 767px) {
  .banner-slider .slide-text h2 {
    font: 700 20px Sans, "Sans-serif";
  }
}
.banner-slider .slide-text span {
  font: 400 18px Sans, "Sans-serif";
}
.banner-slider .left.carousel-control,
.banner-slider .right.carousel-control {
  width: 6.5%;
}

/*------------------------------------------------------------------------------
My Specialities Section
--------------------------------------------------------------------------------*/
.section-title {
  padding: 45px 0 25px;
  text-align: center;
}
.section-title h3 {
  margin: 10px 0 20px;
  font: 700 26px Sans, "Sans-serif";
}
.section-title p {
  font: 14px arial;
}

.specialities {
  padding: 35px 0 60px;
}
.specialities a {
  border: 1px solid transparent;
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font: 700 14px Sans, "Sans-serif";
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.specialities a img {
  width: 100%;
}
.specialities a h4 {
  padding: 4%;
  margin: 0 0 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.specialities a h4 code {
  background-color: transparent;
  color: #fff;
}
.specialities a:hover {
  opacity: 0.8;
  border: 1px solid black;
}
.specialities a:hover h4 {
  opacity: 1;
}

/*------------------------------------------------------------------------------
My Latest Work Section
--------------------------------------------------------------------------------*/
.latest-work {
  padding: 35px 0 60px;
  background-color: #f5f5f5;
}
.latest-work .tab-pane {
  -webkit-columns: 5 200px;
  -moz-columns: 5 200px;
  -ms-columns: 5 200px;
  columns: 4 200px;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  -ms-column-gap: 0px;
  column-gap: 0px;
}
.latest-work .tab-pane a {
  display: inline-block;
}
.latest-work .tab-pane img {
  width: 100%;
}
.latest-work #dropdown-tabs {
  text-align: center;
}
.latest-work #dropdown-tabs li {
  display: inline-block;
}
.latest-work #dropdown-tabs li a {
  margin: 0 20px 0 0;
  color: #000;
  display: inline-block;
  font: 700 12px Sans, "Sans-serif";
  text-transform: uppercase;
  text-decoration: none;
  white-space: pre;
}
.latest-work #dropdown-tabs li a:after {
  margin: 0 10px 0;
  content: " /";
  display: inline-block;
  color: #999;
}
.latest-work #dropdown-tabs li a:hover {
  color: #337ab7;
}
.latest-work .lightbox {
  display: none;
}
.latest-work .tab-content {
  padding: 20px 0 0;
  text-align: center;
}
.latest-work .tab-content .col-lg-6,
.latest-work .tab-content .col-md-6,
.latest-work .tab-content .col-sm-6 {
  padding: 0;
  margin: 0;
}
.latest-work .tab-content a {
  display: block;
  vertical-align: top;
}
.latest-work .tab-content a img {
  width: 100%;
}
.latest-work .tab-content a img[alt="image8"] {
  height: 221px;
}
.latest-work .tab-content .all-img {
  position: relative;
  text-align: center;
}
.latest-work .tab-content .all-img:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  content: "+";
  color: #fff;
  font: 50px Sans, "Sans-serif";
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  visibility: hidden;
}
.latest-work .tab-content .all-img:hover {
  background-color: #000;
}
.latest-work .tab-content .all-img:hover img {
  opacity: 0.3;
}
.latest-work .tab-content .all-img:hover:after {
  visibility: visible;
}

.load-more {
  padding: 10px;
  border: 1px solid transparent;
  display: inline-block !important;
  background-color: #337ab7;
  color: #fff;
  font: 700 12px Sans, "Sans-serif";
  text-decoration: none;
  text-transform: uppercase;
}
.load-more:hover {
  border: 1px solid #337ab7;
  color: #337ab7;
  background-color: #fff;
}

/*------------------------------------------------------------------------------------
About Me Section
------------------------------------------------------------------------------------*/
.about-me {
  display: flex;
}
.about-me a {
  padding: 0 0% 46%;
  display: block;
  background: url(../images/about.jpg) no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
.about-me .about-content {
  box-sizing: border-box;
  padding: 0 5% 0 6%;
}
.about-me .section-title {
  padding: 45px 0 0;
  text-align: left;
}
.about-me .progress-list li {
  display: block;
}
.about-me .progress-list span {
  padding: 3% 0 1%;
  display: block;
  font: 16px arial;
  text-transform: capitalize;
}
.about-me .progress-list span span {
  display: inline-block;
  color: #337ab7;
}
.about-me .progress-list .progress-bar {
  width: 100%;
  text-align: left;
  background-color: #f2f2f2;
  overflow: hidden;
}
.about-me .progress-list .progress-bar span {
  width: 90%;
  padding: 1px;
  margin: 0;
  display: block;
  background-color: #337ab7;
  text-indent: -9999px;
}
.about-me .progress-list li:first-child .progress-bar span {
  width: 90%;
}
.about-me .progress-list li:nth-child(2) .progress-bar span {
  width: 80%;
}
.about-me .progress-list li:nth-child(3) .progress-bar span {
  width: 85%;
}
.about-me .progress-list li:nth-child(4) .progress-bar span {
  width: 75%;
}

.animate-progress {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
@keyframes animation-p {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
/*-----------------------------------------------------------------------------------
From the Journal
------------------------------------------------------------------------------------*/
.journal {
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
}
.journal .owl-prev,
.journal .owl-next {
  padding: 15px 20px;
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  z-index: 5;
  background: url(../images/left.png) no-repeat;
  background-size: 80% 80%;
  text-indent: -9999px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.journal .owl-prev {
  left: 2%;
}
.journal .owl-next {
  right: 2%;
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
}
.journal .center-image {
  position: relative;
}
.journal .center-image a {
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 92%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  font: 700 14px Sans, "Sans-serif";
  text-decoration: none;
  text-transform: uppercase;
}
.journal .center-image a[title="Urban"] {
  background-color: #C85E98;
}
.journal .center-image a[title="Still Life"] {
  background-color: #F3C654;
}
.journal .center-image a[title="Photography"] {
  background-color: #67985F;
}
.journal .center-image a[title="Journal"] {
  background-color: #62C1D8;
}
.journal .center-image a[title="Nature"] {
  background-color: #8E70BD;
}
.journal .journal-content {
  padding: 25px 25px 5px;
  text-align: center;
}
.journal .journal-content a {
  padding: 10px 0;
  display: block;
  color: #000;
  font: 700 16px Sans, "Sans-serif";
  text-decoration: none;
  text-transform: capitalize;
}
.journal .journal-content a:hover {
  color: #337ab7;
}
.journal .journal-content span {
  color: #999;
  font: 14px Sans, "Sans-serif";
  text-align: center;
}
.journal .journal-content span code {
  color: #999;
  background-color: transparent;
}
.journal .journal-content p {
  padding: 15px 0;
  font-family: 14px Arial;
}

/*---------------------------------------------------------------------------------
Instagram Feeds
----------------------------------------------------------------------------------*/
.instagram-feeds {
  padding: 85px 0;
}
@media screen and (max-width: 767px) {
  .instagram-feeds {
    text-align: center;
  }
}
.instagram-feeds h4 {
  margin: 20px 0 0;
  font: 700 26px Sans, "Sans-serif";
  text-transform: capitalize;
}
.instagram-feeds p {
  margin: 20px 0 30px;
  font: 14px arial;
}
.instagram-feeds a {
  display: inline-block;
  font: 700 13px arial;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .instagram-feeds a {
    margin: 0 0 20px;
  }
}

.instagram-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.instagram-list li {
  margin: 1%;
  width: 18%;
  position: relative;
  background-color: #000;
  color: #fff;
}
.instagram-list li a {
  display: block;
}
.instagram-list li a img {
  width: 100%;
}
.instagram-list li a:hover {
  opacity: 0.6;
}
.instagram-list li span {
  display: none;
  position: absolute;
  left: 35%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.instagram-list li:hover span {
  display: inline-block;
}

/*---------------------------------------------------------------------------------
Footer Styling
----------------------------------------------------------------------------------*/
footer {
  border: 1px solid transparent;
}
footer .wrapper {
  padding: 85px 0;
}
footer h5 {
  margin: 20px 0;
  color: #fff;
  font: 700 16px Sans, "Sans-serif";
  text-transform: uppercase;
}
footer p {
  color: #bbb;
  font: 700 16px/31px arial;
}
footer code {
  background-color: transparent;
  color: #999;
}

.footer-content {
  background-color: #322c42;
}

.popular-post .col-md-3,
.popular-post .col-lg-3,
.popular-post .col-sm-3,
.popular-post .col-xs-3 {
  padding-left: 0;
}
.popular-post .col-md-3 a,
.popular-post .col-lg-3 a,
.popular-post .col-sm-3 a,
.popular-post .col-xs-3 a {
  border: 1px solid transparent;
  display: block;
}
.popular-post .col-md-3 a img,
.popular-post .col-lg-3 a img,
.popular-post .col-sm-3 a img,
.popular-post .col-xs-3 a img {
  width: 100%;
}
.popular-post .col-md-3 a:hover,
.popular-post .col-lg-3 a:hover,
.popular-post .col-sm-3 a:hover,
.popular-post .col-xs-3 a:hover {
  border: 1px solid #ddd;
}
.popular-post h6 {
  margin: 0 0 10px;
  font: 700 16px Sans, "Sans-serif";
  text-transform: capitalize;
}
.popular-post h6 a {
  color: #fff;
  text-decoration: none;
}
.popular-post h6 a:hover {
  color: #337ab7;
}
.popular-post span {
  color: #999;
  font: 14px Sans, "Sans-serif";
  text-transform: uppercase;
}

.tags-list li {
  margin: 4px 0;
  display: inline-block;
  background-color: #181323;
}
.tags-list li a {
  padding: 15px;
  display: block;
  color: #fff;
  font: 700 14px Sans, "Sans-serif";
  text-decoration: none;
  text-transform: uppercase;
}
.tags-list li a:hover {
  background-color: #fff;
  color: #181323;
}

.footer-socials li {
  width: 30px;
  display: inline-block;
}
.footer-socials li a {
  padding: 4px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer-socials li a[title="Rss"] {
  border: 1px solid transparent;
  background-color: #fb8f3d;
  color: #fff;
}
.footer-socials li a[title="Rss"]:hover {
  border: 1px solid #999;
  background-color: #fff;
  color: #fb8f3d;
}
.footer-socials li a[title="Twitter"] {
  border: 1px solid transparent;
  background-color: #00aced;
  color: #fff;
}
.footer-socials li a[title="Twitter"]:hover {
  border: 1px solid #999;
  background-color: #fff;
  color: #00aced;
}
.footer-socials li a[title="Facebook"] {
  border: 1px solid transparent;
  background-color: #3b5998;
  color: #fff;
}
.footer-socials li a[title="Facebook"]:hover {
  border: 1px solid #999;
  background-color: #fff;
  color: #3b5998;
}
.footer-socials li a[title="Pinterest"] {
  border: 1px solid transparent;
  background-color: #cb2027;
  color: #fff;
}
.footer-socials li a[title="Pinterest"]:hover {
  border: 1px solid #999;
  background-color: #fff;
  color: #cb2027;
}
.footer-socials li a[title="Linked In"] {
  border: 1px solid transparent;
  background-color: #007bb6;
  color: #fff;
}
.footer-socials li a[title="Linked In"]:hover {
  border: 1px solid #999;
  background-color: #fff;
  color: #007bb6;
}

.find input {
  margin: -4px 0 -4px -4px;
  display: inline-block;
  padding: 12px;
}
.find input[type="text"] {
  width: 70%;
  border: 1px solid transparent;
  margin: -4px;
  background-color: #181323;
  font: 16px Sans, "Sans-serif";
}
.find input[type="submit"] {
  width: 30%;
  border: 1px solid transparent;
  background-color: #00aced;
  color: #fff;
  font-family: Sans, "Sans-serif";
  font-weight: 700;
  font-size: calc(1vw + 7px);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
}
.find input[type="submit"]:hover {
  background-color: #fff;
  color: #00aced;
}

.address {
  padding: 10px 0;
}
.address span,
.address a {
  margin: 10px;
  display: block;
  color: #bbb;
  font: 700 16px Sans, "Sans-serif";
}
.address span i,
.address a i {
  padding: 0 10px;
}
.address span {
  text-transform: capitalize;
}
.address a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.address a:hover {
  color: #fff;
}

.copyright {
  padding: 35px;
  background-color: #181323;
  color: #bbb;
  font: 14px Sans, "Sans-serif";
  text-align: center;
}
.copyright code {
  color: #bbb;
}

/*# sourceMappingURL=style.css.map */
