@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
  4. Main
    4.1. Banner and About Section /.banner-content
    4.2. Team Section /.team
    4.3. Google Map Section /.map
  5. Footer 
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }


/* ==========================================================================
   2. Body
   ========================================================================== */

   a,
   p,
   span,
   h1,h2,h3,h4,h5 { font-family: sans-serif, sans; }

   a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    transition: 0.2s linear;
  }

  .container { width: 100%; }

  .wrapper {
    width: 72%;
    max-width: 2200px;
    margin: 0 auto;
  }

/* ==========================================================================
   3. Header
   ========================================================================== */

   header { 
    width: 100%;
    padding: 20px 0; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  h1,
  nav ul li {  display: inline-block; }

  h1 {
    vertical-align: bottom;
    margin-top: 4px;
  }

  h1 a { display: block; }
  nav { float: right; }

  nav ul li { 
    margin-left: 40px; 
    vertical-align: middle;
  }

  nav ul li a { 
    display: block;
    color: #7f8489; 
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    transition: 0.2s linear;
  }

  nav ul li a:hover { color: #000; }

  a.cta {
    padding: 14px 40px;
    border: 1px solid transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    background-color: #0ec0de;
    color: #fff;
  }

  a.cta:hover {
    border-color: #0ec0de;
    color: #0ec0de;
    background-color: #fff;  
  }

/* ==========================================================================
   4. Main
   ========================================================================== */

   main {  margin-top: 85px; }


/* 4.1. Banner Section /.banner
========================================================================== */

.banner {
  width: 100%;
  height: 85vh;
  display: table;
  background: url(../images/banner_image.jpg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.banner .banner-content {
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
}

section { text-align: center; }

section h2 {
  margin: 0 0 25px;
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.banner-content {
  padding-bottom: 87px;
  color: #fff;
}

.banner-content .wrapper,
.about .wrapper  {
  width: 60%;
}


/* 4.1. About Section /.about
========================================================================== */

.about { padding: 55px 0 60px; }
.about h2 { color: #0ec0de; }


/* 4.1. Team Section /.team
========================================================================== */

.team {
  padding: 45px 0 51px;
  background-color: #0ec0de;
  color: #fff;
}

.team h2 {
  margin-bottom: 0;
}

.team-list {
  width: 53%;
  margin: 90px auto;
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
}


.team-list li { 
  width: 25%;
  margin-left: 12.5%;
  list-style-type: none;
}

.team-list li:first-child { margin-left: 0; }
.team-list li:first-child a { background: url(../images/team1.png) no-repeat; }
.team-list li:nth-child(2) a{ background: url(../images/team2.png) no-repeat; }
.team-list li:nth-child(3) a { background: url(../images/team3.png) no-repeat; }

.team .team-list li a {
  padding: 42%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  display: block;
  background-size: 100% 100%;
  text-indent: -9999px;
}

.team .team-list li a:hover {
  opacity: 0.7;
}

.team .team-list li h3 {
  margin: 10px 0 0;
  font-size: 14px;
}

.team .team-list li span {
  color: #a4ebed;
  font-style: italic;
  font-size: 13px;
}

.team .cta {
  padding: 11px 33px;
  border: 1px solid #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}


/* 4.1. Map Section /.map
========================================================================== */

.map {
  height: 600px;
}


/* ==========================================================================
   5. Footer
   ========================================================================== */

   footer { background-color: #45484d; }
   footer ul { display: inline-block; }
   footer ul li { display: inline-block; }


   .footer-content {
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
  }

  .footer-content a {
    color: #fff;

    text-transform: uppercase;
  }

  .footer-navs {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 700;
  }

  .footer-navs li { margin-right: 3vw; }

  .footer-navs li a:hover { color: #bbb; }

  .social-icons { float: right; }

  .social-icons li a { 
    box-sizing: border-box;
    width: 45px;
    padding: 11px 0;
    border: 1px solid #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    display: block;
    text-align: center;
  }

  .social-icons li a:hover {
    color: #45484d;
    background-color: #fff;
  }

  .copyright {  
    padding: 15px 0;
    color: #75787d;
    text-align: right; 
    font-size: 12px;
  }

  .copyright a { color: #75787d; }
  .copyright a:hover { color: #fff; }

  .copyright ul li { 
    padding: 0 14px;
    border-right: 1px solid #75787d; 
  }

  .copyright ul li:last-child {
    padding-right: 0;
    border-right: none;
  }