body {
    font-family: sans-serif;
}

.flex-timeline {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.flex-timeline li {
    width: 22%;
    margin-top: 25px;
    margin-left: 2%;
    display: inline-block;
    position: relative;
    text-align: center;
    list-style-type: none;
    border-top: 4px solid #ccc;
}

.flex-timeline li a {
    position: absolute;
    top: -25px;
    left: calc(50% - 25px);
    padding: 11px;
    border: 2px solid #337ab7;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 19px;
    background-color: #fff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 2;
}

.flex-timeline li span {
    padding-top: 30px;
    display: block;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 600;
    color: #5a5a5a;
}

.flex-timeline li p {
    display: block;
    font-size: 14px;
    color: #bdbaba;
}

.flex-timeline li a:hover {
    background-color: #337ab7;
    color: #fff;
}

.timeline-content {
    background-color: #f5f5f5;
}


/*================== Navigation Menu =============== */

li.blue-line {
    border-color: #337ab7;
}

li.blue-line.finish {
    border-color: #8cc739;
}

li.blue-line.finish a {
    background-color: #8cc739;
    border-color: #8cc739;
    color: #fff;
}


li.finish {
    border-color: #8cc739;
}

li.finish a {
    background-color: #8cc739;
    border-color:#8cc739;
    color: #fff;
}

/**
* Satelite Background Image
*/

.timeline-map {
    background-color: #132f58;
}

.timeline-map>div {
    width: 100%;
    height: auto;
    padding-top: 45%;
    background: url('continents-28616_960_720.png') no-repeat;
    /* background: url('Untitled-1.png') no-repeat; */
    background-position: top;
    background-size: 100% 100%;
    position: relative;
}

div#welcome-marketplace:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    background-color: rgba(51, 51, 51, 0.56);
}

.timeline-map a {
    position: absolute;
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 3px 4px #0804f5;
    text-decoration: none;
    transition: all 0.3s linear;
}


.flag-active{
    display: none;
}

.timeline-map a:hover,
.timeline-map a:active,
.timeline-map a:focus {
    color: #ffeb3b;
    transform: scale(1.5);
}


.timeline-map a:hover span,
.timeline-map a:active span,
.timeline-map a:focus span
{
    display:inline-block;
}




.timeline-map a#amazon-usa {
    top: 30%;
    left: 18%;
}

a#amazon-canada {
    top: 19%;
    left: 17%;
}

a#amazon-spain {
    left: 45%;
    top: 35%;
}

a#amazon-france {
    top: 29%;
    left: 47%;
}

a#amazon-germany {
    top: 26%;
    left: 50%;
}

a#amazon-italy {
    top: 33%;
    left: 50.5%;
}

a#amazon-uk {
    top: 21%;
    left: 45%;
}

a#amazon-japan {
    right: 12%;
    top: 37%;
}
a#amazon-india{
    right:31%;
    top:48%;
}

.timeline-step2 {
    display: none;
}

.timeline-step4{
    display: none;
}


/**
* ========== ANIMATE MAP=========================
*/

.animate-map {
    animation: map-animate 1s linear both;
    perspective: 500px;
    transform-style: preserve-3d;
}

@keyframes map-animate {
    0% {
         transform: translateX(0);
    }
    100% {
        transform: translateX(-3000px);
    }
}

.animate-step2 {
    display: block;
    transform: translateY(3000px);
    animation: step2-animate 0.3s linear both;
    animation-delay: 1s;
}

@keyframes step2-animate {
    from {
        transform: translateX(3000px);
    }
    to {
        transform: translateX(0);
    }
}





/*
==============Step 2 Tabs ================
*/

.box {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
}

.box:hover {
  border:2px solid #525C7A;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#515c66;
  text-transform:none;
}

#panel-header{
    margin-left:393px;
}

#panel-p{
    margin-left: 109px;
}

.box-1 {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
}

.box-1:hover {
  border:2px solid #525C7A;
}

.box-1 span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box-1 .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box-1 .box-content p {
  color:#515c66;
  text-transform:none;
}

/*
    =======Navigation Bar=======
*/

.navbar{
    background-color: #337ab7;
 }

.navbar-brand{
    color:#fff;
}

.navbar-brand:hover{
    color:#fff;
}

.dropdown-toggle{
    color:#fff;
}

.dropdown-toggle:hover{
    color:#fff;
}

.head-bar{
    padding-bottom: 15px;
}
/*

//==============index nevbar=================

*/



