.form-group-form{
    padding-bottom: 25px;
}


input[type="text"], 
textarea, 
textarea.form-control {
    height: 40px;
    margin: 0;
    padding: 0 12px;
    vertical-align: middle;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    color: #333;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }


label {
    font-weight: 400;
    opacity: 0.8;
}

label.checkbox-inline, label.radio-inline { margin-right: 15px; font-weight: 400; }

.checkbox-inline input[type="checkbox"], .radio-inline input[type="radio"] { position: static; }


button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #a93a52;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #a93a52; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #a93a52; color: #fff; }


select.form-control {
    height: 40px;
    margin: 0;
    padding: 0 12px;
    vertical-align: middle;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    color: #333;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

select.form-control:focus {
    outline: 0;
    background: #fff;
    border: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.remem{
    margin-left:0;
}

.forg{
   margin-left:52px;
}

.log_but{
    padding-top: 10px;
    text-align: right;
}