
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    overflow-y: hidden;
}
.tp-header{
	margin-top: -58px;
}

strong { 

	font-weight: 500; 
	margin-top: 20px;
}

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #a93a52;
    line-height: 30px;
}

.header-area h3{
	text-align: left;
	margin-left: 10%;
}

img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top menu *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }

.navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

.navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; color: #fff; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }

.navbar-inverse ul.navbar-nav li a {
	margin: 0 25px;
	font-size: 20px;
	vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li a:hover, 
.navbar-inverse ul.navbar-nav li a:focus { border: 0; color: #19b9e7; }

.navbar-brand {
	width: 113px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}


/***** Top content *****/

.inner-bg {
    padding: 40px 0 170px 0;
}

.inner-bg li{
	list-style: none;
	padding-bottom: 10px
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;

}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.form-box {
	padding-top: 19px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.form-bottom p { opacity: 0.8; color: #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 768px) {

	.navbar-inverse ul.navbar-nav li {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;

}
	
	.navbar-inverse ul.navbar-nav li:last-child { border-bottom: 0; }

}

@media (max-width: 767px) {
	
	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { height: 60px; margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { margin-top: 12px; }
	
	.inner-bg { padding: 40px 0 110px 0; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 113px 32px !important;
    }
	
}

/* =======SIGN-CONT-CSS======*/

/* sign-cont-border-line */

.middle-border {
	min-height: 300px;
	margin-top: 50px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);

}

.sub-but{
	padding-top: 25px;
}


/* =======SIGN-CONT-CSS-ENDS======*/


/* =======ACCOUNT_1-CSS======*/
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

.tab{
	margin-top: -60px;
}

.tab .nav-tabs{
    border-bottom: 7px solid #a93a52;
}
.tab .nav-tabs li{
    margin-bottom: 0;
    margin-right: 5px;
}
.tab .nav-tabs li a{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 15px 25px;
    background: #a93a52;
    border-radius: 0;
    position: relative;
    border: none;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover{
    background: #a93a52;
}
.tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    border: 3px solid #a93a52;
    position: absolute;
    top: -5px;
    left: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{
    transform: rotateY(0deg);
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    background: #fff;
    color: #333;
    border: none;
    border-radius: 0;
}

.tab-pane h3{
	margin-top: -34px;
	color:#fff;
}

.tab-pane h2{
	color:#fff;
}

.tab-pane p{
	color:#fff;
}
/*.tab .tab-content{
    padding: 12px;
    font-size: 14px;
    color: #484848;
    line-height: 25px;
}
.tab .tab-content h3{
    font-size: 24px;
    color: #606060;
    margin-top: 10px;
}*/
/*@media only screen and (max-width: 480px){
    .tab .nav-tabs li{
        width: 100%;
        margin-bottom: 10px;
    }
    .tab .nav-tabs li:last-child{
        margin-bottom: 0;
    }
    .tab .nav-tabs li a{
        display: block;
        margin-right: 0;
    }
}*/
@media only screen and (max-width: 480px){
.middle-border {
min-height:1px;
width:60%;
margin:30px auto;
border-top: 1px solid #fff;
border-top: 1px solid rgba(255, 255, 255, 0.6);

}
}



/* =======ACCOUNT_1-ENDS======*/
