
/* ==========================================================================
   2. Common Style
   ========================================================================== */

/* 1.2. Body, Wrapper and Container
========================================================================== */
body {
  box-sizing: border-box;
  overflow: hidden;
}

html { 
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  max-width: $maxWrap;
  width: 100%;
}

.wrapper { width: $wrap; }

.wrapper,
.container { margin: 0 auto; }


/* 1.2. Typography
========================================================================== */

a { 
  color: color(dark_green);
  cursor: pointer;
  text-decoration: none; 
  @include prefixes(transition, all 0.2s linear);
}

.common-cta {
  padding: 9px 30px 11px;
  border: 1px solid color(orange);
  -webkit-border-radius: 23px;
  border-radius: 23px;
  display: inline-block;
  font-size: 1.3rem;
  @include prefixes(transition, all 0.3s linear);
}

.normal-cta {
  padding: 9px 55px 11px;
  background-color:  rgba(0,0,0,0);
  color: color(orange);
  &:hover {
    background-color: color(orange);
    color: color(white);
  }
}

.revert-cta {
  background-color: color(orange);
  color: color(white);
  &:hover {
    background-color: color(transparent);
    color: color(orange);
  }
}

h2, h3, h4, h5 { 
  font-weight: 100;
  text-transform: capitalize; 
}

.small-title { 
  padding: 0 0 10px;
  display: block; 
  font-weight: 100;
}

h2 { 
  font-size: 4rem; 
  .small-title { font-size: 2rem; }
}

h3 {
  margin: 40px 0;
  color: #003f55;
  font-size: 3rem;
  .small-title { font-size: 12px; }
}

h2,
h3 {
  .small-title { text-transform: uppercase; }
}

h4 { font-size: 2.5rem; }

h5 { 
  margin-bottom: 30px;
  font-size: 1.3rem; 
}
p { color: color(dark_green); }

div,
li,
ul, { box-sizing: border-box; }

// Placeholder selector
.arrows-styling {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;

  li {
    margin: 0 20px;
    display: inline-block;
    text-align: center;
    &:nth-of-type(1) { 
      float: left; }
      &:nth-of-type(2) { float: right; }
    }

    a { 
      width: 50px;
      height: 50px;
      display: inline-block;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include prefixes(transition, all 0.2s linear);
        &:hover { opacity: 0; }
      }

      .hovered {
        position: static;
      }

      &:hover .hovered { 
        display: block; 
        opacity: 1;
      }
    }
  }

  .white,
  .white p { 
    color: color(white); 
  }

  .numbers {
    margin: 30px 0;
    display: block;
    color: color(pink_text);
    font-size: 2.5rem;
  }

  .flex-active-slide { position: relative; }