// Mixin for vendor prefixes
@mixin prefixes($name,$value) {
	-webkit-#{$name}: $value;
	-moz-#{$name}: $value;
	-ms-#{$name}: $value;
	-o-#{$name}: $value;
	#{$name}: $value;
}

// Mixin for animation keyframe
@mixin keyfram($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@-o-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@mixin input-placeholder() {
	::-webkit-input-placeholder { @content; }
	::-moz-placeholder { @content; }
	:-ms-input-placeholder { @content; }
	:-moz-placeholder { @content; }
}

// Media Queries ============================================

// User Defined Media Query Mixin
@mixin CustomMax($max-width) {
	@media screen and (max-width: $max-width + "px") { @content;	}
}

// Desktop Media Query Mixin
@mixin md() {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

// Tab Media Query Mixin
@mixin tab() {
	@media screen and (max-width: 768px) {
		@content;
	}
}

// Mobile Media Query Mixin
@mixin mobile() {
	@media screen and (max-width: 567px) {
		@content;
	}
}

