// Adjusting display sizes
$maxWrap: 2000px;
$wrap: 60%; 
$respWrap: 85%;


// Colors
$colors: (
	orange: #fba832,
	dark_green: #003f55,
	red: #f00,
	blue: #66c6e8,
	black: #000,
	white: #fff,
	grey: #ccc,
	dark_pink: #a14a89,
	pink_text: #a04c88,
	transparent: rgba(0,0,0,0)
	);

// Functions
@function color($value) {
	@return map-get($colors, $value);
}


// Object Key values pairs
$props: (
	dn: ("display", "none"),
	db: ("display", "block"),
	dib: ("display", "inline-block")
	);