@charset "utf-8";

/* ====================================================================
 Table of Content
 =====================================================================
  1. CSS Reset Code
    1.1. Eric Meyers Reset
    1.2. Clear Fix
    1.3. Font class declaration
  2. Common Style
    2.1. Body, Wrapper, Container
    2.2. Typography
  3. Homepage Style
    3.1. Header
    3.2. Main Sections
    3.3. Footer
  4. Media Queries
  ----------------------------------------------------------------------*/

  @import 'variables';
  @import 'mixin';
  @import 'reset';
  @import 'common';


/* ==========================================================================
   3. Homepage Style
   ========================================================================== */


/* 3.1. Header Style
========================================================================== */
header { 
  position: relative; 
  h1 {
    width: auto;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: auto;
    a { 
      display: block; 
      img { width: 100%; }
    }
  }

  /*Header Nav Menu*/
  nav { 
    padding: 30px 0;
    text-align: right; 
    li {
      padding-left: 3%;
      display: inline-block;
      a { 
        font-size: 1rem;
        &:hover { color: color(grey); }
      }
    }
  }
}

.responsive-menu { display: none; }

.topbar {
  padding: 5px 0;
  background-color: color(blue);
  .wrapper { text-align: right; }

  a { 
    color: color(white); 
    font-size: 0.8rem;
    font-weight: 600;
    i { padding: 0 5px; }

    &:hover { color: color(dark_green); }
  }
}

/* 3.2. Main Section Styling
========================================================================== */

/*Banner Section =========================================================*/
.banner-section { 
  width: 100%;
  position: relative; 
}

.banner-img { width: 100vw; }
.banner-content {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 0;
  color: color(white);
  text-align: center;
  @include prefixes(transform, translateY(-50%));
  .common-cta { margin-top: 50px; }
  .arrows {
    width: 100%;
    .prev-arrow { float: left; }
    .next-arrow { float: right; }
  }
}



/* Our Story =============================================*/
.our-story {
  padding: 70px 0 140px;
  position: relative;
  .little-about div { letter-spacing: normal; }
}

.little-about {
  width: 70%;
  float: right;
  letter-spacing: -5px;
  & .content, 
  & a {
    display: inline-block;
    vertical-align: top;
  }
}

.why-choose-us.content { width: 80%; }

.content { 
  width: 45%; 
  p {
    margin: 30px 0;
    font-size: 17px;
  }
}

.about-us-video { 
  width: 55%; 
  img { width: 100%; }
}

.columns { 
  width: 22%;
  display: inline-block;
  text-align: center;
}

.why-choose-img {
  width: 25%;
  position: absolute;
  left: 0;
  bottom: -100%;
}

.move-img {
  @include prefixes(animation, move-img 1.2s linear forwards);
}

@include keyfram(move-img) {
  from {
    bottom: -100%;
  }
  to {
    bottom: -2%;
  }
}
/*Facilities Section ==========================================*/
.what-we-offer {
  margin-top: -5.9%;
  position: relative;
  z-index: 2;
  background: url('../images/we_offer_section.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;

  .cat-img {
    width: 30%;
    @include prefixes(transition, all 0.3s linear);
    @include prefixes(transform, translateY(100%));
  }

  &.move-cat { 
    @include prefixes(animation, move_cat 2s linear forwards);
    .cat-img { @include prefixes(transform, translateY(15%)); }
  }
}

@include keyfram(move_cat) {
  from{
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}

.what-we-offer-title { 
  padding-top: 9%;
  text-align: right; 
  h3 { color: color(white); }
}

.offers-blocks {
  width: 48%; 
  margin: 1%;
  float: left;
  position: relative;
  background-color: #000;
}

.offers-blocks a { 
  display: block;
  opacity: 0.6;
  &>img { width: 100%; }
  &:hover { opacity: 1; }
}

.offers { 
  width: 100%;
  padding: 7% 0 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  h4 { 
    margin: 10px 0;
    color: color(white); 
    font-size: 2vw;
  }
}

/* Blog section ==========================================*/
.blog {
  padding: 120px 0 70px;
  margin-top: -120px;
  position: relative;
  z-index: 2;
  background-color: color(dark_pink);
  text-align: center;

  h3 { 
    color: color(white);
    text-align: left; 
  }

  // List of items
  ul {
    margin-bottom: 70px;
    li {
      width: 32%;
      display: inline-block;
      float: left;
      position: relative;
      &>a { 
        display: block;
        overflow: hidden;
        position: relative; 
        img { width: 100%; }
        &:hover {
          @include prefixes(animation, hovered-layer 0.3s linear both);
        }
      }
    }
  }

  // Blog content styling
  .blog-content {
    box-sizing: border-box;
    width: 100%;
    padding: 8% 6% 26.5%;
    position: absolute;
    top: -9px;
    left: 0;
    background: url(../images/older_dogs_layer.png) no-repeat;
    background-size: 100% 100%;
    text-align: left;
    &.hovered-layer {
      padding-bottom: 21%;
      background: url(../images/paw_sitively_happy_layer.png) no-repeat;
      background-size: 100% 100%;

      h5 { margin-top: 0; }
    }

    span { 
      color: color(grey); 
      font-size: 0.9rem;
    }

    p { font-size: 0.9rem }

    h5 {
      margin: 20px 0;
    }
  }

  .blog-slider { 
    margin-bottom: 50px;
    position: relative; 
  }

  // Arrows Styling
  .arrows {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin-bottom: 0;

    li { 
      width: auto; 
      &:nth-of-type(1) { margin-left: -10%; }
      &:nth-of-type(2) { margin-right: -10%; }
      
    }

    .prev-arrow { float: left; }
    .next-arrow { float: right; }
  }

  // Read more style
  .read-more {
    width: 100%;
    padding: 12px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: color(orange);
    color: color(white);
    font-size: 1.4rem;
  }
}

.blog-social {
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  padding: 10px 10px 0 11px;
  @include prefixes(border-bottom-left-radius, 100%);
  overflow: hidden;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background-color: color(orange);
  cursor: pointer;
  text-align: right;
  @include prefixes(animation, blog-icons-onload 0.4s linear both);

  ul {
    li {
      box-sizing: border-box;
      width: 36px;
      height: 36px;
      padding: 8px 0;
      border: 1px solid color(dark_green);
      @include prefixes(border-radius, 100%);
      position: absolute;
      z-index: -1;
      opacity: 0;
      text-align: center;
      font-size: 18px;
      &:nth-of-type(1) {
        left: 13px;
        top: 5px;
      }

      &:nth-of-type(2) {
         top: 38px;
         left: 33px;
       }

       &:nth-of-type(3) {
        right: 6px;
        bottom: 12px;
      }
    } 
  }

  // Blog icons hover state
  &.blog-social-icons-hover {
    width: 110px;
    height: 110px;
    @include prefixes(animation, blog-icons 0.4s linear forwards);

    li {
      z-index: 0;
      opacity: 1;
    }
  }

}

// Animation keyframes
@include keyfram(blog-icons-onload) {
  from {
    width: 110px;
    height: 110px; 
  }
  to {
   width: 65px;
   height: 65px;
 }
}



@include keyfram(blog-icons) {
  from {
    width: 65px;
    height: 65px;
  }

  to {
   width: 110px;
   height: 110px; 
 }
}


/* Customers section styling ==========================================*/

.customers {
  padding-bottom: 90px;
  overflow: hidden;
  background: url(../images/pink_full_bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;

  h3 { text-align: right; }
  span { 
    display: block; 
    color: color(dark_green);
  }

  // Customer Image and Description
  .customer-img {
    width: 66%;
    letter-spacing: -4px;
    a { 
      img { width: 100%; }
    }
    &, 
    & a,
    & .customer-details { display: inline-block; }

    & a,
    & .customer-details { letter-spacing: normal; }
  }

  .customer-name {
    margin: 5px 0;
    font-size: 1.8rem;
  } 

  .customer-desc {
    font-size: 1rem;
    font-style: italic;
  }
  
  // Customer Content Styling
  .customer-content {
    width: 75%;
    padding: 4vw 5%;
    display: inline-block;
    background: url(../images/quotes_layer.png) no-repeat;
    background-size: 100% 100%;
  }

  // Arrows Styling
  .arrows {
    position: static;
    a { display: inline-block; }
  }

  .customer-list {
    .arrows-styling {
      box-sizing: border-box;
      max-height: 50px;
      li { 
        vertical-align: top;
        float: none; 
      }
      .nav-next,
      .prev-arrow {
          float: none;
      }
    }
  }
  
}

/* Facts Figures Section ==========================================*/
.facts-figures {
  padding: 57px 0 97px;
  background-color: color(blue);

  ul {
    padding-top: 35px;
    letter-spacing: -5px;
    li { 
      width: 25%;
      padding: 0 2%;
      vertical-align: top;
      letter-spacing: normal; 
      img {  
        height: 65px;
      }
    }
  }

  p { 
    font-size: 1.3rem;
    text-transform: capitalize;
  }
}

/* Map Section Styling ==========================================*/
.map {
  position: relative;
  letter-spacing: -4px;

  h4 { 
    margin-top: 40px;
    color: color(dark_green); 
  }

  p { margin: 25px 0; }
}
.map-section {
  width: 48%;
  float: left;
  img { 
    min-width: 718px;
    max-width: 100%;
    height: auto;
  }
}

.map-section,
.map-content { 
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.map-content { 
  width: 52%; 
  padding: 70px 12.5% 70px 5%;
  float: left;
  li { 
    list-style-type: none;
    a { 
      margin-bottom: 15px;
      display: inline-block;
      font-size: 1.5rem;
      i {
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        padding: 9px 12px;
        border: 1px solid color(dark_green);
        @include prefixes(border-radius, 100%);
        margin-right: 15px;
        font-size: 30px;
        &.fa-phone {
          padding: 12px 15px;
          font-size: 25px;
        }

        &.fa-envelope {
          padding: 11px;
          font-size: 25px;
        }
      }

      &:hover {
        color: color(orange);
        i { border-color: color(orange); }
      }
    }
  }
}

/* Community Section Styling ===============================================*/
.community {
  padding: 50px 0;
  background-color: color(dark_pink);

  .community-left,
  .community-right {
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  p { 
    margin: 10px 0;
    font-size: 13px; 
  }

  .community-left { padding-right: 10%; }

  a {
    display: block;
    img { width: 100%; }

    &.common-cta { 
      margin-top: 30px;
      display: inline-block; 
    }

  }

  .thumbnails {
    a {
      width: 50%;
      float: left;

    }
  }

  .opacity-effect:hover,
  .thumbnails a:hover { opacity: 0.7; }
}


/* 3.3. Footer Style
========================================================================== */

footer a { @include prefixes(transition, all 0.2s linear); }

.footer-links {
  padding: 70px 0;
  background: url(../images/newsletter_bg.png) no-repeat;
  background-position: center bottom;
  background-size: contain;

  h5 { color: color(dark_green); }
  p { margin: 10px 0; }
}

#back_to_top {
  padding-top: 50px;
  position: fixed;
  z-index: 100;
  bottom: 9%;
  right: 7%;
  background: url(../images/back_to_top.png) no-repeat;
  background-position: 28% top;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;

  &.top-fade-out { opacity: 0; }
  &.top-is-visible { opacity: 1; }

  &:hover {
    text-shadow: 1px 2px 2px color(dark_green);
  }
}

.form-style {
  p { 
    color: color(red);
    opacity: 1; 
  }
  .blank-text { opacity: 0; }
}


/* Newsletter Section Styling ===============================================*/
.newsletter,
.quick_links { float: left; }


.newsletter {
  width: 38%;
  padding-right: 5%;
}

.quick_links {
  width: 45%;
  padding-left: 3%;
}

// Footer menu
.footer-menu {
  li {
    box-sizing: border-box;
    width: 50%;
    min-height: 70px;
    display: inline-block;
    float: left;
    a {
      font-size: 0.9rem;
      font-weight: 700;
      text-transform: uppercase;

      &:hover { color: color(grey); }
    }
  }
}

.form-style {
  width: 100%;
  position: relative;

  input { box-sizing: border-box; }

  @include input-placeholder() { color: color(dark_green); }

  .form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid color(dark_green);
    @include prefixes(border-radius, 23px);
    @include prefixes(appearance, none);
  }

  .arrow-btn {
    width: 41px;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    @include prefixes(appearance, none);
    background-color: color(transparent);
    img { width: 100%; }

    .hovered-arrow { 
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      opacity: 0;
      @include prefixes(transition, all 0.2s linear);

      &:hover { opacity: 1; }
    }
  }
}

// footer social icons
footer {
  .social-icons {
    padding: 15px 0;
    li { 
      margin: 3%;
      display: inline-block; 
      a {
        box-sizing: border-box;
        width: 35px;
        height: 35px;
        padding: 8px 0;
        border: 1px solid color(dark_green);
        @include prefixes(border-radius, 100%);
        display: inline-block;
        color: color(dark_green);
        cursor: pointer;
        text-align: center;
        &:hover {
          background-color: color(dark_green);
          color: color(white);
        }

      }
    }
  }
}

/* Copyright Section Styling ===============================================*/
.copyright {
  padding: 5px 0;
  background-color: color(dark_pink);
  p { 
    color: color(white);
    font-size: 13px; 
  }
  .copyright-left { 
    width: 78%;
    float: left; 
  }
  .copyright-right { float: right; }
}

/*==========================================================================
3. Responsive Styling
========================================================================== */

/* 1024px Responsive Styling ============================================= */

@include md() {

  .wrapper { width: $respWrap; }
  /* Typography Responsive
  ========================================================================== */
  h2 { 
    font-size: 3rem; 
    .small-title {
      font-size: 1.3rem;
    }
  }

  h3 {
    margin: 20px 0;
    font-size: 2rem;
  }

  h4 { font-size: 1.8rem; }
  h5 { font-size: 1.1rem; }

  .common-cta { font-size: 1rem; }
  .normal-cta { padding-bottom: 9px;  }

  .content p { 
    margin: 20px 0;
    font-size: 0.9rem; 
  }

  /* Header Responsive =====================================================*/
  header {
    // Navigation Menus
    nav {
      padding: 0;
      margin: 30px 0;
      float: right;
      position: relative;
      z-index: 101;
      ul {
        min-width: 230px;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: color(orange);
      }
      li {
        list-style-type: none;
        width: 100%;
        display: block;
        text-align: center;
        @include prefixes(transition, all 0.2s linear);

        a { 
          padding: 10px 0;
          display: block; 
        }

        &:hover {
          background-color: color(dark_green);
        }
      }

      // Hamburger
      .responsive-menu {
        display: block;
      }
    }
  }

  /* Main our story Responsive =====================================================*/
  .little-about {
    width: $respWrap;
    margin: 0 auto;
    float: none;
  }

  .why-choose-us.content {
    width: 75%;
    float: right;
  }

  .columns { 
    width: 49%;
    padding: 10px 0;
  }

  /* What we offer Responsive =====================================================*/
  .offer {
    img {
      width: 25%;
    }
  }

  /* Blog section Responsive =====================================================*/ 
  .blog {
    padding-bottom: 80px;
    // Blog content
    .blog-content {
      span,
      p { font-size: 0.8rem; }
    }

    // blog items
    ul {
      margin-bottom: 40px;
    }
  }

  .banner-content,
  .blog,
  .customers {
   .arrows {
    padding: 0;
    a {
      &.next-arrow,
      &.prev-arrow {
        margin: 0 10px;
      }
    }
  }
}

/* Customer Section Responsive */ 
.customers {
  padding: 30px 0;
  h3 { text-align: center; }
  .customer-content {
    width: 65%;
    padding: 3% 5%;

    p { font-size: 0.9rem; }
  }

  // Arrows
  .arrows { margin: 40px 0; }
}

.numbers { 
  margin: 20px 0;
  font-size: 1.9rem; 
}

.facts-figures {
  padding: 37px 0 57px;
  p { font-size: 1.1rem; }
}

/* Map Responsive =============================================== */ 
.map-content {
  width: 70%;
  padding: 30px 3% 30px 3%;
  float: right;
  background-color: color(white);
  text-align: center;
  li {
    text-align: left;
    a { 
      font-size: 0.9rem;
      i {
        width: 30px;
        height: 30px;
        padding: 4px 0 0 5px;
        font-size: 20px;
        &.fa-phone,
        &.fa-envelope {
          padding: 6px 0 1px 6px;
          font-size: 18px;
        }
      }
    }
  }
}

.map {
  p { font-size: 0.8rem; }
}

.map-section {
  width: 17%;
  img {
    min-width: 525px;
  }
}

} /* End of 1024px media query */

/* 768px Responsive Styling ============================================= */
@include tab() {
  // Common Styling
  h3, h2, h4 {
    text-align: center;
  }

  h5 { font-size: 1.5rem; }

  .topbar a { 
    margin: 10px 0;
    display: block;
  }

  header h1 { top: 51px; }
  .normal-cta { padding: 9px 30px 9px;  }

  /* why choose us tab ============================================*/
  .content { width: 100%; }
  .about-us-video { width: 100%; }

  .why-choose-us {
    &.content { width: 100%; }
  }

  .why-choose-img { display: none; }
  .our-story { padding-bottom: 70px; }

  /* Offer Responsive Tab */
  .offers-blocks {
    width: 100%;
    margin: 25px 0;
  }

  .what-we-offer {
    padding: 70px 7% 95px;
    z-index: 3;
    .cat-img { display: none; }
  }

  .offers { padding-top: 15%; }

  .offers h4 { font-size: 1rem; }

  // Blog Responsive Tab
  .blog { 
    margin-top: -175px; 
    .wrapper > ul {
      &>li {
        width: 100%;
        margin: 25px 0;
        &:nth-child(2) { margin: 25px 0; }
      }
    }

    .blog-content {
      min-height: 60%;
      padding-bottom: 0;
    }

    .read-more { padding: 30px 0; }
    .arrows { 
      width: 31%;
      top: -25%;
      left: initial;
      right: 0;
      @include prefixes(transform, translateY(0));
      li {
        margin: 0;
      }
      .prev-arrow,
      .next-arrow {
        float: none;
      }
    }
  }

  .facts-figures {
    ul {
      li {
        width: 50%;
        padding: 0;
        margin: 25px 0;
      }
    }
  }

  // Community Section Responsive tab
  .community {
    .community-left,
    .community-right {
      width: 100%;
      padding: 35px 0;
      float: none;
    }
  }

  // Footer Styling
  .newsletter, .quick_links { float: none; }
  .newsletter {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    form {
      min-width: 280px;
      display: inline-block;
    }
  }

  .quick_links {
    width: 100%;
  }

  .community {
    padding: 20px 0;
  }

  .footer-links { padding-top: 30px; }

  .copyright {
    .copyright-left,
    .copyright-right { 
      width: 100%;
      margin: 10px 0;
      float: none;
      text-align: center;
    }
  }

}

/* Mobile Responsive Styling ================================================ */
@include mobile() {
  h2 { 
    font-size: 2rem;
    .small-title { font-size: 1rem; } 
  }

  .banner-content {
    .common-cta { 
      padding: 5px 20px 6px;
      margin-top: 20px; 
      font-size: 0.9rem;

    }
  }

  .our-story {
    padding: 30px 0;
  }

  .offers {
    img { width: 15%; }
  }

  .blog { margin-top: -117px; }

  .arrows-styling {
    a { 
      width: 30px; 
      height: 30px;
    }
  }
}