@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/*External Fonts*/

@font-face {font-family: "OpenSans";
src: url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.eot");
src: url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.eot?#iefix") format("embedded-opentype"),
url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.woff2") format("woff2"),
url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.woff") format("woff"),
url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.ttf") format("truetype"),
url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.svg#Open Sans") format("svg");
}

@font-face {font-family: ShadowsIntoLight;
  src: url("../vendor/fonts/ShadowsIntoLight/ShadowsIntoLight.eot") format("embedded-opentype"),
  url("../vendor/fonts/ShadowsIntoLight/ShadowsIntoLight.woff2") format("woff2"),
  url("../vendor/fonts/ShadowsIntoLight/ShadowsIntoLight.woff") format("woff"),
  url("../vendor/fonts/ShadowsIntoLight/ShadowsIntoLight.ttf") format("truetype")
}
/*Container Styling*/
.container { width: 100%; }

/*Wrapper Styling*/

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/*Header Styling Starts From Here*/

header {
  background-color:  #a8ad00;
  box-shadow: 0px 5px 7.6px 0.4px #dddcda;
}

h1 { display: inline-block; }

a {
  display: block;
  text-decoration: none;
}

/*Navigation Menu's*/
nav { display: inline-block; }
nav>a { display: none; }

nav ul li {
  margin: 0 10px;
  display: inline-block;
}

nav ul li a {
  padding: 5px 0;
  display: block;
  color: #fff;
  font: 18px OpenSans;
  text-decoration: none;
  text-transform: uppercase;
}

header .wrapper { position: relative; }

.topbar { display: inline-block; }

nav ul li a:hover { text-shadow: 2px 2px 10px #fff; }

.donate {
  padding: 16px 53px 13px 16px;
  display: inline-block;
  position: absolute;
  right: 0;
  background: url(../images/heart.png) no-repeat;
  background-size: 100% 100%;
  color:  #750e2b;
  font: 700 17px OpenSans;
  text-decoration: none;
  text-transform: uppercase;
}

.donate:hover { opacity: 0.5; }

/* Banner Section Styling*/

.banner { position: relative; }
.banner img { width: 100%; }

.b-content {
  width: 76%;
  position: absolute;
  top: 20%;
}

h2 {
  color: #ffffff;
  font: 4.5vw ShadowsIntoLight;
  text-align: left;
  text-shadow: 0px 1px 0.99px #000;
}

.b-content p {
  margin: 20px 0;
  color:  #ffffff;
  font: 2vw OpenSans;
  text-align: left;
  text-shadow: 0px 1px 0.99px #000;
}

.apply-now {
  padding: 10px 20px;
  border-radius: 12px;
  display: inline-block;
  font-family: OpenSans;
  background: #fff;
  color:  #750e2b;
  text-decoration: none;
  text-transform: uppercase;
}

.apply-now:hover { opacity: 0.5; }

.scroll {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 45%;
  right: 45%;
}

.scroll:hover { opacity: 0.7; }

h3 {
 width: 40%;
 margin: 20px auto;
 font-family: OpenSans;
 color: #000000;
 font-size: 21px;
 font-weight: 400;
 line-height: 30px;
 text-align: center;
}

.sr-list li {
  width: 31.5%;
  margin: -4px;
  margin-bottom: 27px;
  display: inline-block;
}

.sr-list li:hover {
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}

.sr-list li.middle {
  margin: -4px 3%;
  vertical-align: top;
}

.sr-list li a {
  width: 100%;
  position: relative;
}

.sr-list li a img { width: 100%; }

.yellow {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background: #a8ad00;
  text-align: center;
}

.yellow span {
  padding: 16px 0;
  display: inline-block;
  font: 700 18px OpenSans;
  color:  #ffffff;
  text-transform: uppercase;
}

.yellow span:after {
  padding: 1px 10px;
  display: inline;
  content: url(../images/side-arrow.png);
}


.orange {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 20%;
  text-align: center;
}

.orange span {
  font: 700 18px OpenSans;
  color:  #ffffff;
  text-transform: capitalize;
}

.red {
  width: 100%;
  padding: 16px 0;
  display: block;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background: #c05131;
  text-align: center;
}

.red span {
  font: 700 18px OpenSans;
  color:  #ffffff;
  text-transform: uppercase;
}

.red span:after {
  padding: 1px 10px;
  display: inline;
  content: url(../images/side-arrow.png);
}

.green {
  width: 100%;
  padding: 16px 0;
  display: block;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background: #115740;
  text-align: center;
}

.green span {
  font: 700 18px OpenSans;
  color:  #ffffff;
  text-transform: uppercase;
}

.green span:after {
  display: inline;
  content: url(../images/side-arrow.png);
  padding: 1px 10px;
}


.statement {
  width: 85%;
  display: block;
  position: absolute;
  top: 9%;
  right: 5%;
  left: 5%;
  font: italic 22px OpenSans;
  color: #fff;
  text-align: center;
}


.profile {
  position: absolute;
  bottom: 5%;
  left: 8%;
  right: 8%;
  font: 16px OpenSans;
  color:  #ffffff;
  text-align: center;
}


/*Footer Styling*/
footer .wrapper>a {
  margin:-4px;
  display: inline-block;
}

footer ul {
  display: inline-block;
}

footer ul li {
  display: inline-block;
  border-right: 1px solid #000;
}

footer ul li a:hover { color: #f60; }

footer ul li:last-child {
  border-right: none;
}

footer ul li a {
  padding: 0 10px;
  margin: 0 5px;
  display: block;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}


@media screen and (max-width: 982px) {

  .statement { font: italic 1.8vw OpenSans; }

  .profile { font: 1.5vw OpenSans; }

  .donate {
    padding: 13px 49px 12px 16px;
    color: #750e2b;
    font: 700 15px OpenSans;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 3%;
  }

  nav ul { margin-top: 11vh; }

}

@media screen and (max-width: 790px) {

  h1 { padding: 51px 0 12px; }

  h1 a img { width: 185px; }

  nav {
    display: inline-block;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 0;
    top: 53px;
  }

  nav ul {
    margin-top: 0;
    display: none;
  }

  nav:hover ul {
    width: 100%;
    display: block;
    position: fixed;
    top: 17%;
    left: 0;
    right: 0;
    z-index: 5;
    background: #a8ad00;
    text-align: center;
  }

  nav ul li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    display:block;
  }

  nav ul li:last-child { border-bottom: none }

  nav ul li a {
    padding: 15px;
    display: block;
  }

  .hamburger {
    width: 100px;
    display: inline-block;
  }

  .hamburger img { width: 100%; }

  .donate {
    padding: 10px 39px 9px 14px;
    margin: 4px 0;
    font: 700 10px OpenSans;
  }

  .statement { font: italic 5vw OpenSans; }

  .profile { font: 5vw OpenSans; }

  h3 { font-size: 16px; }


  .sr-list li {
    width: 100%;
    display: block;
  }

  .sr-list li.middle {
    margin: -4px;
    margin-bottom: 27px;
  }

}


@media screen and (max-width: 480px) {

  h2 { font-size: 6.5vw; }

  .b-content { top: 13%;}

  .b-content p {
    margin: 5px 0;
    font-size: 3vw;
  }

  .apply-now {
    padding: 8px 16px;
    font: 12px OpenSan;
  }

  .statement { font: italic 6vw OpenSans; }
  .profile {
    bottom: ;
    left: 5%;
    right: 5%;
    font-size: 4vw;
  }
}
