/* ====================================================================
 Table of Content
 =====================================================================
  1. CSS Reset Code
    1.1. Eric Meyers Reset
    1.2. Clear Fix
    1.3. Font class declaration
  2. Common Style
    2.1. Body, Wrapper, Container
    2.2. Typography
  3. Homepage Style
    3.1. Header
    3.2. Main Sections
    3.3. Footer
  4. Media Queries
  ----------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* ==========================================================================
   2. Common Style
   ========================================================================== */
/* 1.2. Body, Wrapper and Container
========================================================================== */
body {
  box-sizing: border-box;
  overflow: hidden;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  max-width: 2000px;
  width: 100%;
}

.wrapper {
  width: 60%;
}

.wrapper,
.container {
  margin: 0 auto;
}

/* 1.2. Typography
========================================================================== */
a {
  color: #003f55;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.common-cta {
  padding: 9px 30px 11px;
  border: 1px solid #fba832;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  display: inline-block;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.normal-cta {
  padding: 9px 55px 11px;
  background-color: transparent;
  color: #fba832;
}
.normal-cta:hover {
  background-color: #fba832;
  color: #fff;
}

.revert-cta {
  background-color: #fba832;
  color: #fff;
}
.revert-cta:hover {
  background-color: transparent;
  color: #fba832;
}

h2, h3, h4, h5 {
  font-weight: 100;
  text-transform: capitalize;
}

.small-title {
  padding: 0 0 10px;
  display: block;
  font-weight: 100;
}

h2 {
  font-size: 4rem;
}
h2 .small-title {
  font-size: 2rem;
}

h3 {
  margin: 40px 0;
  color: #003f55;
  font-size: 3rem;
}
h3 .small-title {
  font-size: 12px;
}

h2 .small-title,
h3 .small-title {
  text-transform: uppercase;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  margin-bottom: 30px;
  font-size: 1.3rem;
}

p {
  color: #003f55;
}

div,
li,
ul {
  box-sizing: border-box;
}

.arrows-styling {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
}
.arrows-styling li {
  margin: 0 20px;
  display: inline-block;
  text-align: center;
}
.arrows-styling li:nth-of-type(1) {
  float: left;
}
.arrows-styling li:nth-of-type(2) {
  float: right;
}
.arrows-styling a {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}
.arrows-styling a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.arrows-styling a img:hover {
  opacity: 0;
}
.arrows-styling a .hovered {
  position: static;
}
.arrows-styling a:hover .hovered {
  display: block;
  opacity: 1;
}

.white,
.white p {
  color: #fff;
}

.numbers {
  margin: 30px 0;
  display: block;
  color: #a04c88;
  font-size: 2.5rem;
}

.flex-active-slide {
  position: relative;
}

/* ==========================================================================
   3. Homepage Style
   ========================================================================== */
/* 3.1. Header Style
========================================================================== */
header {
  position: relative;
  /*Header Nav Menu*/
}
header h1 {
  width: auto;
  position: absolute;
  z-index: 2;
  top: 5px;
  left: auto;
}
header h1 a {
  display: block;
}
header h1 a img {
  width: 100%;
}
header nav {
  padding: 30px 0;
  text-align: right;
}
header nav li {
  padding-left: 3%;
  display: inline-block;
}
header nav li a {
  font-size: 1rem;
}
header nav li a:hover {
  color: #ccc;
}

.responsive-menu {
  display: none;
}

.topbar {
  padding: 5px 0;
  background-color: #66c6e8;
}
.topbar .wrapper {
  text-align: right;
}
.topbar a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}
.topbar a i {
  padding: 0 5px;
}
.topbar a:hover {
  color: #003f55;
}

/* 3.2. Main Section Styling
========================================================================== */
/*Banner Section =========================================================*/
.banner-section {
  width: 100%;
  position: relative;
}

.banner-img {
  width: 100vw;
}

.banner-content {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner-content .common-cta {
  margin-top: 50px;
}
.banner-content .arrows {
  width: 100%;
}
.banner-content .arrows .prev-arrow {
  float: left;
}
.banner-content .arrows .next-arrow {
  float: right;
}

/* Our Story =============================================*/
.our-story {
  padding: 70px 0 140px;
  position: relative;
}
.our-story .little-about div {
  letter-spacing: normal;
}

.little-about {
  width: 70%;
  float: right;
  letter-spacing: -5px;
}
.little-about .content, .little-about a {
  display: inline-block;
  vertical-align: top;
}

.why-choose-us.content {
  width: 80%;
}

.content {
  width: 45%;
}
.content p {
  margin: 30px 0;
  font-size: 17px;
}

.about-us-video {
  width: 55%;
}
.about-us-video img {
  width: 100%;
}

.columns {
  width: 22%;
  display: inline-block;
  text-align: center;
}

.why-choose-img {
  width: 25%;
  position: absolute;
  left: 0;
  bottom: -100%;
}

.move-img {
  -webkit-animation: move-img 1.2s linear forwards;
  -moz-animation: move-img 1.2s linear forwards;
  -ms-animation: move-img 1.2s linear forwards;
  -o-animation: move-img 1.2s linear forwards;
  animation: move-img 1.2s linear forwards;
}

@-webkit-keyframes move-img {
  from {
    bottom: -100%;
  }
  to {
    bottom: -2%;
  }
}
@-moz-keyframes move-img {
  from {
    bottom: -100%;
  }
  to {
    bottom: -2%;
  }
}
@-ms-keyframes move-img {
  from {
    bottom: -100%;
  }
  to {
    bottom: -2%;
  }
}
@-o-keyframes move-img {
  from {
    bottom: -100%;
  }
  to {
    bottom: -2%;
  }
}
@keyframes move-img {
  from {
    bottom: -100%;
  }
  to {
    bottom: -2%;
  }
}
/*Facilities Section ==========================================*/
.what-we-offer {
  margin-top: -5.9%;
  position: relative;
  z-index: 2;
  background: url("../images/we_offer_section.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.what-we-offer .cat-img {
  width: 30%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.what-we-offer.move-cat {
  -webkit-animation: move_cat 2s linear forwards;
  -moz-animation: move_cat 2s linear forwards;
  -ms-animation: move_cat 2s linear forwards;
  -o-animation: move_cat 2s linear forwards;
  animation: move_cat 2s linear forwards;
}
.what-we-offer.move-cat .cat-img {
  -webkit-transform: translateY(15%);
  -moz-transform: translateY(15%);
  -ms-transform: translateY(15%);
  -o-transform: translateY(15%);
  transform: translateY(15%);
}

@-webkit-keyframes move_cat {
  from {
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}
@-moz-keyframes move_cat {
  from {
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}
@-ms-keyframes move_cat {
  from {
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}
@-o-keyframes move_cat {
  from {
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}
@keyframes move_cat {
  from {
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}
.what-we-offer-title {
  padding-top: 9%;
  text-align: right;
}
.what-we-offer-title h3 {
  color: #fff;
}

.offers-blocks {
  width: 48%;
  margin: 1%;
  float: left;
  position: relative;
  background-color: #000;
}

.offers-blocks a {
  display: block;
  opacity: 0.6;
}
.offers-blocks a > img {
  width: 100%;
}
.offers-blocks a:hover {
  opacity: 1;
}

.offers {
  width: 100%;
  padding: 7% 0 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.offers h4 {
  margin: 10px 0;
  color: #fff;
  font-size: 2vw;
}

/* Blog section ==========================================*/
.blog {
  padding: 120px 0 70px;
  margin-top: -120px;
  position: relative;
  z-index: 2;
  background-color: #a14a89;
  text-align: center;
}
.blog h3 {
  color: #fff;
  text-align: left;
}
.blog ul {
  margin-bottom: 70px;
}
.blog ul li {
  width: 32%;
  display: inline-block;
  float: left;
  position: relative;
}
.blog ul li > a {
  display: block;
  overflow: hidden;
  position: relative;
}
.blog ul li > a img {
  width: 100%;
}
.blog ul li > a:hover {
  -webkit-animation: hovered-layer 0.3s linear both;
  -moz-animation: hovered-layer 0.3s linear both;
  -ms-animation: hovered-layer 0.3s linear both;
  -o-animation: hovered-layer 0.3s linear both;
  animation: hovered-layer 0.3s linear both;
}
.blog .blog-content {
  box-sizing: border-box;
  width: 100%;
  padding: 8% 6% 26.5%;
  position: absolute;
  top: -9px;
  left: 0;
  background: url(../images/older_dogs_layer.png) no-repeat;
  background-size: 100% 100%;
  text-align: left;
}
.blog .blog-content.hovered-layer {
  padding-bottom: 21%;
  background: url(../images/paw_sitively_happy_layer.png) no-repeat;
  background-size: 100% 100%;
}
.blog .blog-content.hovered-layer h5 {
  margin-top: 0;
}
.blog .blog-content span {
  color: #ccc;
  font-size: 0.9rem;
}
.blog .blog-content p {
  font-size: 0.9rem;
}
.blog .blog-content h5 {
  margin: 20px 0;
}
.blog .blog-slider {
  margin-bottom: 50px;
  position: relative;
}
.blog .arrows {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}
.blog .arrows li {
  width: auto;
}
.blog .arrows li:nth-of-type(1) {
  margin-left: -10%;
}
.blog .arrows li:nth-of-type(2) {
  margin-right: -10%;
}
.blog .arrows .prev-arrow {
  float: left;
}
.blog .arrows .next-arrow {
  float: right;
}
.blog .read-more {
  width: 100%;
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fba832;
  color: #fff;
  font-size: 1.4rem;
}

.blog-social {
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  padding: 10px 10px 0 11px;
  -webkit-border-bottom-left-radius: 100%;
  -moz-border-bottom-left-radius: 100%;
  -ms-border-bottom-left-radius: 100%;
  -o-border-bottom-left-radius: 100%;
  border-bottom-left-radius: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background-color: #fba832;
  cursor: pointer;
  text-align: right;
  -webkit-animation: blog-icons-onload 0.4s linear both;
  -moz-animation: blog-icons-onload 0.4s linear both;
  -ms-animation: blog-icons-onload 0.4s linear both;
  -o-animation: blog-icons-onload 0.4s linear both;
  animation: blog-icons-onload 0.4s linear both;
}
.blog-social ul li {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  padding: 8px 0;
  border: 1px solid #003f55;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0;
  text-align: center;
  font-size: 18px;
}
.blog-social ul li:nth-of-type(1) {
  left: 13px;
  top: 5px;
}
.blog-social ul li:nth-of-type(2) {
  top: 38px;
  left: 33px;
}
.blog-social ul li:nth-of-type(3) {
  right: 6px;
  bottom: 12px;
}
.blog-social.blog-social-icons-hover {
  width: 110px;
  height: 110px;
  -webkit-animation: blog-icons 0.4s linear forwards;
  -moz-animation: blog-icons 0.4s linear forwards;
  -ms-animation: blog-icons 0.4s linear forwards;
  -o-animation: blog-icons 0.4s linear forwards;
  animation: blog-icons 0.4s linear forwards;
}
.blog-social.blog-social-icons-hover li {
  z-index: 0;
  opacity: 1;
}

@-webkit-keyframes blog-icons-onload {
  from {
    width: 110px;
    height: 110px;
  }
  to {
    width: 65px;
    height: 65px;
  }
}
@-moz-keyframes blog-icons-onload {
  from {
    width: 110px;
    height: 110px;
  }
  to {
    width: 65px;
    height: 65px;
  }
}
@-ms-keyframes blog-icons-onload {
  from {
    width: 110px;
    height: 110px;
  }
  to {
    width: 65px;
    height: 65px;
  }
}
@-o-keyframes blog-icons-onload {
  from {
    width: 110px;
    height: 110px;
  }
  to {
    width: 65px;
    height: 65px;
  }
}
@keyframes blog-icons-onload {
  from {
    width: 110px;
    height: 110px;
  }
  to {
    width: 65px;
    height: 65px;
  }
}
@-webkit-keyframes blog-icons {
  from {
    width: 65px;
    height: 65px;
  }
  to {
    width: 110px;
    height: 110px;
  }
}
@-moz-keyframes blog-icons {
  from {
    width: 65px;
    height: 65px;
  }
  to {
    width: 110px;
    height: 110px;
  }
}
@-ms-keyframes blog-icons {
  from {
    width: 65px;
    height: 65px;
  }
  to {
    width: 110px;
    height: 110px;
  }
}
@-o-keyframes blog-icons {
  from {
    width: 65px;
    height: 65px;
  }
  to {
    width: 110px;
    height: 110px;
  }
}
@keyframes blog-icons {
  from {
    width: 65px;
    height: 65px;
  }
  to {
    width: 110px;
    height: 110px;
  }
}
/* Customers section styling ==========================================*/
.customers {
  padding-bottom: 90px;
  overflow: hidden;
  background: url(../images/pink_full_bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.customers h3 {
  text-align: right;
}
.customers span {
  display: block;
  color: #003f55;
}
.customers .customer-img {
  width: 66%;
  letter-spacing: -4px;
}
.customers .customer-img a img {
  width: 100%;
}
.customers .customer-img, .customers .customer-img a, .customers .customer-img .customer-details {
  display: inline-block;
}
.customers .customer-img a, .customers .customer-img .customer-details {
  letter-spacing: normal;
}
.customers .customer-name {
  margin: 5px 0;
  font-size: 1.8rem;
}
.customers .customer-desc {
  font-size: 1rem;
  font-style: italic;
}
.customers .customer-content {
  width: 75%;
  padding: 4vw 5%;
  display: inline-block;
  background: url(../images/quotes_layer.png) no-repeat;
  background-size: 100% 100%;
}
.customers .arrows {
  position: static;
}
.customers .arrows a {
  display: inline-block;
}
.customers .customer-list .arrows-styling {
  box-sizing: border-box;
  max-height: 50px;
}
.customers .customer-list .arrows-styling li {
  vertical-align: top;
  float: none;
}
.customers .customer-list .arrows-styling .nav-next,
.customers .customer-list .arrows-styling .prev-arrow {
  float: none;
}

/* Facts Figures Section ==========================================*/
.facts-figures {
  padding: 57px 0 97px;
  background-color: #66c6e8;
}
.facts-figures ul {
  padding-top: 35px;
  letter-spacing: -5px;
}
.facts-figures ul li {
  width: 25%;
  padding: 0 2%;
  vertical-align: top;
  letter-spacing: normal;
}
.facts-figures ul li img {
  height: 65px;
}
.facts-figures p {
  font-size: 1.3rem;
  text-transform: capitalize;
}

/* Map Section Styling ==========================================*/
.map {
  position: relative;
  letter-spacing: -4px;
}
.map h4 {
  margin-top: 40px;
  color: #003f55;
}
.map p {
  margin: 25px 0;
}

.map-section {
  width: 48%;
  float: left;
}
.map-section img {
  min-width: 718px;
  max-width: 100%;
  height: auto;
}

.map-section,
.map-content {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.map-content {
  width: 52%;
  padding: 70px 12.5% 70px 5%;
  float: left;
}
.map-content li {
  list-style-type: none;
}
.map-content li a {
  margin-bottom: 15px;
  display: inline-block;
  font-size: 1.5rem;
}
.map-content li a i {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 9px 12px;
  border: 1px solid #003f55;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin-right: 15px;
  font-size: 30px;
}
.map-content li a i.fa-phone {
  padding: 12px 15px;
  font-size: 25px;
}
.map-content li a i.fa-envelope {
  padding: 11px;
  font-size: 25px;
}
.map-content li a:hover {
  color: #fba832;
}
.map-content li a:hover i {
  border-color: #fba832;
}

/* Community Section Styling ===============================================*/
.community {
  padding: 50px 0;
  background-color: #a14a89;
}
.community .community-left,
.community .community-right {
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.community p {
  margin: 10px 0;
  font-size: 13px;
}
.community .community-left {
  padding-right: 10%;
}
.community a {
  display: block;
}
.community a img {
  width: 100%;
}
.community a.common-cta {
  margin-top: 30px;
  display: inline-block;
}
.community .thumbnails a {
  width: 50%;
  float: left;
}
.community .opacity-effect:hover,
.community .thumbnails a:hover {
  opacity: 0.7;
}

/* 3.3. Footer Style
========================================================================== */
footer a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer-links {
  padding: 70px 0;
  background: url(../images/newsletter_bg.png) no-repeat;
  background-position: center bottom;
  background-size: contain;
}
.footer-links h5 {
  color: #003f55;
}
.footer-links p {
  margin: 10px 0;
}

#back_to_top {
  padding-top: 50px;
  position: fixed;
  z-index: 100;
  bottom: 9%;
  right: 7%;
  background: url(../images/back_to_top.png) no-repeat;
  background-position: 28% top;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
}
#back_to_top.top-fade-out {
  opacity: 0;
}
#back_to_top.top-is-visible {
  opacity: 1;
}
#back_to_top:hover {
  text-shadow: 1px 2px 2px #003f55;
}

.form-style p {
  color: #f00;
  opacity: 1;
}
.form-style .blank-text {
  opacity: 0;
}

/* Newsletter Section Styling ===============================================*/
.newsletter,
.quick_links {
  float: left;
}

.newsletter {
  width: 38%;
  padding-right: 5%;
}

.quick_links {
  width: 45%;
  padding-left: 3%;
}

.footer-menu li {
  box-sizing: border-box;
  width: 50%;
  min-height: 70px;
  display: inline-block;
  float: left;
}
.footer-menu li a {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-menu li a:hover {
  color: #ccc;
}

.form-style {
  width: 100%;
  position: relative;
}
.form-style input {
  box-sizing: border-box;
}
.form-style ::-webkit-input-placeholder {
  color: #003f55;
}
.form-style ::-moz-placeholder {
  color: #003f55;
}
.form-style :-ms-input-placeholder {
  color: #003f55;
}
.form-style :-moz-placeholder {
  color: #003f55;
}
.form-style .form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #003f55;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.form-style .arrow-btn {
  width: 41px;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: transparent;
}
.form-style .arrow-btn img {
  width: 100%;
}
.form-style .arrow-btn .hovered-arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form-style .arrow-btn .hovered-arrow:hover {
  opacity: 1;
}

footer .social-icons {
  padding: 15px 0;
}
footer .social-icons li {
  margin: 3%;
  display: inline-block;
}
footer .social-icons li a {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 8px 0;
  border: 1px solid #003f55;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  color: #003f55;
  cursor: pointer;
  text-align: center;
}
footer .social-icons li a:hover {
  background-color: #003f55;
  color: #fff;
}

/* Copyright Section Styling ===============================================*/
.copyright {
  padding: 5px 0;
  background-color: #a14a89;
}
.copyright p {
  color: #fff;
  font-size: 13px;
}
.copyright .copyright-left {
  width: 78%;
  float: left;
}
.copyright .copyright-right {
  float: right;
}

/*==========================================================================
3. Responsive Styling
========================================================================== */
/* 1024px Responsive Styling ============================================= */
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85%;
  }

  /* Typography Responsive
  ========================================================================== */
  h2 {
    font-size: 3rem;
  }
  h2 .small-title {
    font-size: 1.3rem;
  }

  h3 {
    margin: 20px 0;
    font-size: 2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  .common-cta {
    font-size: 1rem;
  }

  .normal-cta {
    padding-bottom: 9px;
  }

  .content p {
    margin: 20px 0;
    font-size: 0.9rem;
  }

  /* Header Responsive =====================================================*/
  header nav {
    padding: 0;
    margin: 30px 0;
    float: right;
    position: relative;
    z-index: 101;
  }
  header nav ul {
    min-width: 230px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fba832;
  }
  header nav li {
    list-style-type: none;
    width: 100%;
    display: block;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header nav li a {
    padding: 10px 0;
    display: block;
  }
  header nav li:hover {
    background-color: #003f55;
  }
  header nav .responsive-menu {
    display: block;
  }

  /* Main our story Responsive =====================================================*/
  .little-about {
    width: 85%;
    margin: 0 auto;
    float: none;
  }

  .why-choose-us.content {
    width: 75%;
    float: right;
  }

  .columns {
    width: 49%;
    padding: 10px 0;
  }

  /* What we offer Responsive =====================================================*/
  .offer img {
    width: 25%;
  }

  /* Blog section Responsive =====================================================*/
  .blog {
    padding-bottom: 80px;
  }
  .blog .blog-content span,
  .blog .blog-content p {
    font-size: 0.8rem;
  }
  .blog ul {
    margin-bottom: 40px;
  }

  .banner-content .arrows,
  .blog .arrows,
  .customers .arrows {
    padding: 0;
  }
  .banner-content .arrows a.next-arrow, .banner-content .arrows a.prev-arrow,
  .blog .arrows a.next-arrow,
  .blog .arrows a.prev-arrow,
  .customers .arrows a.next-arrow,
  .customers .arrows a.prev-arrow {
    margin: 0 10px;
  }

  /* Customer Section Responsive */
  .customers {
    padding: 30px 0;
  }
  .customers h3 {
    text-align: center;
  }
  .customers .customer-content {
    width: 65%;
    padding: 3% 5%;
  }
  .customers .customer-content p {
    font-size: 0.9rem;
  }
  .customers .arrows {
    margin: 40px 0;
  }

  .numbers {
    margin: 20px 0;
    font-size: 1.9rem;
  }

  .facts-figures {
    padding: 37px 0 57px;
  }
  .facts-figures p {
    font-size: 1.1rem;
  }

  /* Map Responsive =============================================== */
  .map-content {
    width: 70%;
    padding: 30px 3% 30px 3%;
    float: right;
    background-color: #fff;
    text-align: center;
  }
  .map-content li {
    text-align: left;
  }
  .map-content li a {
    font-size: 0.9rem;
  }
  .map-content li a i {
    width: 30px;
    height: 30px;
    padding: 4px 0 0 5px;
    font-size: 20px;
  }
  .map-content li a i.fa-phone, .map-content li a i.fa-envelope {
    padding: 6px 0 1px 6px;
    font-size: 18px;
  }

  .map p {
    font-size: 0.8rem;
  }

  .map-section {
    width: 17%;
  }
  .map-section img {
    min-width: 525px;
  }
}
/* End of 1024px media query */
/* 768px Responsive Styling ============================================= */
@media screen and (max-width: 768px) {
  h3, h2, h4 {
    text-align: center;
  }

  h5 {
    font-size: 1.5rem;
  }

  .topbar a {
    margin: 10px 0;
    display: block;
  }

  header h1 {
    top: 51px;
  }

  .normal-cta {
    padding: 9px 30px 9px;
  }

  /* why choose us tab ============================================*/
  .content {
    width: 100%;
  }

  .about-us-video {
    width: 100%;
  }

  .why-choose-us.content {
    width: 100%;
  }

  .why-choose-img {
    display: none;
  }

  .our-story {
    padding-bottom: 70px;
  }

  /* Offer Responsive Tab */
  .offers-blocks {
    width: 100%;
    margin: 25px 0;
  }

  .what-we-offer {
    padding: 70px 7% 95px;
    z-index: 3;
  }
  .what-we-offer .cat-img {
    display: none;
  }

  .offers {
    padding-top: 15%;
  }

  .offers h4 {
    font-size: 1rem;
  }

  .blog {
    margin-top: -175px;
  }
  .blog .wrapper > ul > li {
    width: 100%;
    margin: 25px 0;
  }
  .blog .wrapper > ul > li:nth-child(2) {
    margin: 25px 0;
  }
  .blog .blog-content {
    min-height: 60%;
    padding-bottom: 0;
  }
  .blog .read-more {
    padding: 30px 0;
  }
  .blog .arrows {
    width: 31%;
    top: -25%;
    left: initial;
    right: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .blog .arrows li {
    margin: 0;
  }
  .blog .arrows .prev-arrow,
  .blog .arrows .next-arrow {
    float: none;
  }

  .facts-figures ul li {
    width: 50%;
    padding: 0;
    margin: 25px 0;
  }

  .community .community-left,
  .community .community-right {
    width: 100%;
    padding: 35px 0;
    float: none;
  }

  .newsletter, .quick_links {
    float: none;
  }

  .newsletter {
    width: 100%;
    padding: 25px 0;
    text-align: center;
  }
  .newsletter form {
    min-width: 280px;
    display: inline-block;
  }

  .quick_links {
    width: 100%;
  }

  .community {
    padding: 20px 0;
  }

  .footer-links {
    padding-top: 30px;
  }

  .copyright .copyright-left,
  .copyright .copyright-right {
    width: 100%;
    margin: 10px 0;
    float: none;
    text-align: center;
  }
}
/* Mobile Responsive Styling ================================================ */
@media screen and (max-width: 567px) {
  h2 {
    font-size: 2rem;
  }
  h2 .small-title {
    font-size: 1rem;
  }

  .banner-content .common-cta {
    padding: 5px 20px 6px;
    margin-top: 20px;
    font-size: 0.9rem;
  }

  .our-story {
    padding: 30px 0;
  }

  .offers img {
    width: 15%;
  }

  .blog {
    margin-top: -117px;
  }

  .arrows-styling a {
    width: 30px;
    height: 30px;
  }
}
