@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/*Common Parts Styling*/
@font-face {font-family: "Trebuchet MS";
src: url("../vendor/fonts/TrebuchetMS/TrebuchetMS.eot") format("embedded-opentype"),
url("../vendor/fonts/TrebuchetMS/TrebuchetMS.woff2") format("woff2"),
url("../vendor/fonts/TrebuchetMS/TrebuchetMS.woff") format("woff"),
url("../vendor/fonts/TrebuchetMS/TrebuchetMS.ttf") format("truetype"),
url("../vendor/fonts/TrebuchetMS/TrebuchetMS.otf") format("opentype");
}

.container { width: 100%; }

.wrapper {
  width: calc(975px + 5%);
  margin: 0 auto;
}

header { background: #000; }

h1 { float: left; }

h1 a img { width: 100%;}

h1 a { padding-top: 15px; }

a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
}

nav {
  padding:0 20px;
  display: inline-block;
  position: relative;
}

nav ul li { display: inline-block; }

nav>ul>li>a {
  display: inline-block;
  padding: 15px 20px 14px 9px;
  color: #fff;
  font: 700 14px "Trebuchet MS";
}

nav>ul>li>a:after {
  padding: 5px 0;
  border-right: 1px solid #86744e;
  display: inline-block;
  content: "";
  transform: translateX(21px);
}

.gallery ul{ display: none; }

li.gallery:hover ul {
  height: 25px;
  padding: 0 13px;
  display: block;
  position: absolute;
  background-image: url(../images/gallery_list.png);
}


@-moz-document url-prefix() { 

  .gallery ul li a { 
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .location ul li a {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.gallery ul li a {
  padding-left: 3px;
  padding-right: 10px;
  display: inline-block;
  color: #fff;
  font: 700 14px "Trebuchet MS";
  text-transform: capitalize;
}

.gallery ul li a:hover { text-decoration: underline; }


nav>ul>li:nth-child(7) a:after { display: none; }

nav>ul>li>a:hover { color: #86744e; }

nav ul li:last-child a { border-right: 0px solid #fff; }


/* Home Page Styling Starts From Here*/

.home a { color: #86744e; }

.home-section {
  width: 100%;
  height: 98vh;
  background: url(../images/home-banner.png) no-repeat;
  background-size: 100%;
}

.home-section .wrapper h2 {
  width: 78%;
  padding-top: 26px;
  float: right;
  color: #fff;
  font: 46px 'Trebuchet MS';
  text-transform: capitalize;
}


/* Gallery Page Styling Starts from here*/

.gal>a { color: #86744e; }

.gallery li { display: inline-block; }

.gallery-section {
 height: 98vh;
 background: url(../images/gallery-banner.png) no-repeat;
 background-size: 100%;
}

.gallery-section .sliders {
  clear: both;
  transform: translateY(60px);
}

.prev {
  margin-left: 30px;
  float: left;
}


.next {
  margin-right: 30px;
  float: right;
}


/*About Page Styling*/

.about>a { color: #86744e; }

.about-section {
  height: 100vh;
  background: url(../images/about-banner.png);
  background-size: 100%;
}

.about-section .banner-content {
  width: 78%;
  float: right;
}

.about-section .banner-content h2 {
  width: 78%;
  padding: 26px 0;
  color: #86744e;
  font: 36px 'Trebuchet MS';
  text-transform: capitalize;
}

.about-section .banner-content p {
  padding: 5px 0;
  color:  #ffffff;
  font: 12px 'Trebuchet MS';
}

.about-section .banner-content span {
  margin-top: 10px;
  display: block;
  color: #fff;
  font: 24px 'Trebuchet MS';
}

.about-section .banner-content a {
  color: #86744e;
  font: 24px 'Trebuchet MS';
  text-decoration: none;
  text-transform: none;
}

.about-section .banner-content a:hover { color: #b4a17e; }

/*Location Page Styling*/

.loc>a { color: #86744e; }

.location ul {
  height: 25px;
  display: none;
}


.location:hover ul {
  padding: 0 13px;
  display: block;
  position: absolute;
  background-image: url(../images/gallery_list.png);
}

.location li {
  margin-right: -4px;
  display: inline-block;
}



.location ul li a {
  padding-left: 3px;
  padding-right: 10px;
  display: inline-block;
  color: #fff;
  font: 700 14px "Trebuchet MS";
  text-transform: capitalize;
}

.location ul li a:hover { text-decoration: underline; }

.location-section { clear: left; }

.location-section img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}


/*Amenities Page Styling*/

.amenities a { color: #86744e; }

.amenities-section {
  width: 100%;
  height: 1188px;
  background: url(../images/amenities-banner.png) no-repeat;
  background-size: 100% 100%;
}


.amenities-section .wrapper p {
  width: 78%;
  padding-top: 26px;
  float: right;
  color: #fff;
  font: 18px 'Trebuchet MS';
}

.amenities-section .wrapper ul { transform: translateY(30px); }

.amenities-section .wrapper ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.amenities-section li {
  margin: 0 40px 5px;
  text-transform: capitalize;
}

.amenities-section li.left { margin-left: 0; }

.amenities-section li.right { margin-right: 0; }

.amenities-section .wrapper ul li a {
  width: 189px;
  height: 132px;
  background: url(../images/amenities-list.png) no-repeat;
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
  text-indent: -9999px;
}

.amenities-section .wrapper ul li a:hover {
  -webkit-filter:sepia(0);
  -moz-filter:sepia(0);
  -ms-filter:sepia(0);
  filter:sepia(0);
}

.amenities-section .wrapper ul li span {
  margin: 4px 0;
  display: block;
  color:  #fff;
  font: 14px 'Trebuchet MS';
}

.amenities-section .wrapper ul li a {
  border: 3px solid #86744e;
  display: block;
}

.amenities-section .wrapper ul li:nth-child(1) a { background-position: 0 0; }

.amenities-section .wrapper ul li:nth-child(2) a { background-position: -263px 0; }

.amenities-section .wrapper ul li:nth-child(3) a { background-position: -525px 0;}

.amenities-section .wrapper ul li:nth-child(4) a { background-position: -788px 0; }

.amenities-section .wrapper ul li:nth-child(5) a { background-position: -177px; }

.amenities-section .wrapper ul li:nth-child(6) a { background-position: -263px -177px; }

.amenities-section .wrapper ul li:nth-child(7) a { background-position: -525px -178px; }

.amenities-section .wrapper ul li:nth-child(8) a { background-position: -788px -178px; }

.amenities-section .wrapper ul li:nth-child(9) a { background-position: 0 -355px; }

.amenities-section .wrapper ul li:nth-child(10) a { background-position: -263px -355px; }

.amenities-section .wrapper ul li:nth-child(11) a { background-position: -525px -356px; }

.amenities-section .wrapper ul li:nth-child(12) a { background-position: -788px -356px; }

.amenities-section .wrapper ul li:nth-child(13) a { background-position: 0 -533px; }

.amenities-section .wrapper ul li:nth-child(14) a { background-position: -263px -533px; }

.amenities-section .wrapper ul li:nth-child(15) a { background-position: -526px -533px; }

.amenities-section .wrapper ul li:nth-child(16) a { background-position: -788px -533px; }

/*Floor Plan Page Styling*/

.floor-plan>a { color: #86744e;}

.plan {
 width: 100%;
 height: 100%;
 padding-bottom: 25%;
 background-color: #222625;
}

.plan .wrapper h2 {
  width: 79%;
  padding-top: 26px;
  float: right;
  color: #86744e;
  font: 28px 'Trebuchet MS';
  text-transform: capitalize;
}

.plan-struct {
  height: 614px;
  background: url(../images/plan-backside.png) no-repeat;
  background-size: 990px 637px;
  transform: translate3d(0,162px,200px);
}

.plan-struct a {
  display: inline-block;
  text-decoration: none;
}

.plan-struct a img { opacity: 0; }

.plan-struct a:hover img { opacity: 1; }

.plan-struct a:nth-child(1) {
  position: absolute;
  left: 88px;
  top: 58px;
}

.plan-struct a:nth-child(2) {
 position: absolute;
 left: 271px;
 top: 58px;
}

.plan-struct a:nth-child(3) {
  position: absolute;
  left: 410px;
  top: 58px;
}

.plan-struct a:nth-child(4) {
  position: absolute;
  left: 551px;
  top: 58px;
}

.plan-struct a:nth-child(5) {
  position: absolute;
  left: 738px;
  top: 58px;
}

.plan-struct a:nth-child(5) img { width: 115px; }

.plan-struct a:nth-child(6) {
  position: absolute;
  left: 852px;
  top: 58px;
}

.plan-struct a:nth-child(6) img {
  width: 92px;
}

.plan-struct a:nth-child(7) {
  position: absolute;
  left: 144px;
  top: 221px;
}

.plan-struct a:nth-child(8) {
  position: absolute;
  left: 319px;
  top: 212px;
}

.plan-struct a:nth-child(9) {
  position: absolute;
  left: 475px;
  top: 213px;
}

.plan-struct a:nth-child(10) {
  position: absolute;
  left: 691px;
  top: 172px;
}

.plan-struct a:nth-child(11) {
  position: absolute;
  bottom: 23px;
  left: 83px;
}

.plan-struct a:nth-child(12) {
  position: absolute;
  bottom: 30px;
  left: 673px;
}

.plan-struct a:nth-child(13) {
  position: absolute;
  bottom: 30px;
  left: 828px;
}

/*Enquire Page*/

.enquire a { color: #86744e; }

.enquire-banner {
  width: 100%;
  height: 780px;
  background: url(../images/enquire-banner.png) no-repeat;
  background-size: 100%;
}

.enquire-content {
  width: 78%;
  padding-top: 26px;
  float: right;
}

.enquire-content {
  color:  #fff;
  font-family: 'Trebuchet MS';
}

.enquire-content p {
  margin: 15px 0;
  font-size: 18px;
}

.enquire-content address {
  font-size: 14px;
  white-space: pre-line;
}

.enquire-content span {
  margin-top: 5px;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.enquire-content span a {
  padding-left: 5px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.enquire-content ul { list-style-type: none; }

.enquire-content a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: none;
}

.enquire-content a:hover { color: #86744e; }

.enquire-now {
  padding: 10px;
  margin: 20px 0;
  background-color: #86744e;
}

a.enquire-now:hover { 
  background-color: #ddd;
  color: #86744e;
}

.bayleys:hover { opacity: 0.6; }