/**
* CAROUSEL STYLE ==========================
*/

.carousel {
	width: 100%;
}

.carousel-item {
	height: 100vh;
}

.carousel-caption {
	top: 50%;
	-webkit-transform: translateY(-25%);
	-moz-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	transform: translateY(-25%);
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.item-vta {
	vertical-align: middle;
}

.featurette1,
.featurette2 { position: relative; }

.featurette1 .section-img,
.featurette2 .section-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-repeat: no-repeat;
	background-size: 60%;
	background-attachment: fixed;
}

.featurette1 .section-img {
	z-index: -10;
	background-position: right top;	
	background-image: url(images/img/bcm95.jpg);
}


.featurette2 .section-img {
	z-index: -1;
	background-image: url(images/img/omega.jpg);
	background-position: left top;
}

#section3 {
	background-image: url(images/blog-post-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;	
}

.front-white { background-color: rgba(255,255,255,0.7); }

#img1 {
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0;
	top: 0;
}

/* HEADER STYLE ==================================== */
.site-header { background-color: rgba(0,0,0,.75); }


@media screen and (max-width: 800px) {
	#section1,
	#section2 {
		background-size: 80%;
		background-position: center center;
	}
}


/*
* FOOTER SOCIAL ICONS STYLE ===============
*/
.social-icons a {
	transition: all 0.2s linear;
}
.social-icons a span {
	font-size: 1.6em;
}

.social-icons a:hover {
	opacity: 0.65;
}