/* ==========================================================================
Utilities Page
========================================================================== */

.contact-banner {
	box-sizing: border-box;
	padding: 70px 0 0;
	img { width: 100%; }
}

.contact-form {
	padding: 60px 0;
	.secondary-heading {
		margin: 20px 0;
		text-align: left;
		@include tab() {
			text-align: center;
		}
	}

	.sidebar {
		background-color: #ddd;
		list-style-type: none;
		padding: 10px 0;
		li {
			a {
				width: 90%;
				padding: 10px 2%;
				display: inline-block;
				color: #000;
				@include fonta(400,16px);
				text-decoration: none;
				text-transform: uppercase;
			}
			&:hover, & a:hover {
				color: #fff;
			}
		}
	}

	form {
		label {
			margin: 20px 0 10px;
			@include fonta(400,16px);
			text-transform: capitalize;
		}
		textarea {
			width: 100%;
			height: 118px;
			resize: none;
		}
		.learn-about {
			background-color: #fff;
			margin: 40px 0 0;
			&:hover {
				background-color: #3c5bff;
				color: #fff;
			}
		}
	}

}