/* ==========================================================================
  Solutions Page
  ========================================================================== */
  .solutions-page {
  	.experts {
  		background: url(../images/experts_bg.png) no-repeat;
  		background-size: 100% 100%;
  		.wrapper { padding: 60px 0 0; }
  	}

  	.approach-content { padding-bottom: 0; }
  }
  /*Nav tabs */
  .nav { display: inline-block; }

  .border-wrap {
  	border-top: 1px solid #d8dade;
  	ul {
  		li {
  			margin: 0 2%;
  			padding: 10px 0;
  			&.active { background: url(../images/border-bottom.png) no-repeat center top; }
  			display: inline-block;
  			a, a:focus, a:hover {
  				color: #3956f0;
  				@include fonta(700,14px);
  				text-transform: uppercase;
  				text-decoration: none;
  				&:hover { text-decoration:none; }
  			}
  		}
  	}

  	@include tab(){
  		border: none;
  		ul {
  			width: 100%;
  			height: 40px;
  			position: relative;
  			li {
  				&.active {
  					border: 1px solid #ccc;
  					@include border-radius(4px);
  					display: block;
  					background: url(../images/carret-down.png) no-repeat 98%;
  					background-color: #fff;
  					background-size: 20px;


  				}
  				margin: 0;
  				display: none;
  			}

  			.tabs-dropdown {
  				border-left: 1px solid #ccc;
  				border-right: 1px solid #ccc;
  				display: block;
  				position: absolute;
  				background-color: #fff;
  				bottom: -100%;
  				right: 0;
  				left: 0;
  				z-index: 3;
  			}
  		}
  	}
  }


  /*nav tabs content*/

  .tab-content {
  	&>.active {
  		padding: 20px 0 40px;
  	}
  	a {
  		display: block;
  		img { width: 100%; }
  	}

  	h4 { margin: 15px 0 10px; }

  	h4 {
  		color: #38373c;
  		@include fonta(700,18px);
  	}

  	span {
  		color: #a6a8ab;
  		@include fonta(400,14px);
  		code {
  			color: #a6a8ab;
  			background-color: #fff;
  		}
  	}
  }

/*-------------------------------------
Services Section
--------------------------------------*/

.experts {
	.services {
		margin: 60px 0;
	}
}

.services {
	text-align: center;
	list-style-type: none;
	li {
		margin: 0 0 50px;
		a { @include transition(all 0.3s linear) }
	}
	li a:hover {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
	}
	li:nth-child(1) a {
		background: url(../images/data.png) no-repeat;
		background-size: 100% 100%;
	}
	li:nth-child(2) a {
		background: url(../images/com-power.png) no-repeat;
		background-size: 100% 100%;
	}
	li:nth-child(3) a {
		background: url(../images/analytics-service.png) no-repeat;
		background-size: 100% 100%;
	}
	a {
		width: 100px;
		height: 100px;
		@include border-radius(50%);
		display: inline-block;
		text-indent: -9999px;
	}
	.item-heading { margin: 34px 0 15px; }
	span {
		margin: 0 0 5px;
		color: #a6a8ab;
		@include fonta(400,14px);
		display: block;
		code {
			color: #a6a8ab;
			@include fonta(400,14px);
		}
	}
}

/*------------------------------------------------------------------------------
Capabilities Section
-------------------------------------------------------------------------------*/

.capabilities {
	padding: 5% 0;
	background: url(../images/mount_everest.png) no-repeat 0 0/100% 100% fixed;
	.wrapper {
		width: 75%;
		text-align: center;
		div {
			width: 80%;
			display: inline-block;
			color: #fff;
			h4 {
				@include fonta(700,30px);
				text-align: center;
				text-transform: uppercase;
			}
			p {
				margin: 25px 0;
				@include fonta(400,13.99px);
			}
		}
	}
}

.cap-list {

	li:nth-child(1) { a {	background: url(../images/icons_2.png) no-repeat center/60% 60%;	} }
	li:nth-child(2) { a {	background: url(../images/icons_5.png) no-repeat center/60% 60%;	} }
	li:nth-child(3) { a {	background: url(../images/icons_4.png) no-repeat center/60% 60%;	} }
	li:nth-child(4) { a {	background: url(../images/icons_1.png) no-repeat center/60% 60%;	} }
	li:nth-child(5) { a {	background: url(../images/icons_3.png) no-repeat center/60% 60%;	} }

	li {
		width: 15%;
		margin: 20px 1%;
		display: inline-block;
		@include tab() {
			width: 100%;
			margin: 20px 0 30px;
			display: block;
		}

		a {
			padding: 35% 45%;
			border: 1px solid #fff;
			@include border-radius(8px);
			display: inline-block;
			color: #fff !important;
			text-decoration: none;
			text-indent: -9999px;
			&:hover {
				background-color: #fff;
			}
		}
	}
}

.hide-form { display: none; }
.show-form {
	width: 60%;
	display: inline-block;
	@include tab() { width: 100%; }
	textarea {
		margin: 20px 0;
		@include fonta(400,16px);
		resize: none;
		@include tab() { @include fonta(400,12px); }
	}
	input {
		padding: 5px 3%;
		color: #fff;
		@include fonta(400,16px);
		text-transform: uppercase;
		background-color: transparent;
		@include transition(all 0.3s linear);
		@include tab() { @include fonta(400,12px); }
	}
}