@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
   1. Index Page Styling
   ========================================================================== */
/*Media Queries*/
/* ==========================================================================
Header Styling
========================================================================== */
@font-face {
  font-family: Verdana;
  src: url(../vendor/font/verdana.eot) format("embedded-opentype"), url(../vendor/font/verdana.ttf) format("truetype");
}
.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #38373c;
}

nav a,
nav > ul > li {
  display: inline-block;
}

h1 > a {
  padding: 21px 0;
  display: inline-block;
}

/*Navigation Menus*/
nav {
  /*Nav ul*/
}
nav .ul-hide {
  display: block;
  /*First ul li*/
}
nav .ul-hide > li {
  padding: 30px 0 28px;
  margin: 0 2%;
}
nav .ul-hide > li > a,
nav .ul-hide > li div a {
  color: #fff;
  font: 700 14px Verdana;
  text-align: left;
  text-decoration: none !important;
  text-transform: uppercase;
}
nav .ul-hide > li > a:hover,
nav .ul-hide > li div a:hover {
  color: #3c5bff;
}
nav .ul-show {
  display: block;
  /*First ul li*/
}
nav .ul-show > li {
  padding: 30px 0 28px;
  margin: 0 2%;
}
nav .ul-show > li > a {
  color: #fff;
  font: 700 14px Verdana;
  text-align: left;
  text-decoration: none !important;
  text-transform: uppercase;
}
nav .ul-show > li > a:hover {
  color: #3c5bff;
}
nav .ul-show > li > div a {
  color: #fff;
  font: 700 14px Verdana;
  text-align: left;
  text-decoration: none !important;
  text-transform: uppercase;
}
nav .ul-show > li > div a:hover {
  color: #3c5bff;
}

/*Second ul li dropdown*/
.solutions {
  position: relative;
  /* Second Ul li Starts Here*/
  /* Second Ul li Ends Here*/
}
.solutions .hide-second {
  padding-left: 15px;
  display: none;
}
.solutions .hide-second > li a {
  padding: 15px 0 15px 6%;
  display: block;
  color: #a6a8ab;
  font:  16px Verdana;
  text-transform: capitalize;
}
.solutions .hide-second > li a code {
  color: #a6a8ab;
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}
.solutions:hover .hide-second {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 2;
  background-color: #444348;
  list-style-type: none;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
}
.solutions:hover .hide-second > li {
  min-width: 230px;
  margin: 0;
}
.solutions:hover .hide-second > li:hover {
  background: url(../images/sub-nav.png) no-repeat left;
}
.solutions:hover .hide-second > li:hover a, .solutions:hover .hide-second > li:hover a code {
  color: #31c297;
}

/*Solutions UL li Ends Here*/
.sales > ul {
  display: none;
}
.sales:hover > .hide-third {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background-color: #444348;
  list-style-type: none;
}
.sales:hover > .hide-third > li {
  min-width: 270px;
  padding: 0 6.4%;
  margin: 0;
}
.sales:hover > .hide-third > li a, .sales:hover > .hide-third > li code {
  color: #fff !important;
}
.sales:hover > .hide-third > li a {
  padding: 15px 2%;
}
@media screen and (max-width: 767px) {
  .sales:hover > .hide-third > li a {
    padding: 15px 10%;
  }
}
.sales:hover > .hide-third > li a code {
  background-color: transparent;
  border-radius: 0;
}
.sales:hover > .hide-third > li a:hover {
  color: #31c297 !important;
}

/* ==========================================================================
Home Page
========================================================================== */
.banner {
  width: 100%;
  padding: 13.5% 0;
  margin-top: 76px;
  display: table;
  background: url(../images/image_hero-1-1200x609.jpg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}
.banner .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.banner .banner-content {
  width: 66%;
  display: inline-block;
}
.banner h2 {
  font: 700 65px/65px Verdana;
}
.banner span {
  margin: 18px 0;
  display: block;
  font:  17.99px Verdana;
}

.learn-more {
  margin: 16px 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.learn-more:hover {
  background-color: #fff;
  color: #555;
  text-decoration: none;
}

.secondary-heading {
  color: #38373c;
  font: 700 30px Verdana;
  text-align: center;
  text-transform: uppercase;
}
.secondary-heading span {
  display: block;
  font: 700 30px Verdana;
}

/*-------------------------------------
New Approach Section
--------------------------------------*/
p,
span {
  font:  13.99px/20px Verdana;
}

.new-approach .wrapper {
  padding: 70px 0 0;
  text-align: center;
}
.new-approach .approach-content {
  width: 60%;
  padding-bottom: 67px;
  border: 1px solid transparent;
  display: inline-block;
}
.new-approach .approach-content p {
  margin: 25px 0;
}
.new-approach .approach-content .addition {
  padding: 25px 0;
  border-top: 1px solid #a6a8ab;
  border-bottom: 1px solid #a6a8ab;
  color: #a6a8ab;
  font: 700 17.99px Verdana;
  font-style: italic;
}
.new-approach .approach-content .addition span {
  display: inline-block;
  font-style: normal;
  text-transform: uppercase;
}
.new-approach .approach-content .addition code {
  margin: 0 1.5%;
  background-color: #fff;
  border-radius: 0;
  display: inline-block;
  color: #ee8e5f;
  font: 400 17.99px Verdana;
  font-style: normal;
}

/*-------------------------------------
Services Section
--------------------------------------*/
.services {
  text-align: center;
}
.services div a {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.services div a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.services div:nth-child(1) a {
  background: url(../images/data.png) no-repeat;
  background-size: 100% 100%;
}
.services div:nth-child(2) a {
  background: url(../images/com-power.png) no-repeat;
  background-size: 100% 100%;
}
.services div:nth-child(3) a {
  background: url(../images/analytics-service.png) no-repeat;
  background-size: 100% 100%;
}
.services div:nth-child(4) a {
  background: url(../images/visualization-service.png) no-repeat;
  background-size: 100% 100%;
}
.services a {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
}
.services .item-heading {
  margin: 34px 0 15px;
}
.services .item-heading code {
  background-color: #fff;
  color: #38373c;
  font: 700 18px Verdana;
}
.services p {
  margin: 0 0 40px;
  color: #a6a8ab;
  font:  14px Verdana;
}
.services p span {
  display: block;
}

.item-heading {
  margin: 34px 0 15px;
  color: #38373c;
  font: 700 18px Verdana;
  text-transform: capitalize;
}

.learn-about {
  padding: 10px;
  margin: 0 0 70px;
  border: 2px solid #3c5bff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  display: inline-block;
  color: #3956f0;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.learn-about:hover {
  background-color: #3956f0;
  color: #fff;
  text-decoration: none;
}

/*-------------------------------------
Grids Section
--------------------------------------*/
.grids {
  margin: 0;
}
.grids li {
  padding: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
}
.grids li img {
  width: 100%;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
}
.grids li div {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
  text-align: left;
}
.grids li div h5 {
  margin-bottom: 30px;
  color: #fff;
  font: 700 30px Verdana;
}
.grids li div a {
  color: #fff;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.grids li div a:hover {
  text-decoration: underline;
}
.grids li:hover {
  background-color: black;
}
.grids li:hover img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/*-------------------------------------
Success Stories Section
--------------------------------------*/
.success-stories .wrapper {
  padding: 70px 0 0;
  text-align: center;
}
.success-stories h3 {
  margin: 0 0 50px;
}

.story-pic {
  margin: 0 0 70px;
  text-align: left;
}
.story-pic a {
  padding: 0;
  display: block;
  overflow: hidden;
}
.story-pic a img {
  width: 100%;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
}
.story-pic a img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.story-pic div {
  padding: 5%;
  box-sizing: border-box;
}
.story-pic h4 {
  margin: 0 0 67px;
  font: 700 23.91px Verdana;
}
.story-pic p {
  padding: 0 0 0 22px;
  border-left: 2px solid #ffc001;
  margin: 87px 0 20px;
  display: inline-block;
}
.story-pic .more-details {
  color: #3956f0;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
}
.story-pic .more-details:hover {
  text-decoration: underline !important;
}

/*-------------------------------------
Company Growth
--------------------------------------*/
.growth {
  padding: 59px 0 39px;
  background: url(../images/growth.jpg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.growth .growth-list {
  list-style-type: none;
}
.growth li {
  margin: 0 0 20px;
}
.growth span {
  display: block;
  color: #fff;
  font: 700 14px Verdana;
  text-align: center;
  text-transform: uppercase;
}
.growth .number {
  font: 700 65px Verdana;
}

/*-------------------------------------
Slider Testimonials
--------------------------------------*/
.testimonials .wrapper {
  padding: 70px 0;
  text-align: center;
}
.testimonials .wrapper h4 {
  margin: 0 0 70px;
}

.carousel {
  margin: 0 0 50px;
  position: relative;
}
.carousel .icon {
  width: 42px;
  height: 42px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  background: url(../images/ellipse.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
}
.carousel .item {
  box-sizing: border-box;
  padding: 80px 25% 60px;
}
.carousel .item p,
.carousel .item span {
  color: #a6a8ab;
}
.carousel .item p {
  margin: 0 0 10px;
  font:  20px Verdana;
  font-style: italic;
}
.carousel .item span {
  font:  12px Verdana;
}
.carousel .carousel-indicators li {
  background-color: #3c5bff;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  width: 2%;
  text-decoration: none;
  text-indent: -9999px;
}
.carousel .carousel-control.left {
  background: url(../images/left-arrow.svg) no-repeat;
  background-size: 100% 100%;
}
.carousel .carousel-control.right {
  background: url(../images/right-arrow.svg) no-repeat;
  background-size: 100% 100%;
}

/* ==========================================================================
  Solutions Page
  ========================================================================== */
.solutions-page .experts {
  background: url(../images/experts_bg.png) no-repeat;
  background-size: 100% 100%;
}
.solutions-page .experts .wrapper {
  padding: 60px 0 0;
}
.solutions-page .approach-content {
  padding-bottom: 0;
}

/*Nav tabs */
.nav {
  display: inline-block;
}

.border-wrap {
  border-top: 1px solid #d8dade;
}
.border-wrap ul li {
  margin: 0 2%;
  padding: 10px 0;
  display: inline-block;
}
.border-wrap ul li.active {
  background: url(../images/border-bottom.png) no-repeat center top;
}
.border-wrap ul li a, .border-wrap ul li a:focus, .border-wrap ul li a:hover {
  color: #3956f0;
  font: 700 14px Verdana;
  text-transform: uppercase;
  text-decoration: none;
}
.border-wrap ul li a:hover, .border-wrap ul li a:focus:hover, .border-wrap ul li a:hover:hover {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .border-wrap {
    border: none;
  }
  .border-wrap ul {
    width: 100%;
    height: 40px;
    position: relative;
  }
  .border-wrap ul li {
    margin: 0;
    display: none;
  }
  .border-wrap ul li.active {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    display: block;
    background: url(../images/carret-down.png) no-repeat 98%;
    background-color: #fff;
    background-size: 20px;
  }
  .border-wrap ul .tabs-dropdown {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: block;
    position: absolute;
    background-color: #fff;
    bottom: -100%;
    right: 0;
    left: 0;
    z-index: 3;
  }
}

/*nav tabs content*/
.tab-content > .active {
  padding: 20px 0 40px;
}
.tab-content a {
  display: block;
}
.tab-content a img {
  width: 100%;
}
.tab-content h4 {
  margin: 15px 0 10px;
}
.tab-content h4 {
  color: #38373c;
  font: 700 18px Verdana;
}
.tab-content span {
  color: #a6a8ab;
  font:  14px Verdana;
}
.tab-content span code {
  color: #a6a8ab;
  background-color: #fff;
}

/*-------------------------------------
Services Section
--------------------------------------*/
.experts .services {
  margin: 60px 0;
}

.services {
  text-align: center;
  list-style-type: none;
}
.services li {
  margin: 0 0 50px;
}
.services li a {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.services li a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.services li:nth-child(1) a {
  background: url(../images/data.png) no-repeat;
  background-size: 100% 100%;
}
.services li:nth-child(2) a {
  background: url(../images/com-power.png) no-repeat;
  background-size: 100% 100%;
}
.services li:nth-child(3) a {
  background: url(../images/analytics-service.png) no-repeat;
  background-size: 100% 100%;
}
.services a {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
}
.services .item-heading {
  margin: 34px 0 15px;
}
.services span {
  margin: 0 0 5px;
  color: #a6a8ab;
  font:  14px Verdana;
  display: block;
}
.services span code {
  color: #a6a8ab;
  font:  14px Verdana;
}

/*------------------------------------------------------------------------------
Capabilities Section
-------------------------------------------------------------------------------*/
.capabilities {
  padding: 5% 0;
  background: url(../images/mount_everest.png) no-repeat 0 0/100% 100% fixed;
}
.capabilities .wrapper {
  width: 75%;
  text-align: center;
}
.capabilities .wrapper div {
  width: 80%;
  display: inline-block;
  color: #fff;
}
.capabilities .wrapper div h4 {
  font: 700 30px Verdana;
  text-align: center;
  text-transform: uppercase;
}
.capabilities .wrapper div p {
  margin: 25px 0;
  font:  13.99px Verdana;
}

.cap-list li:nth-child(1) a {
  background: url(../images/icons_2.png) no-repeat center/60% 60%;
}
.cap-list li:nth-child(2) a {
  background: url(../images/icons_5.png) no-repeat center/60% 60%;
}
.cap-list li:nth-child(3) a {
  background: url(../images/icons_4.png) no-repeat center/60% 60%;
}
.cap-list li:nth-child(4) a {
  background: url(../images/icons_1.png) no-repeat center/60% 60%;
}
.cap-list li:nth-child(5) a {
  background: url(../images/icons_3.png) no-repeat center/60% 60%;
}
.cap-list li {
  width: 15%;
  margin: 20px 1%;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .cap-list li {
    width: 100%;
    margin: 20px 0 30px;
    display: block;
  }
}
.cap-list li a {
  padding: 35% 45%;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  display: inline-block;
  color: #fff !important;
  text-decoration: none;
  text-indent: -9999px;
}
.cap-list li a:hover {
  background-color: #fff;
}

.hide-form {
  display: none;
}

.show-form {
  width: 60%;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .show-form {
    width: 100%;
  }
}
.show-form textarea {
  margin: 20px 0;
  font:  16px Verdana;
  resize: none;
}
@media screen and (max-width: 767px) {
  .show-form textarea {
    font:  12px Verdana;
  }
}
.show-form input {
  padding: 5px 3%;
  color: #fff;
  font:  16px Verdana;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
@media screen and (max-width: 767px) {
  .show-form input {
    font:  12px Verdana;
  }
}

/* ==========================================================================
Utilities Page
========================================================================== */
.utilities .banner {
  padding: 13.5% 0 0;
  background-image: none;
  text-align: center;
  color: #38373c;
}
.utilities .banner div {
  width: 70%;
  display: inline-block;
}
.utilities .banner div p {
  margin: 30px 0 50px;
}
.utilities .banner form {
  padding: 1% 0;
  background-color: #ccc;
  font:  18px Verdana;
}
@media screen and (max-width: 767px) {
  .utilities .banner form {
    background-color: #fff;
  }
}
.utilities .banner form select {
  width: 15%;
  height: 50px;
  color: #ccc;
  text-transform: uppercase;
}
.utilities .banner form .focus-discovery {
  padding: 12px 3%;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  background-color: transparent;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .utilities .banner form .focus-discovery {
    width: 100%;
    background-color: #ccc;
  }
}

/*-----------------------------------------------------------------
utility-data Section
--------------------------------------------------------------------*/
.utility-data {
  padding: 35px 0;
}
.utility-data h3 {
  padding: 15px 0;
  border-bottom: 1px solid #888;
  color: #888;
  font: 700 18px Verdana;
  text-transform: capitalize;
}
.utility-data .data-list {
  padding: 20px 0 0;
  list-style-type: none;
}
.utility-data .data-list li a {
  box-sizing: border-box;
  padding: 43% 6%;
  margin: 30px 0 0;
  display: block;
  position: relative;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.utility-data .data-list li a:hover {
  opacity: 0.6;
}
.utility-data .data-list li a span {
  position: absolute;
  bottom: 6%;
  color: #fff;
  font: 700 16px Verdana;
}
@media screen and (max-width: 767px) {
  .utility-data .data-list li a span {
    font: 700 5vw Verdana;
  }
}
.utility-data .data-list li:nth-child(1) a {
  background: url(../images/photo-1442261350644-d746b4750d4c-150x150.png) no-repeat 0/100% 100%;
}
.utility-data .data-list li:nth-child(2) a {
  background: url(../images/module-img-dummy-150x150.png) no-repeat 0/100% 100%;
}
.utility-data .data-list li:nth-child(3) a {
  background: url(../images/module-img-dummy-150x150.png) no-repeat 0/100% 100%;
}
.utility-data .data-list li:nth-child(4) a {
  background: url(../images/photo-1443866451220-8377d57c426a-150x150.png) no-repeat 0/100% 100%;
}
.utility-data .data-list li:nth-child(5) a {
  background: url(../images/module-img-dummy-150x150.png) no-repeat 0/100% 100%;
}
.utility-data .data-list li:nth-child(6) a {
  background: url(../images/photo-1438256544752-7b3a88776cb0-150x150.png) no-repeat 0/100% 100%;
}
.utility-data .data-list li:nth-child(7) a {
  background: url(../images/photo-1435000442795-4f8aa43f052f.jpg) no-repeat 0/100% 100%;
}
.utility-data .data-list li:nth-child(8) a {
  background: url(../images/photo-1439741792332-bb036b9c06b3-150x150.png) no-repeat 0/100% 100%;
}

@media screen and (max-width: 767px) {
  .lightbox {
    padding: 20px 0;
  }
}
.lightbox iframe {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .lightbox iframe {
    height: 300px;
  }
}

/* ==========================================================================
Utilities Page
========================================================================== */
.contact-banner {
  box-sizing: border-box;
  padding: 70px 0 0;
}
.contact-banner img {
  width: 100%;
}

.contact-form {
  padding: 60px 0;
}
.contact-form .secondary-heading {
  margin: 20px 0;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .contact-form .secondary-heading {
    text-align: center;
  }
}
.contact-form .sidebar {
  background-color: #ddd;
  list-style-type: none;
  padding: 10px 0;
}
.contact-form .sidebar li a {
  width: 90%;
  padding: 10px 2%;
  display: inline-block;
  color: #000;
  font:  16px Verdana;
  text-decoration: none;
  text-transform: uppercase;
}
.contact-form .sidebar li:hover, .contact-form .sidebar li a:hover {
  color: #fff;
}
.contact-form form label {
  margin: 20px 0 10px;
  font:  16px Verdana;
  text-transform: capitalize;
}
.contact-form form textarea {
  width: 100%;
  height: 118px;
  resize: none;
}
.contact-form form .learn-about {
  background-color: #fff;
  margin: 40px 0 0;
}
.contact-form form .learn-about:hover {
  background-color: #3c5bff;
  color: #fff;
}

/*==========================================================================
Article Page Styling
========================================================================== */
.article-page p {
  margin: 15px 0;
}
.article-page h4 {
  font: 700 17px Verdana;
  text-transform: uppercase;
}

.title-wrap {
  padding: 40px 0 0;
}

.article-title .item-heading {
  margin: 0 0 5px;
}
.article-title span {
  color: #a6a8ab;
}
@media screen and (max-width: 767px) {
  .article-title {
    margin: 0 2%;
  }
}

.share {
  padding: 0 6%;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .share {
    text-align: center;
  }
}
.share span {
  display: inline-block;
  color: #a6a8ab;
}
.share ul {
  display: inline-block;
}
.share ul li {
  padding: 0 5px;
  display: inline-block;
}
.share ul a {
  padding: 0 5px;
  display: block;
  color: #888;
}
.share ul a:hover {
  color: black;
}

/*Main Paragraph*/
.desc {
  font: 700 16px Verdana;
}

.article-content {
  padding: 20px 0;
}
.article-content a {
  margin: 0 0 40px;
  display: block;
  overflow: hidden;
}
.article-content a img {
  width: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.article-content a:hover img {
  opacity: 0.6;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

/*Quoted Text*/
.quotes {
  margin: 10px 0;
  color: #a6a8ab;
}
.quotes code {
  width: 5%;
  display: inline-block;
  background-color: #fff;
  color: #efed05;
  font: 700 50px Verdana;
  text-shadow: 0 0 1px black;
  vertical-align: top;
}
@media screen and (max-width: 767px) {
  .quotes code {
    font: 700 30px Verdana;
  }
}
.quotes p {
  width: 94%;
  display: inline-block;
  font:  18px Verdana;
  font-style: italic;
}
@media screen and (max-width: 767px) {
  .quotes p {
    width: 92%;
    font:  16px Verdana;
    font-style: italic;
  }
}

/*Bullet List*/
.bullet-list {
  list-style-type: none;
}
.bullet-list li {
  margin: 10px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.bullet-list li::before {
  padding: 0 2% 0 0;
  display: inline-block;
  content: "ΓÇó";
  color: #00ff99;
}
@media screen and (max-width: 767px) {
  .bullet-list li::before {
    padding: 0 5% 0 0;
  }
}

aside {
  text-align: center;
}
aside .learn-about {
  height: 40px;
  padding: 10px;
  margin: 40px 0 20px;
}

.related-stories {
  list-style-type: none;
}
.related-stories h4 {
  margin: 20px 0 0;
  color: #3c5bff;
}
.related-stories p {
  margin: 5px 0;
}

.panel-footer {
  text-align: left;
}

.story-pic .story-title {
  padding: 20px 0 49px;
}
.story-pic .story-title h4 {
  margin: 5px 0;
  text-transform: capitalize;
}
.story-pic .story-title h4 code {
  color: #000;
  background-color: #fff;
}
.story-pic .story-title span {
  color: #a6a8ab;
}
.story-pic p {
  margin: 70px 0 30px;
}
.story-pic .more-details {
  padding: 0 5%;
}

.success-stories {
  padding: 40px 0 0;
  background: url(../images/experts_bg.png) no-repeat;
  background-size: 100% 100%;
}

footer {
  background-color: #444348;
}
footer .news-letter {
  box-sizing: border-box;
  padding: 40px 0;
  text-align: center;
}
footer .news-letter h5 {
  margin: 0 0 25px;
  color: #fff;
  font: 700 14px Verdana;
}
footer .news-letter form {
  width: 100%;
  display: inline-block;
}
footer .news-letter form .highlight {
  width: 25%;
  padding: 10.5px 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  font:  14px Verdana;
}
@media screen and (max-width: 767px) {
  footer .news-letter form .highlight {
    width: 35%;
  }
}
footer .news-letter form .subscribe {
  padding: 11px 23px;
  margin: 0 2%;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  color: #fff;
  background-color: transparent;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
footer .news-letter form .subscribe:hover {
  background-color: #fff;
  color: #444348;
}

.navigations {
  padding: 39px 0;
  background-color: #38373c;
}
.navigations h2 a {
  display: block;
}
.navigations h2 a img {
  width: 100%;
}
.navigations .footer-heading, .navigations .footer-heading a {
  color: #fff;
  font: 700 14px Verdana;
  text-transform: capitalize;
}
.navigations .solutions-nav {
  list-style-type: none;
}
.navigations .solutions-nav li {
  margin: 15px 0 0;
}
.navigations .solutions-nav li a {
  color: #a6a8ab;
  font:  12px Verdana;
  text-transform: capitalize;
}
.navigations .solutions-nav li a:hover {
  color: #fff;
}

.copyright {
  padding: 11px 0;
  background-color: #2c2b30;
  text-align: center;
}
.copyright .copyrights-links {
  width: 50%;
  display: inline-block;
}
.copyright .copyrights-links li:first-child {
  margin: 0 10px 0;
}
.copyright .copyrights-links li:first-child span {
  font:  11px Verdana;
}
@media screen and (max-width: 767px) {
  .copyright .copyrights-links li:first-child {
    margin: 0;
  }
}
.copyright .copyrights-links li {
  display: inline-block;
  color: #fff;
}
.copyright .copyrights-links li code {
  background-color: transparent;
  color: #fff;
}
.copyright .copyrights-links li, .copyright .copyrights-links a {
  font:  11px Verdana;
  text-transform: capitalize;
}
.copyright .copyrights-links a {
  padding: 0 5px 0;
  border-left: 1px solid #d8dade;
  display: block;
  color: #d8dade;
}

.social {
  width: 100%;
  margin: 30px 0 0;
}
.social li {
  width: 25%;
  padding: 0;
  display: inline-block;
}
.social a {
  display: block;
  color: #999;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.social a:hover {
  color: #fff;
}

/*
* Responsive Styling Starts Here
*/
@media screen and (max-width: 767px) {
  h1 > a {
    padding: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  nav {
    position: static !important;
    /*Nav ul*/
  }
  nav .ul-hide {
    display: none;
    /*First ul*/
  }
  nav .ul-hide > li {
    padding: 0;
    border-bottom: 1px solid #2c2b30;
  }
  nav .ul-hide > li > a {
    padding: 20px 5%;
    display: inline-block;
    font: 700 24px Verdana;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  nav .ul-hide > li > a {
    font: 700 20px Verdana;
  }
}
@media screen and (max-width: 767px) {
  nav .ul-show {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 90%;
    background-color: #38373c;
    overflow: auto;
    /*First ul*/
  }
  nav .ul-show > li {
    padding: 0;
    border-bottom: 1px solid #2c2b30;
    display: block;
  }
  nav .ul-show > li > a {
    padding: 20px 5%;
    display: inline-block;
    font: 700 24px Verdana;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  nav .ul-show > li > a {
    font: 700 20px Verdana;
  }
}
@media screen and (max-width: 767px) {
  nav .ul-show > li > div a {
    padding: 20px 5%;
    display: inline-block;
    color: #fff;
    font: 700 24px Verdana;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  nav .ul-show > li > div a {
    font: 700 20px Verdana;
  }
}

@media screen and (max-width: 767px) {
  nav .hamburger {
    width: 45px;
    height: 45px;
    margin: 23px 0 25px;
    display: block;
    background: url(../images/hamburger.svg) no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    text-decoration: none;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    /*First UL LI*/
  }
}
/*Nav Ends Here*/
/*Hamburger Starts Here*/
.change-nav {
  width: 45px;
  height: 45px;
  margin: 23px 0 25px;
  display: block;
  background: url(../images/close.png) no-repeat;
  background-size: 100% 100%;
  animation: cross-icon 0.3s linear;
  -webkit-animation: cross-icon 0.3s linear;
  -moz-animation: cross-icon 0.3s linear;
  -ms-animation: cross-icon 0.3s linear;
  text-indent: -9999px;
  text-decoration: none;
}

@keyframes cross-icon {
  0% {
    background: url(../images/hamburger.svg) no-repeat;
  }
  100% {
    background: url(../images/close.png) no-repeat;
  }
}
/*Hamburger Ends Here*/
/*Solutions Nav*/
@media screen and (max-width: 767px) {
  .solutions {
    position: relative;
  }
  .solutions .show-second {
    position: static !important;
    left: 0;
    right: 2%;
    background-color: #444348;
  }
  .solutions .show-second > li {
    padding: 0;
    margin: 0;
    transition-duration: 0.3s;
  }
  .solutions .show-second > li a {
    padding: 15px 0 15px 6.4%;
    display: inline-block;
    color: #a6a8ab;
    font:  24px Verdana;
    text-transform: capitalize;
  }
  .solutions .show-second > li a code {
    background-color: transparent;
    color: #a6a8ab;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  .solutions .show-second > li a {
    font:  20px Verdana;
  }
}
@media screen and (max-width: 767px) {
  .solutions .show-second > li:hover {
    padding: 0;
    margin: 0;
  }
  .solutions .show-second > li:hover:hover a, .solutions .show-second > li:hover:hover a code {
    color: #31c297;
  }
  .solutions .show-second > li:hover > a:hover {
    background: url(../images/sub-nav.png) no-repeat left;
  }
  .solutions:hover .hide-second {
    opacity: 0;
  }
  .solutions .show-second {
    padding-left: 15px;
    position: static !important;
    opacity: 1;
  }
  .solutions .show-second li {
    padding-left: 0;
  }
  .solutions .show-second > li:hover {
    background: url(../images/sub-nav.png) no-repeat left;
  }
  .solutions .show-second > li:hover a, .solutions .show-second > li:hover a code {
    color: #31c297;
  }
}

@media screen and (max-width: 767px) {
  .sales:hover > .hide-third {
    display: none;
    position: static !important;
  }
  .sales .show-third {
    display: block;
    background-color: #444348;
    list-style-type: none;
  }
  .sales .show-third > li {
    min-width: 230px;
    margin: 0;
  }
  .sales .show-third > li a {
    color: #fff !important;
  }
  .sales .show-third > li:hover a, .sales .show-third > li:hover a code {
    color: #31c297 !important;
  }
}
@media screen and (max-width: 767px) {
  .new-approach .approach-content .addition code {
    display: block;
  }
}
/*Banner Styling*/
@media screen and (max-width: 767px) {
  .banner h2 {
    font: 700 35px Verdana;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  .banner h2 {
    font: 700 28px Verdana;
  }
}

@media screen and (max-width: 767px) {
  .banner-content span {
    font:  18px Verdana;
  }

  .approach-content {
    width: 70%;
  }
  .approach-content .secondary-heading {
    font: 700 30px Verdana;
  }
  .approach-content .secondary-heading span {
    font-size: calc(14px + 0.8vw);
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  .secondary-heading {
    font: 700 23px Verdana;
  }
}
@media screen and (max-width: 767px) {
  /*Story Pic Details Starts Here*/
  .story-pic {
    padding: 0 20px;
  }
  .story-pic div {
    padding: 5% 0;
  }
  .story-pic h4 {
    margin: 0 0 30px;
    font: 700 23.91px Verdana;
  }
  .story-pic p {
    padding: 0 0 0 22px;
    border-left: 2px solid #ffc001;
    margin: 0 0 20px;
    display: inline-block;
  }
  .story-pic .more-details {
    padding: 0 0 0 23px;
  }

  /*Story Pic Details Ends Here*/
  /*Growth Starts Here*/
  .growth .number {
    font: 700 50px Verdana;
  }

  /*Growth Ends Here*/
  /*Slider*/
  .testimonials .wrapper {
    padding: 40px 0;
  }

  .carousel .item {
    padding: 60px 20% 60px;
  }
  .carousel .item p {
    font:  14px Verdana;
    font-style: italic;
  }
  .carousel .item span {
    font:  10px Verdana;
  }

  footer .news-letter h5 {
    margin: 25px 0;
  }
  footer .news-letter form {
    width: 100%;
  }
  footer .news-letter form .highlight {
    width: 50% !important;
    padding: 3%;
    font: 12px Verdana;
  }
  footer .news-letter form .subscribe {
    padding: 3% 5%;
    font: 12px Verdana;
  }

  .footer-nav {
    text-align: center;
  }
  .footer-nav .footer-heading {
    text-align: center;
  }
  .footer-nav .social {
    width: 40%;
    display: inline-block;
  }
  .footer-nav .social li a {
    display: inline-block;
  }

  .copyright {
    width: 100%;
  }
  .copyright .copyrights-links {
    width: 100%;
    margin: 0;
  }
  .copyright .copyrights-links li:first-child {
    padding: 0 2px 0 0;
    margin: 0;
  }
  .copyright .copyrights-links li:first-child span {
    font:  8px Verdana;
  }
  .copyright .copyrights-links a {
    padding: 0 5px 0;
    display: block;
    font:  8px Verdana;
  }
}
/*
* Responsive Styling Starts Here
*/

/*# sourceMappingURL=style.css.map */
