@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html {
    overflow-y: scroll;
  }

  /* Align radios and text inputs with their label */
  input[type='radio'] {
    vertical-align: text-bottom;
  }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em {
    font-style: italic;
  }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup {
    top: -.7em;
  }

  sub {
    bottom: -.25em;
  }

/* ==========================================================================
   1. Index Page Styling
   ========================================================================== */
   /*Media Queries*/
/* ==========================================================================
Header Styling
========================================================================== */
@font-face {
  font-family: Verdana;
  src: url(../vendor/font/verdana.eot) format("embedded-opentype"), url(../vendor/font/verdana.ttf) format("truetype");
}
.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #38373c;
}

nav a,
nav > ul > li {
  display: inline-block;
}

h1 > a {
  padding: 21px 0;
  display: inline-block;
}

/*Navigation Menus*/
nav {
  /*Nav ul*/
}
nav .ul-hide {
  display: block;
  /*First ul li*/
}
nav .ul-hide > li {
  padding: 30px 0 28px;
  margin: 0 2%;
}
nav .ul-hide > li > a,
nav .ul-hide > li div a {
  color: #fff;
  font: 700 14px Verdana;
  text-align: left;
  text-decoration: none !important;
  text-transform: uppercase;
}
nav .ul-hide > li > a:hover,
nav .ul-hide > li div a:hover {
  color: #3c5bff;
}
nav .ul-show {
  display: block;
  text-align: center;
}
nav .ul-show > li {
  padding: 30px 0 28px;
  margin: 0 2%;
}
nav .ul-show > li > a {
  color: #fff;
  font: 700 14px Verdana;
  text-align: left;
  text-decoration: none !important;
  text-transform: uppercase;
}
nav .ul-show > li > a:hover {
  color: #3c5bff;
}
nav .ul-show > li > div a {
  color: #fff;
  font: 700 14px Verdana;
  text-align: left;
  text-decoration: none !important;
  text-transform: uppercase;
}
nav .ul-show > li > div a:hover {
  color: #3c5bff;
}

/*Second ul li dropdown*/
.contains-childs {
  position: relative;
  /* Second Ul li Starts Here*/
  /* Second Ul li Ends Here*/
}
.contains-childs .hide-second {
  padding-left: 15px;
  display: none;
}
.contains-childs .hide-second > li a {
  padding: 15px 0 15px 6%;
  display: block;
  color: #a6a8ab;
  font:  16px Verdana;
  text-transform: capitalize;
}
.contains-childs .hide-second > li a code {
  color: #a6a8ab;
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}
.contains-childs:hover .hide-second {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 2;
  background-color: #444348;
  list-style-type: none;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
}
.contains-childs:hover .hide-second > li {
  min-width: 230px;
  margin: 0;
}
.contains-childs:hover .hide-second > li:hover {
  background: url(../images/sub-nav.png) no-repeat left;
}
.contains-childs:hover .hide-second > li:hover a, .contains-childs:hover .hide-second > li:hover a code {
  color: #31c297;
}


/* ==========================================================================
Home Page
========================================================================== */
.banner {
  width: 100%;
  padding: 13.5% 0;
  margin-top: 76px;
  display: table;
  background: url(../images/image_hero-1-1200x609.jpg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}
.banner .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.banner .banner-content {
  width: 66%;
  display: inline-block;
}
.banner h2 {
  font: 700 65px/65px Verdana;
}
.banner span {
  margin: 18px 0;
  display: block;
  font:  17.99px Verdana;
}

.banner-cta {
  margin: 16px 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.banner-cta:hover {
  background-color: #fff;
  color: #555;
  text-decoration: none;
}

.secondary-heading {
  color: #38373c;
  font: 700 30px Verdana;
  text-align: center;
  text-transform: uppercase;
}
.secondary-heading span {
  display: block;
  font: 700 30px Verdana;
}

/*-------------------------------------
New category Section
--------------------------------------*/
p,
span {
  font:  13.99px/20px Verdana;
}

.bg-white {
  padding: 70px 0;
  text-align: center;
}
.bg-white .category-content {
  width: 60%;
  padding-bottom: 67px;
  border: 1px solid transparent;
  display: inline-block;
}
.bg-white .category-content p {
  margin: 25px 0;
}

.bg-white {
  text-align: center;
}

.category div a {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.category div a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.category div:nth-child(1) a {
  background: url(../images/data.png) no-repeat;
  background-size: 100% 100%;
}
.category div:nth-child(2) a {
  background: url(../images/com-power.png) no-repeat;
  background-size: 100% 100%;
}
.category div:nth-child(4) a {
  background: url(../images/analytics-service.png) no-repeat;
  background-size: 100% 100%;
}
.category div:nth-child(5) a {
  background: url(../images/visualization-service.png) no-repeat;
  background-size: 100% 100%;
}
.category a {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
}
.category .item-heading {
  margin: 34px 0 15px;
}
.category .item-heading code {
  background-color: #fff;
  color: #38373c;
  font: 700 18px Verdana;
}
.category p {
  margin: 0 0 40px;
  color: #a6a8ab;
  font:  14px Verdana;
}
.category p span {
  display: block;
}

.item-heading {
  margin: 34px 0 15px;
  color: #38373c;
  font: 700 18px Verdana;
  text-transform: capitalize;
}

.learn-about {
  padding: 10px;
  margin: 0 0 70px;
  border: 2px solid #3c5bff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  display: inline-block;
  color: #3956f0;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.learn-about:hover {
  background-color: #3956f0;
  color: #fff;
  text-decoration: none;
}

/*-------------------------------------
Grids Section
--------------------------------------*/
.grids {
  margin: 40px 0;
}
.grids li {
  padding: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
}
.grids li img {
  width: 100%;
  transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
}
.grids li div {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
  text-align: left;
}
.grids li div h5 {
  margin-bottom: 30px;
  color: #fff;
  font: 700 30px Verdana;
}
.grids li div a {
  color: #fff;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.grids li div a:hover {
  text-decoration: underline;
}
.grids li:hover {
  background-color: black;
}
.grids li:hover img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/*-------------------------------------
News Section
--------------------------------------*/
.news>div { margin: 30px 0; }


/*-------------------------------------
Articles Section
--------------------------------------*/

.articles h3 {
  margin: 0 0 50px;
}

.articles-pic {
  margin: 0 0 70px;
  text-align: left;
}
.articles-pic a {
  padding: 0;
  display: block;
  overflow: hidden;
}
.articles-pic a img {
  width: 100%;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
}
.articles-pic a img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.articles-pic div {
  padding: 5%;
  box-sizing: border-box;
}
.articles-pic h4 {
  margin: 0 0 67px;
  font: 700 23.91px Verdana;
}
.articles-pic p {
  padding: 0 0 0 22px;
  border-left: 2px solid #ffc001;
  margin: 87px 0 20px;
  display: inline-block;
}
.articles-pic .more-details {
  color: #3956f0;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
}
.articles-pic .more-details:hover {
  text-decoration: underline !important;
}



/*-------------------------------------
Offers Styling
--------------------------------------*/
.offers-content { margin-top: 40px; }


/*-------------------------------------
Slider Partners
--------------------------------------*/
.carousel-inner .secondary-heading { margin: 20px 0; }
.testimonials .wrapper {
  padding: 70px 0;
  text-align: center;
}
.testimonials .wrapper h4 {
  margin: 0 0 70px;
}

.carousel {
  margin: 0 0 50px;
  position: relative;
}
.carousel .icon {
  width: 42px;
  height: 42px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  background: url(../images/ellipse.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
}
.carousel .item {
  box-sizing: border-box;
  padding: 80px 25% 60px;
}
.carousel .item p,
.carousel .item span {
  color: #a6a8ab;
}
.carousel .item p {
  margin: 0 0 10px;
  font:  20px Verdana;
  font-style: italic;
}
.carousel .item span {
  font:  12px Verdana;
}
.carousel .carousel-indicators li {
  background-color: #3c5bff;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  width: 2%;
  text-decoration: none;
  text-indent: -9999px;
}
.carousel .carousel-control.left {
  background: url(../images/left-arrow.svg) no-repeat;
  background-size: 100% 100%;
}
.carousel .carousel-control.right {
  background: url(../images/right-arrow.svg) no-repeat;
  background-size: 100% 100%;
}



/*-------------------------------------
category Section
--------------------------------------*/
.experts .category {
  margin: 60px 0;
}

.category {
  text-align: center;
  list-style-type: none;
}
.category li {
  margin: 0 0 50px;
}
.category li a {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.category li a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.category li:nth-child(1) a {
  background: url(../images/data.png) no-repeat;
  background-size: 100% 100%;
}
.category li:nth-child(2) a {
  background: url(../images/com-power.png) no-repeat;
  background-size: 100% 100%;
}
.category li:nth-child(3) a {
  background: url(../images/analytics-service.png) no-repeat;
  background-size: 100% 100%;
}
.category a {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
}
.category .item-heading {
  margin: 34px 0 15px;
}
.category span {
  margin: 0 0 5px;
  color: #a6a8ab;
  font:  14px Verdana;
  display: block;
}
.category span code {
  color: #a6a8ab;
  font:  14px Verdana;
}

.bg-img {
  padding: 40px 0;
  background: url(../images/experts_bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

footer {
  background-color: #444348;
}
footer .news-letter {
  box-sizing: border-box;
  padding: 40px 0;
  text-align: center;
}
footer .news-letter h5 {
  margin: 0 0 25px;
  color: #fff;
  font: 700 14px Verdana;
}
footer .news-letter form {
  width: 100%;
  display: inline-block;
}
footer .news-letter form .highlight {
  width: 25%;
  padding: 10.5px 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  font:  14px Verdana;
}
@media screen and (max-width: 767px) {
  footer .news-letter form .highlight {
    width: 35%;
  }
}
footer .news-letter form .subscribe {
  padding: 11px 23px;
  margin: 0 2%;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  color: #fff;
  background-color: transparent;
  font: 700 14px Verdana;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
footer .news-letter form .subscribe:hover {
  background-color: #fff;
  color: #444348;
}

.navigations {
  padding: 39px 0;
  background-color: #38373c;
}
.navigations h2 a {
  display: block;
}
.navigations h2 a img {
  width: 100%;
}
.navigations .footer-heading, .navigations .footer-heading a {
  color: #fff;
  font: 700 14px Verdana;
  text-transform: capitalize;
}
.navigations .contains-childs-nav {
  list-style-type: none;
}
.navigations .contains-childs-nav li {
  margin: 15px 0 0;
}
.navigations .contains-childs-nav li a {
  color: #a6a8ab;
  font:  12px Verdana;
  text-transform: capitalize;
}
.navigations .contains-childs-nav li a:hover {
  color: #fff;
}

.copyright {
  padding: 11px 0;
  background-color: #2c2b30;
  text-align: center;
}
.copyright .copyrights-links {
  width: 50%;
  display: inline-block;
}
.copyright .copyrights-links li:first-child {
  margin: 0 10px 0;
}
.copyright .copyrights-links li:first-child span {
  font:  11px Verdana;
}
@media screen and (max-width: 767px) {
  .copyright .copyrights-links li:first-child {
    margin: 0;
  }
}
.copyright .copyrights-links li {
  display: inline-block;
  color: #fff;
}
.copyright .copyrights-links li code {
  background-color: transparent;
  color: #fff;
}
.copyright .copyrights-links li, .copyright .copyrights-links a {
  font:  11px Verdana;
  text-transform: capitalize;
}
.copyright .copyrights-links a {
  padding: 0 5px 0;
  border-left: 1px solid #d8dade;
  display: block;
  color: #d8dade;
}

.social {
  width: 100%;
  margin: 30px 0 0;
}
.social li {
  width: 25%;
  padding: 0;
  display: inline-block;
}
.social a {
  display: block;
  color: #999;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.social a:hover {
  color: #fff;
}

/*
* Responsive Styling Starts Here
*/
@media screen and (max-width: 767px) {
  h1 > a {
    padding: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  nav {
    position: static !important;
    /*Nav ul*/
  }
  nav .ul-hide {
    display: none;
    /*First ul*/
  }
  nav .ul-hide > li {
    padding: 0;
    border-bottom: 1px solid #2c2b30;
  }
  nav .ul-hide > li > a {
    padding: 20px 5%;
    display: inline-block;
    font: 700 24px Verdana;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  nav .ul-hide > li > a {
    font: 700 20px Verdana;
  }
}
@media screen and (max-width: 767px) {
  nav .ul-show {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 90%;
    background-color: #38373c;
    overflow: auto;
    /*First ul*/
  }
  nav .ul-show > li {
    padding: 0;
    border-bottom: 1px solid #2c2b30;
    display: block;
  }
  nav .ul-show > li > a {
    padding: 20px 5%;
    display: inline-block;
    font: 700 24px Verdana;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  nav .ul-show > li > a {
    font: 700 20px Verdana;
  }
}
@media screen and (max-width: 767px) {
  nav .ul-show > li > div a {
    padding: 20px 5%;
    display: inline-block;
    color: #fff;
    font: 700 24px Verdana;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  nav .ul-show > li > div a {
    font: 700 20px Verdana;
  }
}

@media screen and (max-width: 767px) {
  nav .hamburger {
    width: 45px;
    height: 45px;
    margin: 23px 0 25px;
    display: block;
    background: url(../images/hamburger.svg) no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    text-decoration: none;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    /*First UL LI*/
  }
}
/*Nav Ends Here*/
/*Hamburger Starts Here*/
.change-nav {
  width: 45px;
  height: 45px;
  margin: 23px 0 25px;
  display: block;
  background: url(../images/close.png) no-repeat;
  background-size: 100% 100%;
  animation: cross-icon 0.3s linear;
  -webkit-animation: cross-icon 0.3s linear;
  -moz-animation: cross-icon 0.3s linear;
  -ms-animation: cross-icon 0.3s linear;
  text-indent: -9999px;
  text-decoration: none;
}

@keyframes cross-icon {
  0% {
    background: url(../images/hamburger.svg) no-repeat;
  }
  100% {
    background: url(../images/close.png) no-repeat;
  }
}
/*Hamburger Ends Here*/
/*contains-childs Nav*/
@media screen and (max-width: 767px) {
  .contains-childs {
    position: relative;
  }
  .contains-childs .show-second {
    position: static !important;
    left: 0;
    right: 2%;
    background-color: #444348;
  }
  .contains-childs .show-second > li {
    padding: 0;
    margin: 0;
    transition-duration: 0.3s;
  }
  .contains-childs .show-second > li a {
    padding: 15px 0 15px 6.4%;
    display: inline-block;
    color: #a6a8ab;
    font:  24px Verdana;
    text-transform: capitalize;
  }
  .contains-childs .show-second > li a code {
    background-color: transparent;
    color: #a6a8ab;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  .contains-childs .show-second > li a {
    font:  20px Verdana;
  }
}
@media screen and (max-width: 767px) {
  .contains-childs .show-second > li:hover {
    padding: 0;
    margin: 0;
  }
  .contains-childs .show-second > li:hover:hover a, .contains-childs .show-second > li:hover:hover a code {
    color: #31c297;
  }
  .contains-childs .show-second > li:hover > a:hover {
    background: url(../images/sub-nav.png) no-repeat left;
  }
  .contains-childs:hover .hide-second {
    opacity: 0;
  }
  .contains-childs .show-second {
    padding-left: 15px;
    position: static !important;
    opacity: 1;
  }
  .contains-childs .show-second li {
    padding-left: 0;
  }
  .contains-childs .show-second > li:hover {
    background: url(../images/sub-nav.png) no-repeat left;
  }
  .contains-childs .show-second > li:hover a, .contains-childs .show-second > li:hover a code {
    color: #31c297;
  }
}

@media screen and (max-width: 767px) {
  .sales:hover > .hide-third {
    display: none;
    position: static !important;
  }
  .sales .show-third {
    display: block;
    background-color: #444348;
    list-style-type: none;
  }
  .sales .show-third > li {
    min-width: 230px;
    margin: 0;
  }
  .sales .show-third > li a {
    color: #fff !important;
  }
  .sales .show-third > li:hover a, .sales .show-third > li:hover a code {
    color: #31c297 !important;
  }
}
@media screen and (max-width: 767px) {
  .new-category .category-content .addition code {
    display: block;
  }
}
/*Banner Styling*/
@media screen and (max-width: 767px) {
  .banner h2 {
    font: 700 35px Verdana;
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  .banner h2 {
    font: 700 28px Verdana;
  }
}

@media screen and (max-width: 767px) {
  .banner-content span {
    font:  18px Verdana;
  }

  .category-content {
    width: 70%;
  }
  .category-content .secondary-heading {
    font: 700 30px Verdana;
  }
  .category-content .secondary-heading span {
    font-size: calc(14px + 0.8vw);
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  .secondary-heading {
    font: 700 23px Verdana;
  }
}
@media screen and (max-width: 767px) {
  /*Story Pic Details Starts Here*/
  .articles-pic {
    padding: 0 20px;
  }
  .articles-pic div {
    padding: 5% 0;
  }
  .articles-pic h4 {
    margin: 0 0 30px;
    font: 700 23.91px Verdana;
  }
  .articles-pic p {
    padding: 0 0 0 22px;
    border-left: 2px solid #ffc001;
    margin: 0 0 20px;
    display: inline-block;
  }
  .articles-pic .more-details {
    padding: 0 0 0 23px;
  }

  /*Story Pic Details Ends Here*/
  /*Growth Starts Here*/
  .growth .number {
    font: 700 50px Verdana;
  }

  /*Growth Ends Here*/
  /*Slider*/
  .testimonials .wrapper {
    padding: 40px 0;
  }

  .carousel .item {
    padding: 60px 20% 60px;
  }
  .carousel .item p {
    font:  14px Verdana;
    font-style: italic;
  }
  .carousel .item span {
    font:  10px Verdana;
  }

  footer .news-letter h5 {
    margin: 25px 0;
  }
  footer .news-letter form {
    width: 100%;
  }
  footer .news-letter form .highlight {
    width: 50% !important;
    padding: 3%;
    font: 12px Verdana;
  }
  footer .news-letter form .subscribe {
    padding: 3% 5%;
    font: 12px Verdana;
  }

  .footer-nav {
    text-align: center;
  }
  .footer-nav .footer-heading {
    text-align: center;
  }
  .footer-nav .social {
    width: 40%;
    display: inline-block;
  }
  .footer-nav .social li a {
    display: inline-block;
  }

  .copyright {
    width: 100%;
  }
  .copyright .copyrights-links {
    width: 100%;
    margin: 0;
  }
  .copyright .copyrights-links li:first-child {
    padding: 0 2px 0 0;
    margin: 0;
  }
  .copyright .copyrights-links li:first-child span {
    font:  8px Verdana;
  }
  .copyright .copyrights-links a {
    padding: 0 5px 0;
    display: block;
    font:  8px Verdana;
  }
}


/*
* Responsive Styling Starts Here
*/

