@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header 
    3.1. Topbar Section
    3.2. Logo Section
    3.3. Navigation Section
  4. Main
    4.1. Aside (Sidebar)
    4.2. Product Section /.products-section
  5. Footer 
    5.1. Footer Banking Section
    5.2. Footer Navigation
    5.3. Copyright
    ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 @font-face {font-family: "Palatino Linotype";
 src: url("//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.eot");
 src: url("//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.eot?#iefix") format("embedded-opentype"),
 url("//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.woff2") format("woff2"),
 url("//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.woff") format("woff"),
 url("//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.ttf") format("truetype"),
 url("//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.svg#Palatino Linotype") format("svg");
}



/* ==========================================================================
   2. Body
   ========================================================================== */

   .container {
    width: 88%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .wrapper {
    width: 93%;
    margin: 0 auto;
  }

  a {
    color: #323744;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    transition: 0.2s linear;
  }

  ul { list-style-type: none; }


/* ==========================================================================
   2. Header
   ========================================================================== */

   /* 2.1. Topbar section
   ========================================================================== */

   .topbar {
    padding: 10px 0;
    border-bottom: 1px dashed #666973;
    text-align: right;
  }

  .topbar ul,
  .topbar li {
    display: inline-block;
    color: #323744;
    font: 15.92px 'Palatino Linotype';
  }

  .topbar ul { margin-left: 15px; }

  .topbar li {
    padding: 0 22px;
    border-left: 2px solid #9b9b9b;
  }

  .topbar li:last-child { padding-right: 10px; }

  .topbar li a span {
    color: #9ca1af;
    font-size: 12.11px;
  }

 /* 2.2. Logo section
 ========================================================================== */

 .logo { padding: 20px 0 0; }

 .logo h1,
 .logo div { display: inline-block; }
 .logo h1 a { display: block; }

 .search { 
  float: right; 
  text-align: right;
  text-transform: capitalize;
}

.search a { 
  margin-bottom: 20px; 
  display: inline-block;
}

.search form { position: relative; }

.search input[type="text"] {
  box-sizing: border-box;
  width: 327px;
  padding: 7px 25px 7px 16px;
  display: inline-block;
  color: #a5a5a5;
  font: 15.92px Arial;
}

#search {
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: transparent;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* 2.3. Navigation Section
========================================================================== */

nav {
  padding: 26px 0;
  border-bottom: 1px dashed #666973;
  color:  #323744;
  font: 18.39px 'Palatino Linotype';
  text-align: center;
  text-transform: uppercase;
}

nav ul li { 
  padding: 5px 3.5%;
  border-left: 2px solid #afafaf;
  display: inline-block; 
}

nav ul li:first-child { border-left: none; }

nav ul li a:hover,
.topbar ul li a:hover,
.search a:hover,
.nav-section li a:hover { color: #9ca1af; }

/* ==========================================================================
   3. Main
   ========================================================================== */

   /* 3.1. Aside sidebar
   ========================================================================== */

   aside,
   .products-section { 
    display: inline-block; 
    vertical-align: top;
    text-transform: capitalize;
  }

  aside { 
    box-sizing: border-box;
    width: 15%; 
    padding: 24px 1.3% 0;
    margin: 136px 0 0;
    background-color: #dedfe0;
  }

  .products-section { 
    box-sizing: border-box;
    width: 84.5%; 
    padding: 0 0% 0 8%;
  }

  .category-title { 
    color: #323744;
    font: 20px 'Palatino Linotype';
  }

  aside form label {
    margin: 4px 0;
    display: block;
  }

  aside form input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0px 7px 0 0; 
  }

  .categories { margin-bottom: 57px; }

  .section-title { 
    padding-bottom: 5px;
    border-bottom: 1px solid #515768;
    margin: 24px 0 37px;
    color:  #343c50;
    font: 39.95px/45.203px 'Palatino Linotype';
    text-align: center;
    text-transform: uppercase;
  }


  .product-list li { 
   box-sizing: border-box;
   width: 27%;
   margin: 0 0 58px;
   display: inline-block;
   vertical-align: top;
   -webkit-transition: 0.2s linear;
   -moz-transition: 0.2s linear;
   -ms-transition: 0.2s linear;
   transition: 0.2s linear;
 }

 .product-list li:nth-child(3n + 2) {
  margin-left: 8%;
  margin-right: 8%;
}

.product-list li a { 
  padding: 15px 0 9px;
  margin: 2px 0;
  border: 1px solid #fff;
  display: block; 
  text-align: center;
}

.product-list li a img { 
  width: 88%;
  height: auto; 
}

.product-list li span {
  display: block;
  color: #323744;
  font: 11.89px 'Palatino Linotype';
  text-align: center;
}

.product-list li span:last-child {
  font: 700 16.15px 'Palatino Linotype';
  color: #323744;
}

.product-list li.active a,
.product-list li a:hover {
  border: 1px solid #dedfe0;
}

.product-list li div {
  padding: 11px 14px;
}

.product-list li.active div,
.product-list li:hover div {
  background-color: #dedfe0; 
}

.banner-img img {
  width: 100%;
  height: auto;
  margin-bottom: 21px;
}



  /* ==========================================================================
   5. Footer
   ========================================================================== */

     /* 5.1. Banking Section
     ========================================================================== */


     .contact { 
      display: inline-block;
      position: absolute;
      top: -30%;
    }


    .banking { float: right; }
    .banking li { 
      margin: 0 5px;
      display: inline-block;
    }

    .banking li a { display: block; }

    /*.help-section { position: relative; }*/

    .contact p { 
      margin-left: 10px;
      display: inline-block;
      font-family: Arial;
      color: #323744;
      font-size: 14.95px;
    }

    .contact p span {
      font-family: Arial;
      color: #323744;
      font-size: 14.95px;
      font-weight: 700;
    }

    .help-section { 
      padding: 10px 0;
      background-color: #d5d9cb; 
      position: relative;
    }

    .contact img {
      width: 100px;
      height: 100px;
    }


  /* 5.2. Footer Navigation Section
  ========================================================================== */

  .footer-navigations {
    margin-top: 7px;
    background-color: #dedfe0;
  }

  .nav-section {
    width: 25%;
    margin-top: 38px;
    float: left;
    color: #323744;
    font: 11.98px 'Palatino Linotype';
    text-transform: uppercase;
  }

  .nav-section li {
    margin-bottom: 10px;
  }

  .nav-section:nth-of-type(4) { text-align: right; }

  .subscribe-section { padding: 30px 0; }

  .subscribe-section h3 {
    color: #323744;
    font: 13.99px 'Palatino Linotype';
    text-transform: uppercase;
  }

  .social { margin-top: 10px; }

  .social li {
    margin: 0 4px;
    display: inline-block;
  }

  .social li:first-child { margin-left: 0; }

  .social li a {
    width: 26px;
    height: 26px;
    display: block;
    text-indent: -9999px;
  }

  .social li a[title="Facebook"] { 
    background: url(../images/fb.jpg) no-repeat; 
    background-size: 100% 100%;
    
  }
  .social li a[title="Facebook"]:hover { 
    background: url(../images/fb_hover.jpg) no-repeat; 
    background-size: 100% 100%;
  }

  .social li a[title="Twitter"] { 
    background: url(../images/twitter_png.png) no-repeat; 
    background-size: 100% 100%;
  }
  .social li a[title="Twitter"]:hover { 
    background: url(../images/twitter_hover_png.png) no-repeat; 
    background-size: 100% 100%;
  }

  .social li a[title="Pinterest"] { 
    background: url(../images/pinterest.png) no-repeat; 
    background-size: 100% 100%;
  }
  .social li a[title="Pinterest"]:hover { 
    background: url(../images/pinterest_jpg.png) no-repeat; 
    background-size: 100% 100%;
  }

  .social li a[title="Wordpress"] { 
    background: url(../images/wp.png) no-repeat; 
    background-size: 100% 100%;
  }
  .social li a[title="Wordpress"]:hover { 
    background: url(../images/wp_hover_png.png) no-repeat; 
    background-size: 100% 100%;
  }


  .social li a[title="Instagram"] { 
    background: url(../images/insta.jpg) no-repeat; 
    background-size: 100% 100%;
  }
  .social li a[title="Instagram"]:hover { 
    background: url(../images/instagram.jpg) no-repeat; 
    background-size: 100% 100%;
  }

  .subscribe-section div { 
    display: inline-block;  
    vertical-align: top;
  }
  .subscribe-section form { float: right; }

  .subscribe-section form label { 
    color: #323744;
    font: 14.25px Arial;
  }


  .subscribe-section form input[type="text"] { 
    width: 392px;
    padding: 10px 16px;
    margin-left: 5px;
    text-align: center;
  }

  .subscribe-section form input[type="submit"] {
    padding: 10px 18px;
    border: none;
    background-color: #333744;
    color:  #ffffff;
    font: 14.88px 'Palatino Linotype';
    text-transform: uppercase;
  }

  .subscribe-section form div p {
    margin-top: 9px;
    color: #323744;
    font: 9.89px 'Palatino Linotype';
    text-align: center;
    text-transform: uppercase;
  }


  /* 5.2. Copyright Section
  ========================================================================== */

  .copyright {
    padding: 10px 0;
    border-top: 1px dashed #666973;
    margin: 21px 0 0;
    color: #3a4355;
    font: 12.81px 'Palatino Linotype';
    text-transform: uppercase;
  }


  .product-list li.deactive { display: none; }


  .grid-item { width: 25%; }
  .grid-item--width2 { width: 50%; }