.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 100%;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}

.content {
  margin: 0;
  padding: 0;
}

.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.content li img {
  width: 100%;
  height: 500px;
}


/* Active Sliders ================== */

.active {
  height: 500px;
}
.active li {
  position: absolute;
  top: 100%;
}
.active li.current {
  top: 30px;
}


/*
 * Slider Buttons =====================
 */

 .active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: inline-block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}


