/**
* CAROUSEL STYLE ==========================
*/

.carousel {
	width: 100%;
	height: 70vh;
	overflow: hidden;
}

.item img {
	width: 100%;
}	

.carousel-caption {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* SECTIONS AND FOOTER STYLE ============================= */

section { padding: 0 0 35px !important; }

footer {
	padding: 35px 0 0;
}

footer ul li {
	margin: 10px 0;
}

a, button {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

footer li a,
footer li p,
footer h4 {
	color: #fff;
}


/* BORDER AND THUMBNAIL CAPTION STYLE ============================ */
.border-white {
	border: 1px solid #ccc;
	box-sizing: border-box;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.border-white:hover {
	background: #fff;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}

.animate-box {
	margin-bottom: 15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.animate-box:hover {
	background: #fff;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}


.caption {
	padding-left: 15px;
	padding-right: 10px;
	padding: 15px 15px 25px;
}


/* BUTTON STYLE ============================================ */
.button {
	margin: 10px 0;
	padding: 12px 25px;
	border: 1px solid #999;
	display: inline-block;
	text-decoration: none;
}


.button-primary:hover {
	background-color: #204d74;
	border-color: #204d74;
	color: #fff;
	text-decoration: none;
}

.button-success {
	background-color: #3e8f3e;
	color: #fff;
}


.copyrights {
	padding: 15px 0 10px;
	background-color: #fff;

}


/* ==================== MAP SECTION STYLING ========================== */
.map { border-top: 1px solid #ccc; }
.map-section iframe {
	width: 100%;
}


/* RESPONSIVE STYLING */
@media screen and (max-width: 900px) {
	.carousel {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
}

@media screen and (max-width: 800px) {
	footer li a, footer li p, footer h4 {
		text-align: center;
	}
}