.clearfix:after, .clearfix:before {
    content: '';
    display: block;
    clear: both;
}

#editor .editor-writing-flow {
    margin: auto;
}

#editor .wp-block {
    max-width: unset;
    width: 100%;
}

/*Accordion block styles*/
#editor .advgb-accordion-block .advgb-accordion-header p.mce-content-body,
#editor .advgb-accordion-block .advgb-accordion-body p.mce-content-body {
    color: inherit;
}

#editor .advgb-accordion-block {
    padding: 15px 0;
}

.advgb-accordion-header {
    padding: 5px 40px 5px 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    position: relative;
    background: none;
    margin-bottom: 0;
}

.ui-accordion-header-icon {
    display: none;
}

.advgb-accordion-header-icon {
    float: right;
    margin-right: -30px;
    line-height: 1.8;
    font-size: 1.2em;
    cursor: pointer;
}

.advgb-accordion-header-icon svg {
    vertical-align: sub;
}

.advgb-accordion-header h4.advgb-accordion-header-title, .advgb-accordion-header h4 {
    padding: 0;
    margin: 0;
    clear: none;
    color: inherit;
    line-height: 1.8;
    font-size: 1.2em;
    cursor: pointer;
}

.advgb-accordion-header[aria-expanded="true"] .advgb-accordion-header-icon {
    display: none;
}

.advgb-accordion-body {
    padding: 10px 10px 10px 15px;
    border: 1px solid #ccc;
    border-top: none !important;
    margin-bottom: 10px;
    width: 100%;
    background: none;
    box-sizing: border-box;
}

.advgb-accordion-controls {
    margin-top: 10px;
    text-align: center;
}

.advgb-icon-items-wrapper {
    display: flex;
    flex: auto;
    flex-wrap:  wrap;
}

.advgb-icon-item {
    min-width: 25%;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
}

.advgb-icon-item > span {
    display: inline-block;
    height: 24px;
}

.advgb-icon-item .active {
    outline: 1px solid #ccc;
    background-color: #ddd;
}

/*Advanced Button block styles*/
.components-panel__body.is-opened > .components-panel__body {
    margin-left: -6px;
}
.editor-block-list__block[data-type="advgb/button"][data-align=center] {
    text-align: center;
}
span.wp-block-advgb-button[data-is-placeholder-visible=true] {
    margin-top: -3px;
}
.wp-block-advgb-button.aligncenter {
    text-align: center;
}

.wp-block-advgb-button_link {
    display: inline-block;
}

/*Advanced Image block styles*/
.advgb-image-block {
    position: relative;
    display: flex;
    background-color: #CCCCCC;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-size: cover;
    margin: 10px auto;
    padding: 15px;
}

.advgb-image-block.full-width {
    width: 100% !important;
}

.advgb-image-block * {
    transition: all 0.4s ease-in-out !important;
}

.advgb-image-block .button {
    z-index: 3;
}

.advgb-image-overlay {
    opacity: 0;
    background-color: #2196F3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.advgb-image-title, .advgb-image-subtitle {
    z-index: 3;
    margin: 0;
    padding: 0;
}

.advgb-image-block:hover .advgb-image-overlay {
    opacity: 0.5;
}

/*Advanced List block styles*/
#editor .wp-block-advgb-list {
    margin-left: 15px;
}

#editor .advgb-list, .advgb-list, .advgb-list li ul {
    margin-left: 0;
    list-style-type: none !important;
}

.advgb-list li ul {
    margin: 5px 0;
    padding: 0;
}

.advgb-list li:before {
    font-family: 'dashicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.advgb-list-admin-post li:before {
    content: "\f109";
}
.advgb-list-admin-generic li:before {
    content: "\f111";
}
.advgb-list-flag li:before {
    content: "\f227";
}
.advgb-list-star-filled li:before {
    content: "\f155";
}
.advgb-list-yes li:before {
    content: "\f147";
}
.advgb-list-minus li:before {
    content: "\f460";
}
.advgb-list-plus li:before {
    content: "\f132";
}
.advgb-list-controls-play li:before {
    content: "\f522";
}
.advgb-list-arrow-right-alt li:before {
    content: "\f344";
}
.advgb-list-dismiss li:before {
    content: "\f153";
}
.advgb-list-warning li:before {
    content: "\f534";
}
.advgb-list-editor-help li:before {
    content: "\f223";
}
.advgb-list-info li:before {
    content: "\f348";
}
.advgb-list-marker li:before {
    content: "\f159";
}

.advgb-icon-item.h20 > span {
    height: 20px;
}

.advgb-icon-item > span.remove-icon {
    width: 20px;
    height: 20px;
}

/*Advanced Table block styles*/
.wp-block-advgb-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.wp-block-advgb-table td, .wp-block-advgb-table tr {
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding: 0;
}

.wp-block-advgb-table td.cell-selected {
    outline: 1px solid #2196f3;
}

.advgb-border-item-wrapper {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    margin: 0 0 1em;
}

.advgb-border-item {
    min-width: 25%;
    text-align: center;
    margin: 5px 0;
}

.advgb-border-item span {
    display: inline-block;
    cursor: pointer;
}

.advgb-border-item svg {
    vertical-align: middle;
}

table.advgb-table-frontend {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 0 1em;
    width: 100%;
    max-width: 100%;
}

table.advgb-table-frontend td, table.advgb-table-frontend tr {
    border: 1px solid transparent;
    padding: .5em;
}

/*Advanced Video styles*/
.advgb-video-wrapper.full-width,
.advgb-video-wrapper.full-width video,
.advgb-video-wrapper.full-width iframe {
    width: 100% !important;
}

.advgb-video-wrapper {
    background-color: #2196f3;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.advgb-video-poster {
    position: absolute;
    top: 0;
    left: 0;
    bottom:  0;
    right: 0;
    z-index: 2;
    opacity: 0.5;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.advgb-button-wrapper {
    height: 450px;
    background-color: transparent;
    z-index: 3;
    position: relative;
    width: 100%;
}

.advgb-play-button {
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.advgb-play-button svg {
    fill: currentColor;
}

.advgb-button-wrapper button.button {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%) !important;
}

.advgb-video-input {
    width: fit-content !important;
    margin: 10px auto;
}

#editor .advgb-video-input > *:not(svg) {
    vertical-align: sub;
}

.advgb-video-input .components-base-control {
    margin-bottom: 0;
    display: inline-block;
    width: 300px;
}

.advgb-video-input button.components-button:disabled {
    opacity: 0.8;
}

.advgb-video-link-icon {
    vertical-align: text-bottom;
    margin-right: 5px;
    color: #888;
}

.advgb-current-video-desc span.spinner {
    float: none;
    margin: 0;
}

#colorbox.advgb_lightbox .cboxIframe {
    margin-bottom: 0;
}

/*Count Up block styles*/
#editor .advgb-col-3 {
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
}

.advgb-count-up {
    margin: 10px auto;
}

.advgb-count-up > div {
    flex: auto;
    margin: 0 10px;
}

.advgb-counter {
    line-height: normal;
}

.advgb-column-1 .advgb-count-up-columns-two, .advgb-column-1 .advgb-count-up-columns-three {
    display: none;
}

.advgb-column-2 .advgb-count-up-columns-three {
    display: none;
}

/*Social links block styles*/
.advgb-social-links-block {
    text-align: center;
}

.advgb-social-icons {
    display:  inline-block;
}

.advgb-social-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    padding: 3px;
    cursor: pointer;
    vertical-align: middle;
    color: #000;
    position: relative;
}

.advgb-social-icon.selected {
    outline: 2px solid #000;
}

span.advgb-social-icon.selected:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #fff;
    border-radius: 25%;
}

.advgb-social-icon svg, .advgb-social-icon img {
    vertical-align: top;
}

.advgb-social-icon img {
    max-width: 100%;
    height: auto;
}

.advgb-social-link {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.advgb-social-link .components-base-control {
    margin: 0;
    margin-left: 10px;
    width: 350px;
    text-align: left;
}

.advgb-social-icons .advgb-social-icon:hover {
    opacity: 0.7;
}

/*Summary block styles*/
#editor .editor-block-list__block[data-align=center] ul.advgb-toc {
    width: fit-content;
    margin: auto;
    text-align: initial;
}

#editor ul.advgb-toc, ul.advgb-toc {
    list-style: none !important;
    padding: 0;
}

.wp-block-advgb-summary {
    margin-bottom: 15px;
}

#editor ul.advgb-toc, ul.advgb-toc:not(.aligncenter):not(.alignleft):not(.alignright) {
    margin-left: 0;
    margin-right: 0;
}

.advgb-toc li {
    min-height: 20px;
}

.advgb-toc li a {
    text-decoration: none;
    box-shadow: none;
}

.wp-block-advgb-summary.aligncenter {
    width: fit-content;
}

.advgb-toc-header {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.advgb-toc-header:after {
    font-family: 'dashicons';
    content: '\f142';
    font-size: 16px;
    vertical-align: middle;
}

.advgb-toc-header.collapsed:after {
    content: '\f140'
}

.wp-block-advgb-summary.alignleft {
    margin-right: 10px;
}

.wp-block-advgb-summary.alignright {
    margin-left: 10px;
}

.wp-block-advgb-summary.alignright .advgb-toc-header {
    float: right;
}

.wp-block-advgb-summary.alignright .advgb-toc {
    clear: both;
}

.wp-block-advgb-summary.aligncenter .advgb-toc-header {
    width: fit-content;
    margin: auto;
}

/*Tabs block styles*/
#editor .advgb-tabs-block .advgb-tab p.mce-content-body,
#editor .advgb-tabs-block .advgb-tab-body p.mce-content-body {
    color: inherit;
}

#editor .advgb-tabs-block {
    padding: 15px 0;
}

ul.advgb-tabs-panel {
    list-style-type: none !important;
    border: none;
    margin: 0 !important;
    padding: 0 !important;
    background: none;
}

ul.advgb-tabs-panel:after {
    content: '';
    display: block;
    clear: both;
}

li.advgb-tab, li.advgb-tab.ui-state-default {
    float: left;
    margin: 0;
    margin-bottom: -1px;
    border: 1px solid #ccc;
    position: relative;
    background: none;
}

li.advgb-tab:first-child {
    margin-left: 0 !important;
}

li.advgb-tab > a, li.advgb-add-tab > span {
    padding: 10px 15px;
    display: inline-block;
}

li.advgb-tab a, li.advgb-tab a:focus, li.advgb-tab a:hover {
    text-decoration: none;
    box-shadow: none;
}

li.advgb-tab.ui-tabs-active {
    background-color: #2196f3 !important;
    border-bottom-color: transparent !important;
}

li.advgb-tab.ui-tabs-active a {
    color: #fff !important;
}

li.advgb-tab.advgb-add-tab.ui-state-default {
    border: 1px solid transparent;
}

li.advgb-tab.advgb-add-tab.ui-state-default:hover {
    background: #ccc;
}

li.advgb-add-tab span {
    line-height: 1.8;
    cursor: pointer;
    font-size: 1em;
}

li.advgb-add-tab svg {
    color: #2196f3;
    vertical-align: sub;
}

span.advgb-tab-remove {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 20px;
    color: #fff;
    background-color: #FCB908;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1;
}

li.advgb-tab:hover span.advgb-tab-remove {
    display: block;
}

span.advgb-tab-remove svg {
    display: block;
}

div.advgb-tab-body {
    padding: 10px 10px 10px 15px;
    border: 1px solid #ccc;
    background: none;
}

/*Testimonial block styles*/
.advgb-testimonial:not(.slider-view) {
    display: flex;
    margin: 20px auto;
}

#editor .advgb-testimonial {
    padding: 15px 0;
}

.advgb-testimonial > div {
    flex: auto;
    margin: 0 10px;
    text-align: center;
}

.advgb-testimonial .advgb-testimonial-avatar-group {
    position: relative;
}

.advgb-testimonial .advgb-testimonial-avatar-group:hover .advgb-testimonial-avatar-clear {
    display: inline-block;
}

.advgb-testimonial .advgb-testimonial-avatar {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-width: 0;
    border-color: #fff;
}

#editor .advgb-testimonial .advgb-testimonial-avatar {
    cursor: pointer;
}

.advgb-testimonial .advgb-testimonial-avatar-clear {
    position: absolute;
    top: 0;
    margin-left: 5px;
    display: none;
    cursor: pointer;
}

.advgb-testimonial .advgb-testimonial-name {
    padding: 5px;
}

.advgb-testimonial p.advgb-testimonial-position {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 5px auto;
}

button.advgb-testimonial-preview {
    margin-bottom: 10px !important;
}

.advgb-testimonial .slick-list {
    padding-top: 25px !important;
}

.advgb-testimonial .slick-slide {
    opacity: 0.6;
}

.advgb-testimonial .slick-slide.slick-current {
    opacity: 1;
}

.advgb-testimonial .slick-slide:not(.slick-current) > *:not(.advgb-testimonial-avatar-group) {
    visibility: hidden;
}

.advgb-testimonial .slick-slide.slick-current > *:not(.advgb-testimonial-avatar-group) {
    margin-left: -100px;
    margin-right: -100px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.advgb-testimonial .slick-slide.slick-current .advgb-testimonial-avatar-group {
    transform: scale(1.3);
}

/*Separator styles*/
hr.wp-block-separator {
    background-color: transparent;
}

/*Recent Posts styles*/
.advgb-recent-posts-block {
    padding-bottom: 1px;
}

.advgb-recent-posts-block h2.advgb-post-title {
    font-size: 1.2em;
}

.advgb-recent-posts-block.grid-view .advgb-recent-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.advgb-recent-posts-block.grid-view.columns-1 .advgb-recent-posts {
    grid-template-columns: 1fr;
}

.advgb-recent-posts-block.grid-view.columns-3 .advgb-recent-posts {
    grid-template-columns: 1fr 1fr 1fr;
}

.advgb-recent-posts-block.grid-view.columns-4 .advgb-recent-posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.advgb-recent-posts-block.list-view .advgb-recent-posts .advgb-recent-post {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.advgb-recent-posts-block.list-view .advgb-recent-posts .advgb-recent-post:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.advgb-recent-posts .advgb-recent-post {
    position: relative;
}

.advgb-recent-posts .advgb-recent-post .advgb-post-thumbnail a {
    display: inline-block;
}

.advgb-recent-posts .advgb-recent-post .advgb-post-thumbnail img {
    vertical-align: middle;
}

.advgb-recent-post .advgb-post-title {
    margin: 0;
}

.advgb-recent-posts-block.list-view .advgb-recent-post .advgb-post-wrapper:first-child {
    grid-column: 1 / span 2;
}

.advgb-recent-posts-block.grid-view .advgb-recent-post .advgb-post-wrapper:not(:first-child) {
    margin-top: 10px;
}

.advgb-post-wrapper > * {
    margin: 10px 0;
}

.advgb-post-readmore {
    margin-top: 10px;
}

.advgb-recent-post .advgb-post-date:not(:first-child):before {
    content: "-";
    display: inline-block;
    margin: 0 5px;
}

.advgb-recent-posts-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(240, 240, 240, 0.7);
    background-image: url("../../images/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
}

.advgb-recent-posts-block.slider-view.loading .advgb-recent-posts {
    max-height: 500px;
    overflow: hidden;
}

.advgb-recent-posts-block.slider-view .advgb-recent-post {
    text-align: center;
}

.advgb-recent-posts-block.slider-view .advgb-recent-post .advgb-post-thumbnail img {
    height: 400px;
    width: auto;
}

/*Woo Products styles*/
.advgb-products-block {
    padding-bottom: 1px;
}

.advgb-woo-categories-list {
    max-height: 400px;
    overflow: auto;
}

.advgb-products-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.advgb-product {
    flex: 0 0 100%;
    padding: 10px;
    text-align: center;
}

.advgb-products-wrapper.columns-2 .advgb-product {
    flex: 0 0 50%;
}

.advgb-products-wrapper.columns-3 .advgb-product {
    flex: 0 0 33%;
}

.advgb-products-wrapper.columns-4 .advgb-product {
    flex: 0 0 25%;
}

.advgb-product > div {
    margin-bottom: 3px;
}

.advgb-product .advgb-product-img {
    height: 150px;
    overflow: hidden;
}

.advgb-product .advgb-product-img img {
    height: 100%;
}

.advgb-product-add-to-cart span {
    background: #eee;
    border: 1px solid #eee;
    padding: 5px;
    display: inline-block;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.advgb-products-block.slider-view .advgb-product .advgb-product-img img {
    display: block;
    margin: auto;
}

.advgb-woo-products.slider-view .woocommerce ul.products li.first,
.advgb-woo-products.slider-view .woocommerce-page ul.products li.first {
    clear: none !important;
}

.advgb-woo-products.slider-view .woocommerce ul.products li.product,
.advgb-woo-products.slider-view .woocommerce-page ul.products li.product {
    margin: 10px;
    text-align: center;
}

.advgb-woo-products.slider-view .woocommerce ul.products li.product a img {
    height: 400px;
    width: auto;
    display: block;
    margin: 0 auto 1.5em;
}

/*Image slider block*/
.advgb-images-slider-block {
    padding-bottom: 1px;
}

.advgb-images-slider-block .advgb-slider-image-dragholder{
    width: 50px;
    height: 50px;
    border: 1px dashed #333;
    margin: auto 10px;
}

.advgb-images-slider .advgb-image-slider-item {
    position: relative;
    margin-bottom: 10px;
    width: fit-content;
}

.advgb-images-slider .advgb-image-slider-item-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advgb-images-slider .advgb-image-slider-item img {
    display: block;
    max-width: unset;
    margin: auto;
}

.advgb-images-slider .advgb-image-slider-item-info .advgb-image-slider-title,
.advgb-images-slider .advgb-image-slider-item-info .advgb-image-slider-text {
    margin: 0 5px;
    color: #fff;
    position: relative;
    z-index: 3;
}

.advgb-images-slider .advgb-image-slider-overlay {
    opacity: 0;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

.advgb-image-slider-item:hover .advgb-image-slider-overlay {
    opacity: 0.5;
}

.advgb-image-slider-controls .advgb-image-slider-control .components-base-control__field {
    display: flex;
    flex: 1;
}

.advgb-image-slider-controls .advgb-image-slider-control .components-base-control__field .components-base-control__label {
    flex-basis: 70px;
    align-self: center;
}

.advgb-image-slider-image-list {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}

.advgb-image-slider-image-list .advgb-image-slider-image-list-item img {
    height: 50px;
    display: block;
    cursor: pointer;
}

.advgb-image-slider-image-list .advgb-image-slider-image-list-item,
.advgb-image-slider-image-list .advgb-image-slider-add-item {
    margin: 10px;
    position: relative;
}

.advgb-image-slider-image-list .advgb-image-slider-image-list-item .advgb-image-slider-image-list-item-remove {
    position: absolute;
    top: -8px;
    right: -8px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 50%;
    padding: 2px;
}

.advgb-image-slider-image-list .advgb-image-slider-image-list-item .advgb-image-slider-image-list-item-remove svg {
    margin: 0;
}

.advgb-image-slider-image-list .advgb-image-slider-add-item button {
    height: 50px;
    border: 1px solid #ccc;
}

/*Custom blocks options*/
#editor .editor-block-list__block-edit::before {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
}

#editor .editor-block-list__block-edit::after {
    z-index: 0;
    content: "";
    position: absolute;
    outline: 1px solid transparent;
    transition: outline 0.1s linear;
    pointer-events: none;
    right: -14px;
    left: -14px;
    top: -14px;
    bottom: -14px;
    opacity: 0;
}

#editor .advgb-styles-item {
    cursor: pointer;
    padding: 3px;
    margin-bottom: 3px;
    min-height: 30px;
    border-bottom: 3px solid transparent;
}

#editor .advgb-styles-item.selected {
    background-color: #a3d6ff;
}

#editor .advgb-styles-item:hover {
    border-bottom-color: #2196f3;
}

#editor div[data-block] > * {
    /*position: relative;*/
    /*z-index: 3;*/
}

.advgb-block-container > * {
    z-index: 3;
    position: relative;
}

#editor div[data-block]:before,
#editor div[data-block]:after,
.advgb-block-container .advgb-block-top-divider,
.advgb-block-container .advgb-block-bottom-divider {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    left: -2%;
    z-index: 0;
    width: 104%;
    height: 50px;
    background-repeat: no-repeat;
}

.advgb-block-container .advgb-block-top-divider,
.advgb-block-container .advgb-block-bottom-divider {
    width: 100%;
    left: 0;
}

#editor div[data-block]:before,
.advgb-block-container .advgb-block-top-divider {
    top: 0;
}

#editor div[data-block]:after,
.advgb-block-container .advgb-block-bottom-divider {
    bottom: 0;
}

/*Contact Form styles*/
.advgb-form-field {
    float: left;
    width: 100%;
    margin: 0;
    margin-bottom: 3%;
    padding: 0;
    padding-left: 3%;
    box-sizing: border-box;
}

.advgb-form-field.advgb-form-field-half {
    width: 50%;
}

.advgb-contact-form {
    clear: both;
    position: relative;
    padding-right: 3%;
}

.advgb-form-field input.advgb-form-input[type="text"],
.advgb-form-field input.advgb-form-input[type="email"],
.advgb-form-field textarea.advgb-form-input {
    width: 100%;
    padding: 15px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    font-size: 15px;
    background-color: #fafafa;
    color: #444;
    box-sizing: border-box;
}

.advgb-form-submit-wrapper {
    clear: both;
    margin-left: 3%;
    text-align: center;
    position: relative;
}

button.advgb-form-submit {
    padding: 14px;
    background-color: #444;
    box-shadow: none;
    outline: none;
    border: 2px solid #444;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
    position: relative;
    border-radius: 0;
    font-size: 15px;
}

button.advgb-form-submit:hover:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #aaa;
    opacity: 0.2;
    pointer-events: none;
}

.advgb-form-sending {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 12px 3px;
    background-image: url(../../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.advgb-form-submit-success {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    margin-left: 3%;
    font-weight: bold;
    color: #fafafa;
    background-color: #444;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 12px #ccc;
    -moz-box-shadow: 1px 1px 12px #ccc;
    box-shadow: 1px 1px 12px #ccc;
}

/*Newsletter block*/
.advgb-newsletter {
    margin-left: auto;
    margin-right: auto;
}

.advgb-newsletter .advgb-form-submit-wrapper,
.advgb-newsletter .advgb-form-field {
    margin-left: 0;
    padding-left: 0;
}

.advgb-newsletter.style-alt .advgb-form-submit {
    width: 100%;
}

.advgb-newsletter.style-default .advgb-form-field {
    position: relative;
    float: none;
}

.advgb-newsletter.style-default .advgb-form-submit-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.advgb-newsletter .advgb-form-submit-success {
    margin-left: 0;
}

form .advgb-grecaptcha {
    margin: 15px auto;
}

form .advgb-grecaptcha > div {
    margin: auto;
}

.advgb-grecaptcha.position-right > div {
    margin-right: 0;
}

.advgb-grecaptcha.position-left > div {
    margin-left: 3%;
}

/*Container block*/

/*--- RESPONSIVE STYLES HERE ---*/
@media screen and (max-width: 599px) {
    .advgb-count-up {
        flex-direction: column;
    }

    .advgb-testimonial:not(.slider-view) {
        flex-direction: column;
    }
}