/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html {
    overflow-y: scroll;
  }

  /* Align radios and text inputs with their label */
  input[type='radio'] {
    vertical-align: text-bottom;
  }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em {
    font-style: italic;
  }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup {
    top: -.7em;
  }

  sub {
    bottom: -.25em;
  }

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../vendor/fonts/MyriadPro.eot") format("embedded-opentype"), url("../vendor/fonts/MyriadPro.ttf") format("truetype");
}
.container {
  width: 100%;
  background-color: #1b1b1b;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------------------
Header Styling
-----------------------------------------------------------------------------------------*/

header .wrapper { padding: 90px 0 0;}

header .wrapper h1 { text-align: center; }

header .wrapper h1 a { display: inline-block;}

header .wrapper h1 a img { width: 100%; }

header .wrapper nav {
  padding: 125px 0 60px;
  background: url(../images/fire.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

header .wrapper nav ul { display: inline-block; }

header .wrapper nav ul li { display: inline-block; }

header .wrapper nav ul li a {
  border-bottom: 3px solid transparent;
  display: block;
  color: #fff;
  font: 14px "Myriad Pro";
  text-decoration: none;
  text-transform: uppercase;
}

header .wrapper nav ul li a:hover { border-bottom: 3px solid #dc8033; }
header .wrapper nav .left-nav { margin-right: 5.3%; }
header .wrapper nav .left-nav li { margin-right: 4vw; }
header .wrapper nav .right-nav { margin-left: 5.3%; }
header .wrapper nav .right-nav li { margin-left: 4vw; }

.test-awards p, .services p, .about p, .address p {
  color: #a8a8a8;
  font: 12px/20px Arial;
}

/*----------------------------------------------------------------------------------------
Latest Section Styling
-----------------------------------------------------------------------------------------*/
h2,
h3,
h6 {
  border-bottom: 2px solid #101010;
  display: inline-block;
  color: #ffffff;
  font: 30px "Myriad Pro";
  font-style: italic;
}

.lt-work { padding: 57px 0 0 0; }

.lt-work .slide { float: right; }

.lt-work .slide .prev, .lt-work .slide .next {
  width: 48px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
}

.lt-work .slide .prev { background: url(../images/back.png) no-repeat; }
.lt-work .slide .next { background: url(../images/next.png) no-repeat; }

.latest-work {
  padding: 33px 0;
  clear: both;
  background: -webkit-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
  background: -moz-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
  background: -o-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
  background: -ms-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
  background: linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
}
.latest-work > a {
  width: 31%;
  margin: -2px;
  display: inline-block;
  vertical-align: top;
  transition-duration: 0.3s;
}

.latest-work > a img { width: 100%;}
.latest-work > a:hover { transform: scale(1.2); }

.latest-work ul {
  width: 68.4%;
  display: inline-block;
}

.latest-work ul li {
  width: 21%;
  margin: 0 0 30px 3.6%;
  display: inline-block;
}

.latest-work ul li a {
  display: block;
  transition-duration: 0.3s;
}

.latest-work ul li a img { width: 100%; }
.latest-work ul li a:hover { transform: scale(1.2); }

/*----------------------------------------------------------------------------------------
Services, Testimonial Section Styling
-----------------------------------------------------------------------------------------*/
.services {
  width: 60%;
  margin: -2px;
  display: inline-block;
}

.services h3 {
  margin: 5px 0;
  display: block;
}

.services ul li {
  margin-top: 20px;
  display: block;
}

.services ul li a {
  width: 20%;
  margin: 0 -2px;
  display: inline-block;
  vertical-align: top;
  transition-duration: 0.3s;
}

.services ul li a img { width: 100%; }
.services ul li a:hover { transform: scale(1.2); }

.services ul li div {
  width: 80%;
  padding: 0 0 0 3%;
  margin: 0 -2px;
  display: inline-block;
  box-sizing: border-box;
}

.services ul li h4 {
  margin-bottom: 19px;
  color: #fa8f37;
  font: 25px "Myriad Pro";
}

.test-awards {
  width: 36%;
  margin: 0 0 0 3%;
  display: inline-block;
  vertical-align: top;
}
.test-awards h3 {
  margin: 5px 0;
  display: block;
}

.test-awards p { margin-top: 20px; }

.test-awards .testimonials div > span {
  color: #fa8f37;
  font: 700 12px Arial;
}

.test-awards code { color: #a8a8a8; }

.test-awards .testimonials div {
  margin: 25px 0;
  text-align: right;
}
.test-awards .testimonials div > a {
  font: 12px Arial;
  color: #a8a8a8;
  text-decoration: none;
}

.test-awards .awards { padding-bottom: 24px; }

.test-awards .awards a {
  width: 11%;
  height: 50px;
  margin: 10px 0 0 0;
  display: inline-block;
  background: url(../images/award.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  vertical-align: top;
}

.test-awards .awards span {
  width: 85%;
  padding: 0 0 0 3%;
  margin: 10px 0 0 0;
  display: inline-block;
  color: #a8a8a8;
  font: 1.6vw 'Myriad Pro';
}

.connect { margin: 20px 0 0 0; }

.connect li {
  margin: 0 0 0 4%;
  display: inline-block;
}
.connect li a {
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  display: block;
  background: url(../images/social.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
}
.connect li a:hover { border: 1px solid #a8a8a8; }

.about-section { padding: 40px 0 0 0; }

.about-section h3 { display: block;}

.about-section .about {
  padding: 20px 0 0 0;
  background: -webkit-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
  background: -moz-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
  background: -o-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
  background: -ms-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
  background: linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
}

.about-section .about a {
  width: 20%;
  margin: 0 -2px;
  display: inline-block;
  text-decoration: none;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  vertical-align: top;
}
.about-section .about a img { width: 100%; }
.about-section .about a:hover { transform: scale(1.2); }

.about-section .about div {
  width: 40%;
  padding: 0 0 0 2%;
  margin: 0 -2px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.about-section .about h4 {
  margin-bottom: 19px;
  color: #fa8f37;
  font: 25px "Myriad Pro";
}

.about-section .about h5 {
  border-bottom: none;
  margin-bottom: 19px;
  color: #fa8f37;
  font: 25px "Myriad Pro";
}

.about-section .about .clients {
  padding: 20px 3%;
  border-radius: 8px;
  background-color: #151515;
}

.about-section .about .clients li {
  width: 30%;
  margin: 0 0 0 2%;
  display: inline-block;
}

.about-section .about .clients li a {
  width: 100%;
  display: block;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
}

.about-section .about .clients li a img { width: 100%; }
.about-section .about .clients li a:hover { transform: scale(1.2); }

/*----------------------------------------------------------------------------------------
Footer Styling
-----------------------------------------------------------------------------------------*/
footer { padding-top: 50px; }

footer h6 { margin: 5px 0; }

footer .contact {
  padding: 25px 0 30px;
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
  background: -webkit-linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
  background: -moz-linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
  background: -o-linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
  background: -ms-linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
  background: linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
}

footer .contact .contact-form { display: flex; }

footer .contact .contact-form div {
  width: 49%;
  display: inline-block;
  text-align: right;
}

footer .contact .contact-form div input[type="text"]:first-child { margin: 0; }

footer .contact .contact-form div input[type="text"], footer .contact .contact-form div input[type="email"] {
  width: 100%;
  margin: 15px 0 0;
  padding: 10px;
  display: block;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #222222;
  box-sizing: border-box;
  background-color: #101010;
  color: #fff;
}

footer .contact .contact-form div .button {
  padding: 5px 20px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 20px 0 0;
  display: inline-block;
  background: -webkit-linear-gradient(90deg, #d85c1e 0%, #c79200 100%);
  background: -moz-linear-gradient(90deg, #d85c1e 0%, #c79200 100%);
  background: -o-linear-gradient(90deg, #d85c1e 0%, #c79200 100%);
  background: -ms-linear-gradient(90deg, #d85c1e 0%, #c79200 100%);
  background: linear-gradient(0deg, #d85c1e 0%, #c79200 100%);
  color: #fff;
  font: 18px "Myriad Pro";
  text-align: left;
  text-transform: uppercase;
}

footer .contact .contact-form textarea {
  width: 49%;
  margin-left: 1.7%;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #222222;
  box-sizing: border-box;
  background-color: #101010;
  color: #fff;
}

footer .contact .address {
  width: 31.8%;
  margin: 0 0 0 2%;
  display: inline-block;
}

footer .contact .address address {
  margin-bottom: 25px;
  color: #a8a8a8;
  font: 12px/20px Arial;
}

footer .contact .address address span { display: block; }

footer .contact .address > a {
  width: 10%;
  height: 40px;
  display: inline-block;
  background: url(../images/social.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  vertical-align: top;
}

footer .contact .address p { margin-top: 20px; }

form {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.details {
  width: 83%;
  margin-left: 2%;
  display: inline-block;
}

.details a {
  display: block;
  color: #fff;
}

.details a:hover { color: #999; }

.details a:last-child {
  margin-top: 5px;
  color: #a8a8a8;
  text-decoration: none;
}

.details a:last-child:hover { color: #fff; }

.copyright {
  padding: 35px 0;
  color: #a8a8a8;
  font: 12px Arial;
}
.copyright a {
  width: 31px;
  height: 31px;
  float: right;
  background: url(../images/up.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
}

/*# sourceMappingURL=style.css.map */
