@import 'reset';
@import 'partial';

@font-face {
	font-family: "Myriad Pro";
	src: url("../vendor/fonts/MyriadPro.eot") format("embedded-opentype"),
	url("../vendor/fonts/MyriadPro.ttf") format("truetype");
}
// Container Styling
.container { 
	width: 100%; 
	background-color: #1b1b1b;
}
// Wrappe Styling
.wrapper { 
	width: 90%;
	margin: 0 auto;
}

/*----------------------------------------------------------------------------------------
Header Styling
-----------------------------------------------------------------------------------------*/
header {
	.wrapper {
		padding: 90px 0 0;
		h1 {
			text-align: center;
			a { 
				display: inline-block; 
				img { width: 100%; }
			}

		}

		nav {
			padding: 125px 0 60px;
			background: url(../images/fire.png) no-repeat;
			background-size: 100% 100%;
			text-align: center;

			ul {
				display: inline-block;
				li {
					display: inline-block;
					a{
						border-bottom: 3px solid transparent;
						display: block;
						color: #fff;
						font: 14px $font;
						text-decoration: none;
						text-transform: uppercase;
						&:hover { border-bottom: 3px solid #dc8033;	}
					}
				}

			}
			.left-nav {
				margin-right: 5.3%;
				li { margin-right: 4vw; }
			}

			.right-nav {
				margin-left: 5.3%;
				li { margin-left: 4vw; }
			}
		}
	}
}

// Grouping Common Paragraph Styling
.test-awards p, .services p, .about p, .address p {
	color: #a8a8a8;
	font: $arial;
}


/*----------------------------------------------------------------------------------------
Latest Section Styling
-----------------------------------------------------------------------------------------*/
h2, 
h3,
h6 { 
	border-bottom: 2px solid #101010;
	display: inline-block;
	color:  #ffffff;
	font: 30px $font;
	font-style: italic;
}

.lt-work {
	padding: 57px 0 0 0;
	
	.slide { 
		float: right;
		.prev, .next {
			width: 48px;
			height: 30px;
			display: inline-block;
			text-indent: -9999px;
		}

		.prev { background: url(../images/back.png) no-repeat; }
		.next { background: url(../images/next.png) no-repeat; }

	}
}

.latest-work {
	padding: 33px 0;
	clear: both;
	background: -webkit-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
	background: -moz-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
	background: -o-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
	background: -ms-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
	background: linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
	&>a {
		width: 31%;
		margin: -2px;
		display: inline-block;
		vertical-align: top;
		img { width: 100%}
		transition-duration: 0.3s;
		&:hover { transform: scale(1.2);}
	}
	ul {
		width: 68.4%;	
		display: inline-block;
		li {
			width: 21%;
			margin: 0 0 30px 3.6%;
			display: inline-block;
			a {
				display: block;
				img { width: 100%;}
				transition-duration: 0.3s;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

/*----------------------------------------------------------------------------------------
Services, Testimonial Section Styling
-----------------------------------------------------------------------------------------*/
.services {
	width: 60%;
	margin: -2px;
	display: inline-block;
	h3 {
		margin: 5px 0;
		display: block;
	}
	ul {
		li {
			margin-top: 20px;
			display: block;
			a {
				width: 20%;
				margin: 0 -2px;
				display: inline-block;
				vertical-align: top;
				transition-duration: 0.3s;
				img { width: 100%;}
				&:hover { transform: scale(1.2); }
			}

			div { 
				width: 80%;
				padding: 0 0 0 3%;
				margin: 0 -2px;
				display: inline-block;
				box-sizing: border-box;
			}
			h4 {
				margin-bottom: 19px;
				color: #fa8f37;
				font: 25px $font;
			}

		}
	}
}

.test-awards {
	width: 36%;
	margin: 0 0 0 3%;
	display: inline-block;
	vertical-align: top;
	h3 {
		margin: 5px 0;
		display: block;
	}

	p {
		margin-top: 20px;
	}
	.testimonials div>span {
		color: #fa8f37;
		font: 700 12px Arial;
	}
	
	code { color: #a8a8a8; }
	
	.testimonials div {
		margin: 25px 0;
		text-align: right;
	}

	.testimonials div>a {
		font: 12px Arial;
		color: #a8a8a8;
		text-decoration: none; 
	}

	.awards {
		padding-bottom: 24px;
		a {
			width: 11%;
			height: 50px;
			margin: 10px 0 0 0;
			display: inline-block;
			background: url(../images/award.png) no-repeat;
			background-size: 100% 100%;
			text-indent: -9999px;
			vertical-align: top;
		}
		span {
			width: 85%;
			padding: 0 0 0 3%;
			margin: 10px 0 0 0;
			display: inline-block;
			color:  #a8a8a8;
			font: 1.6vw 'Myriad Pro';
		}
	}
}

.connect { 
	margin: 20px 0 0 0;
	li {
		margin: 0 0 0 4%;
		display: inline-block;
		a {
			width: 32px;
			height: 32px;
			border: 1px solid transparent;
			display: block;
			background: url(../images/social.png) no-repeat;
			background-size: 100% 100%;
			text-indent: -9999px;
			&:hover {
				border: 1px solid #a8a8a8;
			}
		}
	}
}

.about-section {
	padding: 40px 0 0 0;
	h3 {
		display: block;
	}
	.about {
		padding: 20px 0 0 0; 
		background: -webkit-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
		background: -moz-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
		background: -o-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
		background: -ms-linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
		background: linear-gradient(180deg, #343434 0%, #1d1d1d 100%);
		a {
			width: 20%;
			margin: 0 -2px;
			display: inline-block;
			text-decoration: none;
			transition-duration: 0.4s;
			-webkit-transition-duration: 0.4s;
			-moz-transition-duration: 0.4s;
			-ms-transition-duration: 0.4s;
			vertical-align: top;
			img { width: 100%; }
			&:hover { transform: scale(1.2); }
		}

		div { 
			width: 40%;
			padding: 0 0 0 2%;
			margin: 0 -2px;
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
		}

		h4 {     
			margin-bottom: 19px;
			color: #fa8f37;
			font: 25px "Myriad Pro";
		}


		h5 { 
			border-bottom: none; 
			margin-bottom: 19px;
			color: #fa8f37;
			font: 25px "Myriad Pro";
		}

		.clients {
			padding: 20px 3%;
			border-radius: 8px;
			background-color: #151515;

			li { 
				width: 30%;
				margin: 0 0 0 2%;
				display: inline-block;
				a{
					width: 100%;
					display: block;
					transition-duration: 0.4s;
					-webkit-transition-duration: 0.4s;
					-moz-transition-duration: 0.4s;
					-ms-transition-duration: 0.4s;
					img { width: 100%;}

					&:hover { transform: scale(1.2); }
				}
			}
		}
	}

}

/*----------------------------------------------------------------------------------------
Footer Styling
-----------------------------------------------------------------------------------------*/

footer {
	padding-top: 50px;
	h6 { margin: 5px 0;	}

	.contact {
		padding: 25px 0 30px;
		border-top: 1px solid #494949;
		border-bottom: 1px solid #494949;
		background: -webkit-linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
		background: -moz-linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
		background: -o-linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
		background: -ms-linear-gradient(220deg, #343434 0%, #1d1d1d 100%);
		background: linear-gradient(220deg, #343434 0%, #1d1d1d 100%);

		.contact-form {
			display: flex;
			div{
				width: 49%;
				display: inline-block;
				text-align: right;
				input[type="text"]:first-child { margin: 0;}
				input[type="text"], input[type="email"] {
					width: 100%;
					margin: 15px 0 0;
					padding: 10px;
					display: block;
					border-radius: 5px;
					border-style: solid;
					border-width: 1px;
					border-color:  #222222;
					box-sizing: border-box;
					background-color:  #101010;
					color: #fff;
				}
				.button {
					padding: 5px 20px 0;
					margin: 20px 0 0;
					display: inline-block;
					border: 1px solid transparent;
					border-radius: 5px;
					background: -webkit-linear-gradient(90deg, #d85c1e 0%, #c79200 100%);
					background: -moz-linear-gradient(90deg, #d85c1e 0%, #c79200 100%);
					background: -o-linear-gradient(90deg, #d85c1e 0%, #c79200 100%);
					background: -ms-linear-gradient(90deg, #d85c1e 0%, #c79200 100%);
					background: linear-gradient(0deg, #d85c1e 0%, #c79200 100%);
					color: #fff;
					font: 18px $font;
					text-align: left;
					text-transform: uppercase
				}
			}
			textarea { 
				width: 49%;
				margin-left: 1.7%;
				border-radius: 5px;
				border-style: solid;
				border-width: 1px;
				border-color:  #222222;
				box-sizing: border-box;
				background-color:  #101010;
				color: #fff;
			}
		}

		.address { 
			width: 31.8%; 
			margin: 0 0 0 2%;
			display: inline-block;
			address {
				margin-bottom: 25px;
				color:  #a8a8a8;
				font: $arial;
				font-size: 12px;
				span { display: block; }
			}

			&>a {
				width: 10%;
				height: 40px;
				display: inline-block;
				background: url(../images/social.png) no-repeat;
				background-size: 100% 100%;
				text-indent: -9999px;
				vertical-align: top;

			}
			p {
				margin-top: 20px;
			}

		}

	}
}

form { 
	display: inline-block;
	width: 65%;
	vertical-align: top;
}

.details {
	width: 83%;
	margin-left: 2%;
	display: inline-block;
	a {
		display: block;
		color: #fff;
		&:hover { color: #999; }
		&:last-child { 
			margin-top: 5px;
			color:  #a8a8a8; 
			text-decoration: none;
			&:hover {
				color: #fff;
			}
		}
	}

}

.copyright {
	padding: 35px 0;
	font: 12px Arial;
	color: #a8a8a8;
	a {
		width: 31px;
		height: 31px;
		float: right;
		background: url(../images/up.png) no-repeat;
		background-size: 100% 100%;
		text-indent: -9999px;
	}
}

