@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/*Main container styling*/
.container {
  max-width: 1500px;
  margin: 0 auto;
}

/*Wrapper styling*/
.wrapper {
  width: 980px;
  margin: 0 auto;
}

/*Header section styling*/

/*Topbar indicators*/
.topbar {
  text-align: center;
  background-color:  #f7f7f7;
  box-shadow: 0px 1px 0px 0px #ebebeb;
  padding-bottom: 2px;
  
}

.topbar>a {
  display: inline-block;
  width: 6px;
  height: 6px;
  text-align: center;
  text-indent: -9999px;
  background: url(../images/Shape.png) no-repeat;
  opacity: 1;
  vertical-align: middle;
}

.topbar>a:hover {
  opacity: 0.5;
}

/*Logo and Navigations Menus*/

#navbar {
  height: 101px;
  padding: auto 0;
}

h1 {
  float: left;
}

h1>a {
  display: block;
  margin: 30px;
  padding: 10px 40px 10px 0;
  border-right: 1px solid #e1e1e1;
}

nav {
  position: relative;
}
.nav>li {
  display: inline-block;
  padding: 40px 25px;
  vertical-align: middle;
}

.nav>li a {
  display: block;
  text-decoration: none;
  color: #7f7e7e;
  font: 400 16px Lato;
  text-transform: capitalize;
}



#cart>a {
  width: 70px;
  height: 46px;
  background: url(../images/shopping-cart.png) no-repeat 0 0;
  position: absolute;
  right: 0px;
  top: 30%;
  text-indent: -9999px;
}

#cart>a:hover {
  width: 135px;
  height: 45px;
  background:url(../images/cart-active.png) no-repeat 0 0; 
}

/*Banner section styling */
.banner {
  width: 1500px;
  background: url(../images/banner-bg.png) no-repeat;
  color: #fff;
  text-transform: uppercase;
  padding: 100px 0px 150px;
}

h2 {
  font: 700 35.87px OpenSans;
}

h3 {
  margin: 50px 0;
}

.banner span {
  color: #ffffff;
  font: 400 19.73px OpenSans;
}

.banner a {
  display: block;
  width:212px;
  border: 1px solid #fff;
  margin: 25px 0;
  text-decoration: none;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  color: #65889b;
  font: 700 18px Lato;
  
}

.banner a:hover {
  border: 1px solid #ddd;
}

/*Products section styling */
.products {
  background-color: #fff;
  color: #717171;
  font: 400 16px / 30px OpenSans;
  text-align: center;
  text-transform: uppercase; 
}

.products wrapper {
  padding: 0 20px;
}

h3 {
  color: #656363;
  font: 700 20px Lato;
  text-transform: uppercase;
}

.latest ul>li {
  display: inline-block;
  width: 300px;
  height: 368px;
}

.popular ul>li {
 display: inline-block;
 width: 300px;
 height: 368px;
}

.latest ul>li a {
  display: block;
  padding-bottom: 50px;
}

.desc {
  display: block;
}

.price {
  color: #717171;
  font: 700 18px / 30px OpenSans;
}

.sale1 {
  position: relative;
}

.sale1>span {
  position: absolute;
  left: 0;
  width: 80px;
  height: 38px;
  background-color: #f54d56;
  text-decoration: none;
  color: #fff;
  
}
.sale2 {
  position: relative;
}

.sale2>span {
  position: absolute;
  left: -55%;
  width: 80px;
  height: 38px;
  background-color: #f54d56;
  text-decoration: none;
  color: #fff;
}
.price>span {
  vertical-align: super;
  color: #717171;
  font: 700 10px / 30px OpenSans;
}

.brands {
  margin-bottom: 60px;
}

.brands>li {
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid #edecec;
  box-sizing: border-box;
  background-color:  #ffffff;
  width: 150px;
  height: 90px;
  margin: 0 20px; 
}

.brands>li:hover {
  border: 3px solid #ddd;
}

.brands>li a {
  display: block;
  padding: 25px 0 0;
  color: #e4e4e4;
  font: italic 700 25px OpenSans;
  text-decoration: none;
}

.brands>li span {
  display: block;
  color: #e4e4e4;
  font: 300 10px OpenSans;
}

/*Footer styling */
footer {
  background: -webkit-linear-gradient(90deg, #f8f8f8 0%, #fdfcfc 100%);
  background: -moz-linear-gradient(90deg, #f8f8f8 0%, #fdfcfc 100%);
  background: -o-linear-gradient(90deg, #f8f8f8 0%, #fdfcfc 100%);
  background: -ms-linear-gradient(90deg, #f8f8f8 0%, #fdfcfc 100%);
  background: linear-gradient(0deg, #f8f8f8 0%, #fdfcfc 100%);
  box-shadow: 0px -1px 0px 0px #f2f1f1;
  padding: 55px 0 85px;
  
}

.footer-main {
  border-bottom: 2px solid #e8e8e8;
}

.footer-list>li {
  display: inline-block;
}


h4 {
 color: #656363;
 font: 700 20px Lato;
 text-transform: capitalize;
}

#address1 {
  width: 173px;
  height: 39px;
  color: #868585;
  font: 400 14px / 25px Lato;
  text-transform: capitalize;
  margin-top: 25px;
}

#address2 {
  width: 125px;
  height: 39px;
  color: #868585;
  font: 400 14px / 25px Lato;
  text-transform: capitalize;
}

.tel {
  display: block;
  color: #717171;
  font: 700 14px / 40px Lato;
  text-decoration: none;
  margin-bottom: 25px;
}

.social>li {
  display: inline-block;
  margin-right: 15px;
}

.social>li a {
  display: block;
  text-decoration: none;
  text-indent: -9999px;
  opacity: 0.5;
}

.social>li a:hover {
  opacity: 1;
}

.fb {
  width: 11px;
  height: 19px;
  background: url(../images/social.png) no-repeat 0 0;
}

.twitter {
  width: 21px;
  height: 15px;
  background: url(../images/social.png) no-repeat -32px -2px;
  
}

.gplus {
 width: 10px;
 height: 19px;
 background: url(../images/social.png) no-repeat -75px 0;
}

.vimeo {
  width: 19px;
  height: 16px;
  background: url(../images/social.png) no-repeat -106px -3px;
  
}

.rss {
  width: 16px;
  height: 16px;
  background: url(../images/social.png) no-repeat -146px -3px;
}

.blog {
  margin-left: 7em;
  vertical-align: top;
  width: 294px;
}
.posts {
  list-style-type: none;
}

.posts li {
  margin: 23px 0;
}

h5>a {
  color: #717171;
  text-decoration: none;
  font: 700 16px / 25px Lato;
  text-transform: capitalize;
}

h5>a:hover {
  color: #f54d56;
  font: 700 16px / 25px Lato;
}

.posts span {
 color: #868585;
 font: 400 14px / 19px Lato; 
}

.support {
  vertical-align: top;
  margin-left: 30px;
  
}

.sup-list {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 50px;
}


.sup-list>li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #868585;
  font: 400 14px / 30px Lato;
}

.sup-list>li a:hover {
  color: #f54d56;
}

.menus {
  margin-top: 45px; 
  vertical-align: top;
  margin-left: 50px;
}

.menu-lists {
  list-style-type: none;
}

.menu-lists>li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #868585;
  font: 400 14px / 30px Lato;
}

.menu-lists>li a:hover {
  color: #f54d56;
}

.copyright {
  padding: 25px 0 0;
}
.copyright>span {
  color: #a6a6a6;
  font: 400 13px / 20px Lato;
  text-transform: capitalize;
}

.copyright>span a {
  text-decoration: none;
  color: #a6a6a6;
  font: 400 13px / 20px Lato;
  text-transform: lowercase;
}

.pixelhint {
  text-decoration: none;
  color: #939292 !important;
  font: 700 13px / 20px Lato;
  text-transform: capitalize !important;
}

.cards {
  float: right;
}

.cards>li {
  display: inline-block;
}