@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
    1.4. Common Styling
    1.5. Post Styling
    1.6. Post Responsive Styling
    ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, main, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
   	cursor: pointer;
   }

   strong {
   	font-weight: bold;
   	font-family: inherit;
   	font-size: inherit;
   }

   em { font-style: italic; }

   img {
   	border: 0;
   	vertical-align: middle;
   }

   sub,
   sup {
   	vertical-align: baseline;
   	position: relative;
   	font-size: 55%;
   	line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
	display: table;
	content: " ";
}

.cf:after { clear: both; }


/* 1.3. Declaring Font
========================================================================== */

body { font: 16px sans-serif, sans; }

/* ======================================================================
  1.4. Common Styling
=========================================================================
*/

body { box-sizing: border-box; }

.container { 
  box-sizing: border-box;
  max-width: 2000px;
  width: 100%; 
  margin: 0 auto;
}

.wrapper { 
  box-sizing: border-box;
  width: 90%;  
  margin: 0 auto;
}


.post-section { 
  box-sizing: border-box; 
  text-align: center;
}

a { text-decoration: none; }
h2 { 
  margin: 15px 0;
  font-size: 32px; 
}

/* ======================================================================
  1.5. Post Styling
=========================================================================
*/

.post-entry {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}

.post { 
  width: 30.5%;
  border: 0.5px solid #ddd;
  margin: 25px 1%;
  display: inline-block;
  font-size: 16px; 
  text-align: left;
}

.post a img { width: 100%; }
.post a { display: block; }
.post h3 { 
 margin: 10px 0;
 font-size: 24px; 
}
.post p { 
  margin: 10px 0;
  font-size: 14px; 
}

.entry-content { 
  box-sizing: border-box;
  padding: 20px;
}


/* ======================================================================
  1.6. Post Responsive Styling
=========================================================================
*/

@media screen and (max-width: 768px) {
  .post {
    width: 100%;
    margin: 0 0 30px;
  }
}
