@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
   	cursor: pointer;
   }

   strong {
   	font-weight: bold;
   	font-family: inherit;
   	font-size: inherit;
   }

   em { font-style: italic; }

   img {
   	border: 0;
   	vertical-align: middle;
   }

   sub,
   sup {
   	vertical-align: baseline;
   	position: relative;
   	font-size: 55%;
   	line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
	display: table;
	content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
 	font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
 	font-style: normal;
 	font-weight: bold;
 }

 /* Main container for web page starts from here*/
 .container {
 	margin: 0 auto;
 	width: 1200px;
 }

 /* Header starts from here*/
 header {
 	background-color: #fff;
 }

 /* Wrapper for wrapping header elements and maintain aspect ratio on zooming */
 header>.wrapper {
 	width: 896px;
 	margin: 0px auto;
 }

 h1 {
 	float: left;
 	margin: 40px 0px;
 }

 nav>ul {
 	float: right;
 }
 nav>ul>li {
 	display: inline-block;
 	font: 700 13px / 50px PTSans;
 	text-transform: uppercase;
 	margin: 30px 90px 30px 0px;
 }

 nav>ul>li>a {
 	text-decoration:none;
 	color: #a7a7a7;
 }
 /* Wrapper ends here */
 /* Header ends here */

 /*Banner section starts here */
 .banner {
   position:relative;
 }
 }

 .banner>img {
 	margin: auto;
 }

 .banner .wrapper {
 	width: 494px;
 	margin: 30px auto;
 	position: absolute;
 	top: 35%;
 	left: 30%;
 }

 .banner-content{
 	text-align: center;
 }

 h2 {
 	color: #303030;
 	font: 700 40px / 50px PTSans;
 	text-transform: uppercase;
 	
 }

 h2>span {
 	display:block;
 }

 .banner-content>span {
 	color: #5a5a5a;
 	font: italic 16px / 30px Georgia;
 }

 .banner-arrow {
 	text-align: center;
 	padding-top: 50px;
 }

 /*Banner section ends here */

 /* Featured work section starts from here */
 .features {
 	background: #fff;
 }

 .features .wrapper {
 	width: 920px;
 	margin: 50px auto;
 }

 .feature-head {
 	text-align: center;
 	width: 510px;
 	margin: 0 auto;
 }

 h3 {
 	color: #303030;
 	font: 700 30px / 50px PTSans;
 	text-transform: uppercase;
 	
 }

 h3>span {
 	padding: 10px 0px;
 	border-bottom: 2px solid #303030;
 }

 .feature-head p {
 	padding: 40px 0px;
 }

 .feature-content{
 	
 }

 .feature-content>li {
 	display:inline-block;
 	padding: 20px;
 }

 .feature-content>li>a>img:hover {
 	border: 1px solid black;
 }
 /* Featured work section ends here */

 /* Team section starts from here */
 .team {
 	background-color: #f2f2f2;
 	padding-bottom:60px;
 }
 .team>.wrapper {
 	width:920px;
 	margin:0px auto;
 	
 }

 .team-head {
 	width: 538px;
 	margin: 30px auto;
 	text-align: center;
 }

 .team-head p {
 	padding: 40px 0px;
 }

 .team-content>li {
 	display: inline-block;
 	width: 215px;
 	box-shadow: 2px 2px 5px #000;
 	margin: 5px;
 	height: 230px;
 	vertical-align: top;
 	text-align: center;
 }

 h4 {
 	text-transform: uppercase;
 	color: #303030;
 	font: 700 18px / 50px PTSans;
 }

 .team-content span {
 	color: #303030;
 	font: italic 12px Georgia;
 }

 .team-content>li>img {
 	margin-top: 25px;
 }

 .team-social>li {
 	display:inline-block;
 	padding: 10px;
 }
 /* Team section ends here */
 /*Contact section starts here*/
 .contact {
 	margin-bottom: 40px;
 }
 .contact .wrapper {
 	width: 912px;
 	margin: 0px auto;
 }

 .contact-head {
 	text-align: center;
 	padding:40px;
 }

 .contact-map {
 	display: inline-block;
 	width: 300px;
 }

 .contact-map p {
 	color: #5a5a5a;
 	font: 400 16px / 20px PTSans;
 	margin: 20px 0px 20px 5px;
 }

 .contact-msg {
 	display:inline-block;
 	width: 560px;
 	margin-left: 40px; 
 	vertical-align: top;
 }

 .contact-msg p {
 	color: #5a5a5a;
 	font: 400 16px / 20.833px PTSans;
 	margin: 20px 0px 35px 5px;
 
 }

 #email {
 	width:312px;
 	height: 40px;
 }

 #submit {
 	text-align: center;
 	vertical-align: top;
 	background:#004d99 center url(../images/send-contact.png) no-repeat;
 	width: 205px;
 	height:45px;
 	
 }
 /*Contact section ends here*/
 /*Footer starts here*/
 footer {
 	background-color: #333;
 	color: #949494;
 	font: 400 16px / 25px PTSans;
 }

 footer .wrapper {
 	width: 912px;
 	margin: 0px auto;
 	padding: 10px 0px;
 }

 .address {
 	float:left;
 }

 .copyright {
 	float:right;
 }

 .clearfix{
 	clear: both;
 }
 /*Footer ends here*/
