@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    3.1. Navigation / .navbar
  4. Main 
    4.1. 
    4.2. 
    4.3. 
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }


/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Common Styling */

.container { width: 100%;  }

.wrapper { 
  width: 93%;  
  margin: 0 auto;
}

a { 
  color: #fff;
  font: 16px sans-serif;
  text-decoration: none;  
}

/* ==========================================================================
  3. Header Styling
  ========================================================================== */

  header {
    width: 100%;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0.8;
  }

  /* Navigation Styling */
  nav,
  nav ul li,
  h1,
  .search-form { 
    display: inline-block; 
    vertical-align: middle;
  }

  nav { 
    margin-top: 0;
    width: 45%;  
    vertical-align: middle;
  }

  nav ul li { 

    padding: 10px 0 5px;
    border-top: 5px solid transparent;
    margin: 0px 10px; 
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    transition: 0.3s linear;
  }

  nav ul li a { display: block;  }

  nav ul li:hover { border-top: 5px solid #54d154;  }

  /*Logo styling*/
  h1 { 
    width: 10%;  
    text-align: center;
  }

  h1 a img {
    width: 70px;
    height: auto;
  }


  .search-form { 
    width: 44%; 
    padding-top: 10px;
    position: relative;
    text-align: right;

  }

  .search-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    font: 18px sans-serif;
  }
  .search-form ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    font: 18px sans-serif;
  }
  .search-form :-ms-input-placeholder { /* IE 10+ */
   color: #000;
   font: 18px sans-serif;
 }
 .search-form :-moz-placeholder { /* Firefox 18- */
  color: #000;
  font: 18px sans-serif;
}

/* Search Styling*/
#search-input { 
  width: 50%;
  padding: 5px 10px;
  border-color: transparent;
  -webkit-border-radius: 30px;  
  -moz-border-radius: 30px;  
  -ms-border-radius: 30px;  
  border-radius: 30px;  
  outline: none;
}

#search-btn { 
  width: 20px;
  height: 20px;
  margin: 5px 7px;
  border-color: transparent;
  position: absolute;  
  right: 0;
  background: url(../images/magnifying-glass34.png);
  background-size: 100%;
  background-repeat: no-repeat;

}


/* ==========================================================================
  3. Main Styling
  ========================================================================== */

  /*
  Banner Styling  ==============================================
  */

  .banner-section {

    background-image: url(../images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  /*Banner Content*/

  .banner-section .wrapper {  
    height: 100vh;
    position: relative; 
  }

  .banner-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }

  .banner-content h2 {
    color: #fff;
    font: bolder 54px sans-serif;
  }

  .banner-content a {
    padding: 10px 15px;
    border: 1px solid transparent;
    -webkit-border-radius: 30px;  
    -moz-border-radius: 30px;  
    -ms-border-radius: 30px;  
    border-radius: 30px;  
    margin: 30px 0;
    display: inline-block;
    background-color: #54d154;
    font: 25px sans-serif;
    text-transform: uppercase;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    transition: 0.3s linear;
  }


  .banner-content a:hover {
    border: 1px solid #54d154;
    background-color: #fff;
    color: #54d154;
  }


  /*Scroll Down Styling*/

  .scroll-down {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
  }

  .scroll-btn {
    padding: 5px 35px 5px 10px;
    -webkit-border-radius: 30px;  
    -moz-border-radius: 30px;  
    -ms-border-radius: 30px;  
    border-radius: 30px;  
    display: inline-block;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    transition: 0.3s linear;
    background-color: #fff;
    background-image: url(../images/arrow-down.png);
    background-position: right 20px center;
    background-repeat: no-repeat;
    color: #000;
  }


/*
  What We Do Styling  ==============================================
  */

  .section-heading {
    padding: 30px 0;
    text-align: center;
    font-family: sans-serif, sans;
  }

  .section-heading h3 {
    font: 35px/60px sans-serif, sans;
    text-transform: uppercase;
  }

  .section-heading h3:after {
    content: " ";
    display: block;
    width: 40px;
    border-bottom: 2px solid black;
    margin: 0 auto;
  }

  .section-heading p { 
    color: #636363;
    line-height: 45px; 
  }

  .section-content { 
    padding: 20px 0 75px;
    display: -webkit-flex;  
    display: -moz-flex;  
    display: flex;  
    flex-wrap: wrap;

  }

  .columns {
    width: 33%;
    font: 16px sans-serif, sans;
    text-align: center;
  }

  .columns h4 {
    margin: 20px 0 25px;
    font: 25px sans-serif, sans;
    text-transform: capitalize;
  }

  .columns p {
    padding: 0 30px;
    color: #636363;
  }

  .learn-more,
  .view-more {
    padding: 10px 15px;
    border: 1px solid transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    margin: 10px 0;
    display: inline-block;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    transition: 0.3s linear;
    background-color: #54d154;
  }

  .learn-more:hover {
    border-color: #54d154;
    background-color: #fff; 
    color: #54d154;
  }


  /* Latest Work Section*/

  .latest-work { 
    padding-bottom: 30px;
    background-color: #a9e3a9; 
    text-align: center;
  }

  .latest-work,
  .latest-work h3,
  .section-heading p,
  .latest-work a { color: #339333; }

  .latest-work h3:after { border-color: #339333; }


  .nav-tabs { 
    display: inline-block;
    border: 1px solid #339333;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
  }

  .nav-tabs li { 
    margin: 0 -2px;
    display: inline-block;
    border-right: 1px solid #339333;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    transition: 0.3s linear;
  }

  .nav-tabs li:first-child {
    -webkit-border-top-left-radius: 30px;
    -moz-border-top-left-radius: 30px;
    -ms-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    -ms-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .nav-tabs li:last-child { 
    border-right: 1px solid transparent;  
    -webkit-border-top-right-radius: 30px;
    -moz-border-top-right-radius: 30px;
    -ms-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    -ms-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .nav-tabs li a { 
    padding: 10px 15px;  
    display: block;
    text-transform: capitalize;
  }

  .nav-tabs li:hover { background-color: #339333; }
  .nav-tabs li:hover a { color: #fff; }

  .tabs { 
    width: 85%;  
    margin: 0 auto;
    padding: 35px 0 30px;
  }

  .tabs ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;

  }

  .tabs ul li { 
    width: 15%;  
    padding: 2%;
  }

  .tabs ul li a { display: block;  }
  .tabs ul li a img { 
    width: 100%;  
    height: auto;
  }

  #design,
  #print { display: none; }

  .latest-work .view-more  { color: #fff;  }

  .latest-work .view-more:hover {
    border-color: #54d154;
    background-color: #fff; 
    color: #339333;
  }